Repository dagster-io/dagster, pull requests merged in 2024-12, with the labels that each got.

#26169 docs: fix agent queues property in ECS config reference
  docs/content/dagster-plus/deployment/agents/amazon-ecs/configuration-reference.mdx
Labels: docs-to-migrate

#26262 [DA] Update docs
  docs/content/concepts/automation/declarative-automation/automation-conditions-explained.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/__init__.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/all_parents_condition.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_missing_upstreams.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/blocking_checks_condition.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/ignore_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/update_older_time_partitions.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/update_specific_older_partition.py
Labels: docs-to-migrate

#26158 [dagster-azure] live tests
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_nightly_pipeline.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/templates/helpers/instance/_compute-log-manager.tpl
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/defs.py
  integration_tests/test_suites/dagster-azure-live-tests/dagster.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  integration_tests/test_suites/dagster-azure-live-tests/setup.py
  integration_tests/test_suites/dagster-azure-live-tests/tox.ini
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_compute_log_manager.py
Labels: docs-to-migrate

#26186 [azure-docs][rfc] docs on setting up AKS agent
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
Labels: docs-to-migrate

#26157 [dagster-azure] fix azure compute log manager credentialing
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_nightly_pipeline.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/content/deployment/dagster-instance.mdx
  docs/next/public/images/dagster-cloud/azure/azure-blob-storage-logs.png
  docs/next/public/images/dagster-cloud/azure/dagster-cloud-code-locations.png
  docs/next/public/images/dagster-cloud/azure/github-actions-workflow.png
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/templates/helpers/instance/_compute-log-manager.tpl
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/defs.py
  integration_tests/test_suites/dagster-azure-live-tests/dagster.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  integration_tests/test_suites/dagster-azure-live-tests/setup.py
  integration_tests/test_suites/dagster-azure-live-tests/tox.ini
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/conftest.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_compute_log_manager.py
Labels: docs-to-migrate

#26092 [dagster-airlift] Operator Migration guides
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/operator-migration/bash-operator-dbt.mdx
  docs/content/integrations/airlift/operator-migration/overview.mdx
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/bash_operator_dbt.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_dbt_assets.py
Labels: docs-to-migrate

#26093 [dagster-airlift] KubernetesPodOperator guide
  docs/content/_navigation.json
  docs/content/integrations/airlift/operator-migration/kubernetes-pod-operator.mdx
  docs/content/integrations/airlift/operator-migration/overview.mdx
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/k8s_eks_fake_example.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/kubernetes_pod_operator.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_k8s_pipes.py
Labels: docs-to-migrate

#26096 [dagster-airlift] Python operator docs
  docs/content/_navigation.json
  docs/content/integrations/airlift/operator-migration/bash-operator-general.mdx
  docs/content/integrations/airlift/operator-migration/overview.mdx
  docs/content/integrations/airlift/operator-migration/python-operator.mdx
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/bash_operator_general.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/pyop_asset_shared.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/pyop_multi_asset_complete.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/python_operator.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/shared.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_pipes_subprocess.py
Labels: docs-to-migrate

#26115 [dagster-airlift] Move cheatsheet to equivalents page
  docs/content/integrations/airlift/airflow-dagster-equivalents.mdx
Labels: docs-to-migrate

#26116 [dagster-airlift] Update equivalencies page
  docs/content/integrations/airlift/airflow-dagster-equivalents.mdx
Labels: docs-to-migrate

#26113 [dagster-airlift] Migration best practices
  docs/content/integrations/airlift/reference.mdx
Labels: docs-to-migrate

#26089 [dagster-airlift] Airflow 1 content
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/airflow-1-migration.mdx
  docs/content/integrations/airlift/airflow-dagster-equivalents.mdx
  docs/content/integrations/airlift/operator-migration/bash-operator-dbt.mdx
  docs/content/integrations/airlift/operator-migration/bash-operator-general.mdx
  docs/content/integrations/airlift/operator-migration/kubernetes-pod-operator.mdx
  docs/content/integrations/airlift/operator-migration/overview.mdx
  docs/content/integrations/airlift/operator-migration/python-operator.mdx
  docs/content/integrations/airlift/reference.mdx
  examples/airlift-migration-tutorial/snippets/airflow_1_dbt.py
  examples/airlift-migration-tutorial/snippets/airflow_1_migrated.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/airflow_dag.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/airflow_data_interval.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/airflow_hook.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/airflow_sensor.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/airflow_task.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/airflow_xcom.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/custom_operator.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/dagster_asset.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/dagster_partition.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/dagster_resource.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/dagster_sensor.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/factory_asset.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/scheduled_asset.py
  examples/docs_snippets/docs_snippets/integrations/airlift/equivalents/task_equiv_asset.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/bash_operator_dbt.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/bash_operator_general.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/k8s_eks_fake_example.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/kubernetes_pod_operator.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/pyop_asset_shared.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/pyop_multi_asset_complete.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/python_operator.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/shared.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_dbt_assets.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_k8s_pipes.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_pipes_subprocess.py
Labels: docs-to-migrate

#26025 [docs] Move legacy Fivetran docs
  docs/content/_navigation.json
  docs/content/integrations/fivetran/fivetran-legacy.mdx
  docs/content/integrations/fivetran/fivetran.mdx
Labels: docs-to-migrate

#26026 [docs] Add docs for reworked Fivetran API
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/fivetran/fivetran.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-fivetran.rst
  examples/docs_snippets/docs_snippets/integrations/fivetran/customize_fivetran_asset_defs.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/customize_fivetran_translator_asset_spec.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/multiple_fivetran_workspaces.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/representing_fivetran_assets.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/sync_and_materialize_fivetran_assets.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Labels: docs-to-migrate

#26336 Fix typos in asset check docs
  docs/content/concepts/assets/asset-checks.mdx
Labels: docs-to-migrate

#26397 [azure-docs] refine deployment with ACR docs
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
Labels: docs-to-migrate

#26407 [azure-docs] refine AzureBlobComputeLogManager guide
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
Labels: docs-to-migrate

#26490 Update beta-docs README and CONTRIBUTING
  docs/docs-beta/CONTRIBUTING.md
  docs/docs-beta/README.md
Labels: area:docs-revamp

#26526 DOC-629 remove outdated airflow pipeline observation doc
  docs/content/_navigation.json
  docs/content/guides/migrations.mdx
  docs/content/guides/migrations/observe-your-airflow-pipelines-with-dagster.mdx
  docs/content/integrations/airflow.mdx
Labels: area: docs

#26554 Add custom colors to markdown code block for syntax highlighting
  js_modules/dagster-ui/packages/ui-core/src/pipelines/Description.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
Labels: area: UI/UX

#26552 DOC-621 Clean up Serverless docs and Dagster+ getting started page
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/security.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
Labels: area:docs-revamp

#26477 [docs-beta] migrate - dagster-cloud-cli docs
  docs/docs-beta/docs/dagster-plus/deployment/management/dagster-cloud-cli/dagster-cloud-cli-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/management/dagster-cloud-cli/installing-and-configuring.md
Labels: area:docs-revamp

#26480 [docs-beta] migrate - agent-config.md
  docs/docs-beta/docs/dagster-plus/deployment/management/environment-variables/agent-config.md
  docs/docs-beta/docs/dagster-plus/deployment/management/environment-variables/agent-config.mdx
  docs/docs-beta/static/images/dagster-cloud/developing-testing/code-locations/redeploy-code-location.png
  docs/docs-beta/static/images/dagster-cloud/developing-testing/environment-variables/aws-ecs-cloudformation-template.png
  docs/docs-beta/static/images/dagster-cloud/developing-testing/environment-variables/aws-ecs-save-template.png
Labels: area:docs-revamp

#26505 [docs-beta] migrate - kubernetes agent docs
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/configuration.md
Labels: area:docs-revamp

#26502 [docs-beta] migrate - rate limits doc
  docs/docs-beta/docs/dagster-plus/deployment/management/rate-limits.md
Labels: area:docs-revamp

#26500 [docs-beta] migrate - managing compute logs and error messages
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
  docs/docs-beta/static/images/dagster-cloud/logs-error-messages/configure-redact-env-var.png
  docs/docs-beta/static/images/dagster-cloud/logs-error-messages/masked-err-message.png
Labels: area:docs-revamp

#26506 [docs-beta] migrate - docker agent docs
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/docker/configuration.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/docker/setup.md
  docs/docs-beta/static/images/dagster-cloud/agents/dagster-cloud-instance-status.png
Labels: area:docs-revamp

#26509 [docs-beta] migrate - Insights docs (export)
  docs/docs-beta/docs/dagster-plus/features/insights/export-metrics.md
Labels: area:docs-revamp

#26503 [docs-beta] migrate - code locations docs
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
Labels: area:docs-revamp

#26501 [docs-beta] migrate - managing multiple projects and teams doc
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-multiple-projects-and-teams.md
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/isolation-level-agents.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/isolation-level-code-locations.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/isolation-level-deployments.png
Labels: area:docs-revamp

#26628 [docs] add note of defer_table_reflect to dlt docs
  docs/content/integrations/embedded-elt/dlt.mdx
Labels: docs-to-migrate

#23724 Update backfills docs with more up to date info on single runs
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
Labels: area: docs, docs-to-migrate

#17373 [docs] change HTTPS to HTTP in GraphQL API example
  docs/content/concepts/webserver/graphql.mdx
Labels: area: docs, docs-to-migrate

#25260 [DOC-538] guide for writing a multi-asset integration
  docs/docs-beta/docs/tutorial/multi-asset-integration.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/multi-asset-integration/integration.py
Labels: area: docs

#26646 migrated multiple agent page
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/multiple.md
Labels: area: docs, area:docs-revamp

#26642 added completed project for code references
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial_completed/etl_tutorial/assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial_completed/etl_tutorial/definitions.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial_completed/etl_tutorial/partitions.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial_completed/etl_tutorial/schedules.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial_completed/etl_tutorial/sensors.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
Labels: area: docs

#26508 [docs-beta] migrate - CI/CD docs
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/dagster-cloud-cli.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/ci-cd-file-reference.md
  docs/docs-beta/docs/integrations/libraries/duckdb.md
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/change-tracking-code-version.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/change-tracking-dependencies.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/change-tracking-metadata.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/change-tracking-new.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/change-tracking-partitions.png
  docs/docs-beta/static/images/dagster-cloud/managing-deployments/change-tracking-tags.png
  docs/docs-beta/static/images/guides/development_to_production/branch_deployments/instance_overview.png
  docs/docs-beta/static/images/guides/development_to_production/branch_deployments/snowflake.png
Labels: area:docs-revamp

#26510 [docs-beta] migrate - authentication and access control docs
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/rbac/users.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/scim/enabling-scim-provisioning.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/scim/index.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/scim/okta-scim.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/sso/authentication.md
  docs/docs-beta/static/images/dagster-cloud/sso/dagster-cloud-external-user.png
  docs/docs-beta/static/images/dagster-cloud/sso/okta/provisioning-tab.png
  docs/docs-beta/static/images/dagster-cloud/sso/okta/provisioning-to-app-create-users.png
  docs/docs-beta/static/images/dagster-cloud/sso/okta/scim-sign-on-tab.png
  docs/docs-beta/static/images/dagster-cloud/sso/scim-unsynced-user.png
Labels: area:docs-revamp

#26596 [docs] Include Polars as supported Pandera backend
  docs/content/integrations/pandera.mdx
Labels: docs-to-migrate

#26676 DOC 600 ecs agent docs migration
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/configuration-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/manual-provision.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/upgrading-cloudformation.md
  docs/docs-beta/static/images/dagster-cloud/agents/aws-ecs-stack-wizard-existing.png
  docs/docs-beta/static/images/dagster-cloud/agents/aws-ecs-stack-wizard-new.png
  docs/docs-beta/static/images/dagster-cloud/agents/aws-ecs-stack-wizard.png
Labels: area: docs, docs-to-migrate

#26595 [docs] Add docs for reworked Airbyte Cloud API
  docs/content/integrations/airbyte/airbyte-cloud.mdx
  examples/docs_snippets/docs_snippets/integrations/airbyte-cloud/__init__.py
  examples/docs_snippets/docs_snippets/integrations/airbyte-cloud/customize_airbyte_cloud_asset_defs.py
  examples/docs_snippets/docs_snippets/integrations/airbyte-cloud/customize_airbyte_cloud_translator_asset_spec.py
  examples/docs_snippets/docs_snippets/integrations/airbyte-cloud/multiple_airbyte_cloud_workspaces.py
  examples/docs_snippets/docs_snippets/integrations/airbyte-cloud/representing_airbyte_cloud_assets.py
  examples/docs_snippets/docs_snippets/integrations/airbyte-cloud/sync_and_materialize_airbyte_cloud_assets.py
Labels: docs-to-migrate

#26763 fix Azure doc link rendering
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/sphinx/conf.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
Labels: area: api-docs
