Repository dagster-io/dagster, pull requests merged in 2024-02, with the labels that each got.

#19641 [docs] - Update I/O manager concept page (DOC-129)
  docs/content/concepts/io-management/io-managers.mdx
Labels: area: docs

#19557 Renamed orders_id_is_unique by orders_id_has_no_nulls
  docs/content/concepts/assets/asset-checks.mdx
Labels: area: docs

#19626 [docs] - Update Airflow integration page intro
  docs/content/integrations/airflow.mdx
Labels: area: docs

#19713 [docs] - Fix JSX issue in Hello Dagster
  docs/content/getting-started/hello-dagster.mdx
Labels: area: docs

#19846 [docs] - Reflect support for Python 3.12 (DOC-144)
  docs/content/about/releases.mdx
  docs/content/dagster-cloud/deployment/serverless.mdx
  docs/next/components/mdx/includes/dagster/DagsterVersion.mdx
  docs/next/markdoc/partials/DagsterVersion.md
  docs/next/pages/getting-started/install.md
Labels: area: docs

#19869 [daggy-u] [essentials] - Update Python and Dagster versions
  docs/dagster-university/pages/dagster-essentials/lesson-2/requirements-and-installation.md
Labels: area: dagster-university

#19873 Strong production warning for dagster dev
  docs/content/guides/running-dagster-locally.mdx
Labels: area: docs

#19689 [docs] note how to disconnect Slack workspace in Alerts
  docs/content/dagster-cloud/managing-deployments/setting-up-alerts.mdx
Labels: area: docs

#19596 [docs] Deleted empty code block
  docs/dagster-university/pages/dagster-essentials/lesson-9/creating-an-asset-triggered-by-a-sensor.md
Labels: area: docs

#18700 fix docs links
  docs/content/guides/dagster-pipes/aws-lambda.mdx
  docs/content/guides/dagster-pipes/kubernetes.mdx
  docs/content/guides/dagster-pipes/subprocess.mdx
Labels: area: docs

#19778 [docs][insights] add note about running pipeline in single code location
  docs/content/dagster-cloud/insights/integrating-snowflake-and-dbt.mdx
  docs/content/dagster-cloud/insights/integrating-snowflake.mdx
Labels: area: docs

#19913 [docs] - Update Helm guide instructions (DOC-148)
  docs/content/deployment/guides/kubernetes/deploying-with-helm.mdx
Labels: area: docs

#19911 [fix] - dagster-deltalake: make storage backend options return a string dict
  python_modules/libraries/dagster-deltalake/dagster_deltalake/config.py
  python_modules/libraries/dagster-deltalake/dagster_deltalake/resource.py
  python_modules/libraries/dagster-deltalake/dagster_deltalake_tests/test_delta_table_resource.py
Labels: area: integrations

#19919 [docs] fix PyObject references for `PipesLambdaClient` (DOC-147)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/guides/dagster-pipes/aws-lambda.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
Labels: area: docs

#19526 Support for Python log filters
  docs/content/concepts/logging/python-logging.mdx
  examples/docs_snippets/docs_snippets/concepts/logging/python_logging_handler_config.yaml
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster_tests/logging_tests/test_logging.py
Labels: area: logging

#19952 [docs] introduce script to find missing pyobject sphinx references
  docs/scripts/validate-pyobjects.py
Labels: area: docs

#19922 [docs] include resource_defs in example call to with_resource
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/execution/with_resources.py
Labels: area: docs

#19963 apidoc for multi_observable_source_asset
  docs/sphinx/sections/api/apidocs/assets.rst
Labels: area: docs

#19993 [docs] increase admonition padding to 4 all around
  docs/next/components/markdoc/Callouts.tsx
Labels: area: docs

#20008 [docs] - Remove brackets from assets in Airbyte Cloud guide
  docs/content/integrations/airbyte-cloud.mdx
  examples/docs_snippets/docs_snippets/integrations/airbyte/airbyte.py
Labels: area: docs

#20011 [docs] include reference to external_assets_from_specs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/assets/external-assets.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/assets.rst
Labels: area: docs

#19268 [docs] remove I/O managers from tutorial (DOC-107)
  docs/content/_navigation.json
  docs/content/concepts/io-management/io-managers.mdx
  docs/content/tutorial.mdx
  docs/content/tutorial/connecting-to-external-services.mdx
  docs/content/tutorial/saving-your-data.mdx
  docs/content/tutorial/scheduling-your-pipeline.mdx
  examples/docs_snippets/docs_snippets/concepts/io_management/no_io_assets_examples.py
  examples/docs_snippets/docs_snippets/tutorial/connecting/connecting.py
  examples/docs_snippets/docs_snippets/tutorial/saving/__init__.py
  examples/docs_snippets/docs_snippets/tutorial/saving/add_db_io_manager.py
  examples/docs_snippets/docs_snippets/tutorial/saving/add_fs_io_manager.py
  examples/docs_snippets/docs_snippets/tutorial/saving/assets.py
  examples/docs_snippets/docs_snippets/tutorial/saving/update_assets_to_use_io.py
  examples/docs_snippets/docs_snippets_tests/tutorial_tests/connecting/test_resources.py
  examples/docs_snippets/docs_snippets_tests/tutorial_tests/saving/__init__.py
  examples/docs_snippets/docs_snippets_tests/tutorial_tests/saving/test_io_managers.py
Labels: area: docs

#19785 Document agent token permissions
  docs/content/dagster-cloud/account/managing-user-agent-tokens.mdx
Labels: area: docs

#19968 [daggy-u] [dbt] - Lesson 4, fetch your run artifacts
  docs/dagster-university/pages/dagster-dbt/lesson-4/4-customizing-your-execution.md
Labels: area: dagster-university

#19865 [daggy-u] [dbt] - Lesson 1 (DEV-61)
  docs/content/integrations/dbt.mdx
  docs/dagster-university/pages/dagster-dbt/lesson-1/1-whats-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-1/2-why-use-dbt-and-dagster-together.md
  docs/dagster-university/pages/dagster-dbt/lesson-1/3-how-do-dbt-models-relate-to-dagster-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-1/4-project-preview.md
  docs/dagster-university/pages/dagster-essentials.md
  docs/dagster-university/pages/index.md
  docs/dagster-university/public/images/dagster-dbt/lesson-1/example-asset-graph.png
Labels: area: dagster-university

#19928 [daggy-u] [dbt] - Add Lesson 4 (DEV-58)
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/2-speeding-up-the-development-cycle.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/3-debugging-failed-runs.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/4-customizing-your-execution.md
  docs/dagster-university/public/images/dagster-dbt/lesson-4/std-zones-success.png
  docs/dagster-university/public/images/dagster-dbt/lesson-4/stg-zones-code-version.png
  docs/dagster-university/public/images/dagster-dbt/lesson-4/stg-zones-stdout-failure.png
Labels: area: dagster-university

#19947 [daggy-u] [dbt] - Add Lesson 5 (DEV-57)
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/2-connecting-dbt-models-to-dagster-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/4-automating-dbt-models-in-dagster.md
  docs/dagster-university/public/images/dagster-dbt/lesson-5/new-location-metrics-asset.png
Labels: area: dagster-university

#19955 [daggy-u] [dbt] - Add Lesson 6 (DEV-56)
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/2-creating-a-simple-incremental-model.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/3-creating-a-partitioned-dbt-asset.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/4-lesson-recap.md
Labels: area: dagster-university

#20096 [daggy-u] [dbt] - Add Lesson 7 (DEV-55)
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/2-pushing-the-project-to-github.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/3-setting-up-dagster-cloud.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-with-github-actions.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
  docs/dagster-university/public/images/dagster-dbt/lesson-7/asset-graph.png
  docs/dagster-university/public/images/dagster-dbt/lesson-7/successful-cloud-setup.png
Labels: area: dagster-university

#20103 [daggy-u- [dbt] - Minor corrections
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-2/1-requirements.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/3-defining-the-dbt-project-location-in-dagster.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/knowledge-check.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/coding-practice-grouping-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/3-creating-a-partitioned-dbt-asset.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Labels: area: dagster-university

#20116 [du-dbt] updating-post-2-27-dogfooding
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-2/1-requirements.md
  docs/dagster-university/pages/dagster-dbt/lesson-2/2-set-up-the-dagster-project.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/5-loading-dbt-models-into-dagster-as-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/7-viewing-dbt-models-in-the-dagster-ui.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/knowledge-check.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/2-speeding-up-the-development-cycle.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/2-connecting-dbt-models-to-dagster-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/coding-practice-grouping-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
Labels: area: dagster-university

#20136 🐛 Fix missing property definition
  python_modules/dagster/dagster/_core/definitions/partition.py
Labels: area: config

#19940 [docs] add example of writing compute logs to S3 when customizing agent configuration
  docs/content/dagster-cloud/deployment/agents/customizing-configuration.mdx
Labels: area: docs

#20105 Document new features in run retries, make difference between OSS and cloud clearer
  docs/content/dagster-cloud/managing-deployments/deployment-settings-reference.mdx
  docs/content/deployment/run-retries.mdx
  python_modules/dagster/dagster/_core/instance/config.py
Labels: area: docs

#20128 Update managing user token perms docs
  docs/content/dagster-cloud/account/managing-user-agent-tokens.mdx
  docs/content/dagster-cloud/account/managing-users/managing-user-roles-permissions.mdx
Labels: area: docs

#20109 Document running multiple isolated agents with separate queues
  docs/content/dagster-cloud/deployment/agents/amazon-ecs/configuration-reference.mdx
  docs/content/dagster-cloud/deployment/agents/running-multiple-agents.mdx
Labels: area: docs
