Repository dagster-io/dagster, pull requests merged in 2024-05, with the labels that each got.

#21544 on loggers concept page, avoid JSON-serializing DagsterEvents in example
  docs/content/concepts/logging/custom-loggers.mdx
  examples/docs_snippets/docs_snippets/concepts/logging/custom_logger.py
Labels: area: docs

#21035 Fix helper webserver command
  helm/dagster/templates/deployment-webserver.yaml
  helm/dagster/templates/helpers/_helpers.tpl
Labels: deployment: k8s

#21293 test(looker): add `retail_demo` project
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/dashboards/address_deepdive.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/dashboards/customer_segment_deepdive.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/dashboards/group_overview.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/dashboards/item_affinity_analysis.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/dashboards/store_deepdive.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/explores/omni_channel.explores.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/manifest.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/models/omni_channel.model.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/models/retail_block_model.model.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/c360.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/c360.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/campaign_activation.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/cust_deep_dive.dashboard.lookml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/customer_event_fact.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/customer_support_fact.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/customer_transaction_fact.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/customers.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/omni_channel_events.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/omni_channel_support_calls.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/omni_channel_transactions.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/omni_channel/retail_clv_predict.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/affinity_analysis.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_dim_channels.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_dim_customers.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_dim_products.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_dim_stores.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_events.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_transaction_line_items.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/base_transactions.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/category_lookup.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/customer_clustering.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/customer_facts.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/customer_transaction_sequence.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/date_comparison.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/stock_forecasting.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/store_weather.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/retail_demo/views/transaction_detail_ndt.view.lkml
Labels: area: docs

#21572 [deocs] - Add troubleshooting guide for Schedules (DOC-195)
  docs/content/concepts/automation/schedules/troubleshooting.mdx
  docs/next/public/images/concepts/automation/schedules/schedules-enabled-toggle.png
  docs/next/public/images/concepts/automation/schedules/schedules-next-tick.png
Labels: area: docs

#21609 fix "an asset definitions" typos
  docs/content/concepts/assets/software-defined-assets.mdx
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
Labels: area: docs

#21660 Fix broken link in Dagster+ Hybrid Agents docs
  docs/content/dagster-plus/deployment/agents.mdx
Labels: area: docs

#21662 [docs] redirect dagster-cloud /dagster-plus/deployment/agents/kubernetes
  docs/next/util/redirectUrls.json
Labels: area: docs

#21567 refactor build freshness checks to return list
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/materializable_freshness_complete.py
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/materializable_freshness_in_pieces.py
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/source_data_freshness_complete.py
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/source_data_freshness_in_pieces.py
  python_modules/dagster-test/dagster_test/toys/freshness_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/last_update.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/time_partition.py
  python_modules/dagster/dagster_tests/definitions_tests/freshness_checks_tests/test_last_update_freshness.py
  python_modules/dagster/dagster_tests/definitions_tests/freshness_checks_tests/test_sensor.py
  python_modules/dagster/dagster_tests/definitions_tests/freshness_checks_tests/test_time_partition_freshness.py
Labels: area: docs

#21661 remove lingering references to __dagster_no_value in docs
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dagster_dbt_translator.py
Labels: area: docs

#21673 [du][dbt] going for parity with directory name
  docs/dagster-university/pages/dagster-dbt/lesson-2/1-requirements.md
Labels: area: dagster-university

#21610 Update asset-selection-syntax.mdx
  docs/content/concepts/assets/asset-selection-syntax.mdx
Labels: area: docs

#21664 [docs] wildcard dagster plus redirects
  docs/next/util/redirectUrls.json
Labels: area: docs

#21706 PyObject link for PipesSubprocessClient
  docs/content/concepts/dagster-pipes/subprocess.mdx
Labels: area: docs

#21715 [docs] sphinx include _PipesSubprocess
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/pipes.rst
Labels: area: docs

#21564 [docs] - Subsetting asset checks (DOC-162)
  docs/content/_navigation.json
  docs/content/concepts/assets/asset-checks.mdx
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  docs/content/concepts/assets/asset-checks/subsetting-asset-checks.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/multi_asset_check.py
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/subset_check_multi_asset.py
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/subset_multi_asset_check.py
Labels: area: docs

#21719 Add TreatAsResourceParam; Use it for K8sPipeClient
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/resource_annotation.py
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
Labels: area: docs

#21724 Convert all Pipes clients to use TreatAsResourceParam
  docs/sphinx/sections/api/apidocs/pipes.rst
  python_modules/dagster/dagster/_core/pipes/subprocess.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_telemetry.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/in_process_client.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-docker/dagster_docker/pipes.py
Labels: area: docs

#21604 doc: serverless to hybrid transition
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: area: docs

#21326 bump databricks-sdk version to 0.17.0 (fixes: 21232)
  python_modules/libraries/dagster-databricks/setup.py
Labels: integration: databricks

#21729 Update dagster-datadog example for DatadogResource
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-datadog/dagster_datadog/resources.py
Labels: area: docs

#21748 [embedded-elt][dlt] add progress='log' to examples
  docs/content/integrations/embedded-elt/dlt.mdx
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
Labels: area: docs

#21606 [docs] - Add testing guide for schedules (DOC-192)
  docs/content/concepts/automation/schedules/testing.mdx
  docs/next/public/images/concepts/automation/schedules/testing-select-timestamp-page.png
Labels: area: docs

#21707 [docs] - Improve Pipes API docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
  docs/sphinx/sections/api/apidocs/pipes.rst
Labels: area: docs

#21735 [docs] - Add examples page for Schedules (DOC-191)
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  docs/content/concepts/automation/schedules/examples.mdx
Labels: area: docs

#21725 [du] updating based on API changes from 1dot7
  docs/dagster-university/pages/dagster-essentials/extra-credit/materialization-metadata.md
  docs/dagster-university/pages/dagster-essentials/lesson-7/coding-practice-weekly-update-job.md
  docs/dagster-university/pages/dagster-essentials/lesson-7/what-are-schedules.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/adding-partitions-to-assets.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/coding-practice-partition-taxi-trips.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/coding-practice-partition-trips-by-week.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/creating-a-schedule-with-a-date-based-partition.md
  docs/dagster-university/pages/dagster-essentials/lesson-9/building-the-sensor.md
  docs/dagster-university/pages/dagster-essentials/lesson-9/creating-a-job.md
Labels: area: dagster-university

#21726 [du] full sending on type annotations
  docs/dagster-university/pages/dagster-essentials/extra-credit/asset-metadata-as-markdown.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/coding-practice-metadata-taxi-zones-file.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/definition-metadata-asset-descriptions.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/definition-metadata-asset-groups.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/materialization-metadata.md
  docs/dagster-university/pages/dagster-essentials/lesson-3/asset-materialization.md
  docs/dagster-university/pages/dagster-essentials/lesson-3/coding-practice-taxi-zones-file-asset.md
  docs/dagster-university/pages/dagster-essentials/lesson-3/defining-your-first-asset.md
  docs/dagster-university/pages/dagster-essentials/lesson-3/troubleshooting-failed-runs.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/assets-with-in-memory-computations.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/coding-practice-taxi-zones-asset.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/coding-practice-trips-by-week-asset.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/loading-data-into-a-database.md
  docs/dagster-university/pages/dagster-essentials/lesson-6/coding-practice-refactoring-assets.md
  docs/dagster-university/pages/dagster-essentials/lesson-6/setting-up-a-database-resource.md
  docs/dagster-university/pages/dagster-essentials/lesson-6/using-resources-in-assets.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/adding-partitions-to-assets.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/coding-practice-partition-taxi-trips.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/coding-practice-partition-trips-by-week.md
  docs/dagster-university/pages/dagster-essentials/lesson-9/creating-an-asset-triggered-by-a-sensor.md
Labels: area: dagster-university

#21828 Resolution for issue #21698
  helm/dagster/charts/dagster-user-deployments/values.yaml
  helm/dagster/values.yaml
Labels: area: docs

#21832 docs(looker): add API docs for `dagster-looker`
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  docs/tox.ini
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/asset_decorator.py
Labels: area: docs

#21817 Add existing Dagster project example to dbt quickstart
  docs/content/integrations/dbt/quickstart.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/quickstart.py
Labels: area: docs

#21833 refactor(looker): build dashboard specs in a utility function
  python_modules/libraries/dagster-looker/dagster_looker/asset_decorator.py
  python_modules/libraries/dagster-looker/dagster_looker/asset_utils.py
Labels: area: docs

#21847 [docs] fix relative links from libraries
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/scripts/pack_json.py
Labels: area: docs

#21868 [docs] set feedback modal position as fixed
  docs/next/components/FeedbackModal.tsx
Labels: area: docs

#21676 Alert section for freshness checks
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  docs/content/dagster-plus/managing-deployments/alerts.mdx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/components/mdx/includes/dagster-cloud/AssetCheckAlerts.mdx
Labels: area: docs

#21903 Update telemetry docs
  docs/content/about/telemetry.mdx
Labels: area: docs

#21240 Add quickstart example for dbt & Dagster
  docs/content/_navigation.json
  docs/content/integrations/dbt/quickstart.mdx
  docs/next/public/images/integrations/dbt/quickstart/asset_graph.png
  examples/docs_snippets/docs_snippets/integrations/dbt/quickstart/with_project.py
  examples/docs_snippets/docs_snippets/integrations/dbt/quickstart/with_single_file.py
Labels: area: docs

#21557 Migrate MDX doc components to Markdoc tags
  docs/content/dagster-plus/deployment/agents/amazon-ecs/configuration-reference.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/ArticleList.tsx
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/markdoc/Button.tsx
  docs/next/components/markdoc/Callouts.tsx
  docs/next/components/markdoc/CheckCross.tsx
  docs/next/components/markdoc/CodeReferenceLink.tsx
  docs/next/components/markdoc/Image.tsx
  docs/next/components/markdoc/ReferenceTable.tsx
  docs/next/markdoc/config.js
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/next/util/getColorForString.ts
  docs/next/util/unpackText.ts
Labels: area: docs, area: dagster-university

#21967 [du] updating to say install 1dot7
  docs/dagster-university/pages/dagster-essentials/lesson-2/requirements-and-installation.md
Labels: area: dagster-university

#21877 [docs] fix malformed github link when asPath is root '/'
  docs/next/pages/_app.tsx
Labels: area: docs

#21824 [dagster-yaml] yaml pydantic parsing utils
  python_modules/dagster/dagster/_model/pydantic_compat_layer.py
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster/_utils/source_position.py
  python_modules/dagster/dagster/_utils/yaml_utils.py
  python_modules/dagster/dagster_tests/utils_tests/test_pydantic_yaml.py
  python_modules/dagster/dagster_tests/utils_tests/test_source_position.py
Labels: area: docs

#21630 metadata bounds asset checks
  docs/sphinx/sections/api/apidocs/asset-checks.rst
  python_modules/dagster-test/dagster_test/toys/asset_checks.py
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/metadata_bounds_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/utils.py
  python_modules/dagster/dagster_tests/definitions_tests/test_metadata_bounds_checks.py
Labels: area: docs

#22025 Revert "Migrate MDX doc components to Markdoc tags (#21557)"
  docs/content/dagster-plus/deployment/agents/amazon-ecs/configuration-reference.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/ArticleList.tsx
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/markdoc/Button.tsx
  docs/next/components/markdoc/Callouts.tsx
  docs/next/components/markdoc/CheckCross.tsx
  docs/next/components/markdoc/CodeReferenceLink.tsx
  docs/next/components/markdoc/Image.tsx
  docs/next/components/markdoc/ReferenceTable.tsx
  docs/next/markdoc/config.js
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/next/util/getColorForString.ts
  docs/next/util/unpackText.ts
Labels: area: docs

#22030 Docs/mdx component to markdoc
  docs/content/dagster-plus/deployment/agents/amazon-ecs/configuration-reference.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/ArticleList.tsx
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/markdoc/Button.tsx
  docs/next/components/markdoc/Callouts.tsx
  docs/next/components/markdoc/CheckCross.tsx
  docs/next/components/markdoc/CodeReferenceLink.tsx
  docs/next/components/markdoc/Image.tsx
  docs/next/components/markdoc/ReferenceTable.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/config.js
  docs/next/markdoc/nodes/index.ts
  docs/next/markdoc/nodes/link.markdoc.ts
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/next/util/getColorForString.ts
  docs/next/util/unpackText.ts
Labels: area: docs, area: dagster-university

#22034 [docs] - Add guide for schedule timezone execution (DOC-238)
  docs/content/concepts/automation/schedules/customizing-executing-timezones.mdx
  docs/content/concepts/automation/schedules/examples.mdx
  docs/content/concepts/partitions-schedules-sensors/schedules.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/partition_with_timezone.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/schedules.py
Labels: area: docs

#22001 [docs] - Add guide for schedules + partitioned jobs (DOC-237)
  docs/content/concepts/automation/schedules/examples.mdx
  docs/content/concepts/automation/schedules/partitioned-schedules.mdx
  docs/content/concepts/partitions-schedules-sensors/partitioning-ops.mdx
  docs/content/concepts/partitions-schedules-sensors/schedules.mdx
  docs/content/concepts/partitions-schedules-sensors/testing-partitions.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/partitioned_config_test.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/partitioned_job.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/partitioned_job_test.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedule_from_partitions.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/static_partitioned_asset_job.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/partitions_schedules_sensors_tests/test_partitioned_job.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/partitions_schedules_sensors_tests/test_schedule_from_partitions.py
Labels: area: docs

#22049 [daggy-u] - Remove asterisks from code snippet
  docs/dagster-university/pages/dagster-essentials/lesson-9/updating-the-definitions-object.md
Labels: area: dagster-university

#22045 [docs] Remove incorrect dagster-plus CLI command
  docs/content/dagster-plus/managing-deployments/alerts/email.mdx
  docs/content/dagster-plus/managing-deployments/alerts/managing-alerts-cli.mdx
  docs/content/dagster-plus/managing-deployments/alerts/microsoft-teams.mdx
  docs/content/dagster-plus/managing-deployments/alerts/pagerduty.mdx
  docs/content/dagster-plus/managing-deployments/alerts/slack.mdx
  examples/docs_snippets/docs_snippets/dagster_cloud/alerts/cli_commands.yaml
Labels: area: docs

#21838 [docs] - Update Schedule API docs (DOC-236)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
  python_modules/dagster/dagster/_core/definitions/decorators/schedule_decorator.py
  python_modules/dagster/dagster/_core/definitions/partitioned_schedule.py
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
  python_modules/dagster/dagster/_core/scheduler/scheduler.py
Labels: area: docs

#22069 [docs] - Update Hybrid architecture diagram (DOC-243)
  docs/content/dagster-plus/deployment/hybrid.mdx
  docs/next/public/images/dagster-cloud/deployment/hybrid-architecture.png
Labels: area: docs

#22065 [docs] [rfc] - External assets REST API reference revamp
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/apidocs/external-assets-rest.mdx
  docs/content/concepts/assets/external-assets.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/external-assets.rst
Labels: area: docs

#22125 Add command and flag examples to dbt reference
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Labels: area: docs

#22147 [blueprints] add LocalFileCodeReference to `load_defs_from_yaml`-loaded assets
  python_modules/dagster/dagster/_core/blueprints/load_from_yaml.py
  python_modules/dagster/dagster_tests/core_tests/blueprint_tests/test_load_defs_from_yaml.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/blueprints/test2.csv
Labels: area: docs

#22190 RFC: What if we didn't say op
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
Labels: area: docs

#22148 [docs] - Add new Schedules concept page (DOC-193)
  docs/content/concepts/automation/schedules.mdx
  docs/content/concepts/partitions-schedules-sensors/schedules.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/schedules.py
Labels: area: docs

#22207 [docs] - Fix token name in Dagster+ Kubernetes docs
  docs/content/dagster-plus/deployment/agents/kubernetes/configuring-running-kubernetes-agent.mdx
Labels: area: docs
