Repository dagster-io/dagster, pull requests merged in 2024-10, with the labels that each got.

#24815 [docs] Add apidocs for dagster definitions validate
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/cli.rst
  python_modules/dagster/dagster/_cli/definitions.py
Labels: area: docs, docs-to-migrate

#12717 Doc fixes
  docs/content/deployment/dagster-instance.mdx
Labels: area: docs

#19216 update iris_dataset asset definition in Delta Lake integration tutorial
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
Labels: area: docs

#19247 fix typos
  docs/content/integrations/deltalake/reference.mdx
Labels: area: docs

#19249 [docs] Fix typo in deltalake docs
  docs/content/integrations/deltalake/reference.mdx
Labels: area: docs

#19530 Update config dbt incremental model with partitions
  docs/content/integrations/dbt/reference.mdx
Labels: area: docs

#21765 [du] fixing imports for build_selection_from_dbt_something
  docs/dagster-university/pages/dagster-dbt/lesson-5/4-automating-dbt-models-in-dagster.md
Labels: area: docs, area: dagster-university

#24863 [docs-beta] Update API reference links in releases.md
  docs/docs-beta/docs/about/releases.md
Labels: area: docs

#24319 [dagster-aws] [docs] add docs for PipesEMRServerlessClient
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/script.py
Labels: area: docs, docs-to-migrate

#24922 [docs] Update dbt & Dagster+ guide for dbt and Dagster projects
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
Labels: area: docs, docs-to-migrate

#24941 [docs] Fix code snippets in Deltalake docs
  docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
Labels: area: docs

#24923 [docs] Mention `dbt deps` and `dbt parse` in `prepare-and-package`
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
Labels: area: docs, docs-to-migrate

#24868 DOCS Updated dagster-instance.mdx and example dagster.yaml to clarify UTC …
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
Labels: area: docs

#24972 [docs] fix formatting of basic asset schedule snippet
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
Labels: area: docs

#24971 [docs] remove reference to build_last_update_freshness_checks
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
Labels: area: docs

#24866 [docs-beta] Add guide for Deploying dagster as a service [DOC-443]
  docs/docs-beta/.cursorrules
  docs/docs-beta/docs/guides/dagster-service.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/Dagster/headings-casing.yml
  docs/vale/styles/Terms/dagster.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#24867 [docs-beta] Add dagster.yaml reference
  docs/docs-beta/docs/reference/dagster-yaml.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/Dagster/contractions.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#24881 [docs-beta] Add workspace.yaml [DOC-437]
  docs/docs-beta/.cursorrules
  docs/docs-beta/docs/reference/workspace-yaml.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#25001 [docs] add note for how to set default SSO role
  docs/content/dagster-plus/account/authentication.mdx
Labels: area: docs

#24861 [dagster-embedded-elt] add `dagster/row_count` and `dagster/partition_row_count` tag for dlt assets
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_fetch_metadata.py
Labels: integration: embedded-elt

#24948 [dagster-pipes] add centralized dict for common Dagster tags
  python_modules/dagster/dagster/_core/pipes/context.py
Labels: area: dagster-pipes

#25078 [dagster-tableau] Update docs with Data Quality Warning and sensor
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/add-tableau-data-quality-warning.py
Labels: area: docs

#25104 Fix type of dlt resource in dagster-dlt translator methods.
  docs/content/integrations/embedded-elt/dlt.mdx
Labels: area: docs

#25111 [docs] add custom infrastructure to Serverless limitations
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: area: docs

#25131 fix docs
  docs/content/integrations/embedded-elt/dlt.mdx
Labels: area: docs

#24469 [dagster-pipes] add `PipesThreadedMessageReader`
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_threaded_message_reader.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Labels: area: dagster-pipes

#25110 Add service_metadata and deployment_metadata to UserDefinedDagsterK8sConfig
  docs/content/dagster-plus/deployment/agents/kubernetes/configuration-reference.mdx
  python_modules/libraries/dagster-celery-k8s/dagster_celery_k8s/config.py
  python_modules/libraries/dagster-celery-k8s/dagster_celery_k8s_tests/test_launcher.py
  python_modules/libraries/dagster-k8s/dagster_k8s/container_context.py
  python_modules/libraries/dagster-k8s/dagster_k8s/executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s/job.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_container_context.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_launcher.py
Labels: area: docs

#25149 [docs] build api docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/next-env.d.ts
  docs/next/public/objects.inv
Labels: area: docs

#25073 [docs] Add kind tags docs, script for updating kinds list
  docs/Makefile
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/csv.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/dag.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/dashboard.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/file.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-bronze-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-gold-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-silver-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/notebook.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/pdf.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/seed.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/source.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/table.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/task.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-bigquery-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-pytorchlightning-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-s3-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/view.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/yaml.svg
  docs/scripts/regen_kind_tags.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds_multi.py
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Labels: area: docs

#25174 [dagster-github] add docstrings to dagster-github public methods
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  python_modules/libraries/dagster-github/dagster_github/resources.py
Labels: area: docs

#25026 [dagster-pipes] start PipesLogReader right away
  python_modules/dagster/dagster/_core/pipes/utils.py
Labels: area: docs

#25198 [ui] Clean up cookie dependabot alerts
  docs/docs-beta/yarn.lock
  docs/next/yarn.lock
  js_modules/dagster-ui/yarn.lock
Labels: area: docs

#25220 [DOCS] Typo in partitioning-assets.mdx
  docs/content/concepts/partitions-schedules-sensors/partitioning-assets.mdx
Labels: area: docs

#25234 [docs] add note about enabling PYTHONLEGACYWINDOWSSTDIO
  docs/next/components/mdx/includes/dagster/concepts/logging/RawComputeLogs.mdx
Labels: area: docs, docs-to-migrate

#23998 [dagster-aws] add `PipesEMRClient`
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-aws/ruff.toml
  python_modules/libraries/dagster-aws/setup.py
Labels: area: docs, docathon

#24809 [dagster-aws] make PipesCloudWatchMessageReader subclass PipesThreadedMessageReader
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/setup.py
Labels: area: docs

#25315 [docs,beta] support line numbers in CodeExample; propagate props
  docs/docs-beta/src/components/CodeExample.tsx
Labels: area: docs

#25327 Update external-assets.mdx
  docs/content/concepts/assets/external-assets.mdx
Labels: area: docs

#25332 [dagster-looker] add related; use dagster as dg; use PyObject references
  docs/content/integrations/looker.mdx
Labels: area: docs

#25342 Noonan/powerbi docs revision
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/next-env.d.ts
  docs/next/public/objects.inv
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Labels: area: docs

#25350 [dagster-aws, docs] mark PipesEMRServerlessClient as public
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Labels: area: docs

#25333 [docs] add EnvVar reference to API docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/resources.rst
Labels: area: docs

#25288 [DOC-557] add example for triggering job with GraphQL endpoint
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/sensors.md
  docs/docs-beta/sidebars.ts
Labels: area: docs

#25393 [daggy-u] Example code fix for Lesson 8 in Dagster Essentials
  docs/dagster-university/pages/dagster-essentials/lesson-8/coding-practice-partition-taxi-trips.md
Labels: area: docs, area: dagster-university

#25399 [docs] link to community integration dagster-perian
  docs/content/integrations.mdx
Labels: area: docs

#25362 [docs] display supersession info
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
Labels: area: docs

#25405 [docs] deprecated badge yellow -> orange
  docs/next/styles/globals.css
  docs/next/tailwind.config.js
Labels: area: docs

#22385 Add hidden_param and use it on non_argument_deps
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/test_annotations.py
Labels: area: docs

#25011 [dagster-aws] [docs] add docs for PipesEMRClient
  dagster_pipes.zip
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/content/concepts/dagster-pipes/databricks.mdx
  docs/content/concepts/dagster-pipes/kubernetes.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Labels: area: docs

#25418 [daggy-u] Example code fixes for extra credit lesson in Dagster Essentials
  docs/dagster-university/pages/dagster-essentials/extra-credit/asset-metadata-as-markdown.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/materialization-metadata.md
Labels: area: docs, area: dagster-university

#25335 [docs] add StepLauncher supersession notes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/internals.rst
  python_modules/dagster/dagster/_core/definitions/step_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws/emr/pyspark_step_launcher.py
  python_modules/libraries/dagster-databricks/dagster_databricks/databricks_pyspark_step_launcher.py
Labels: area: docs

#24313 [dagster-pipes] feat: Multi-container log streaming
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/pipes/merge_streams.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_merge_streams.py
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_pipe_log_reader.py
Labels: area: docs

#25400 Rename relation identifier to table name
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/docs-beta/docs/guides/metadata.md
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/TableSchema.tsx
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_set.py
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_tests/test_table_metadata_set.py
  python_modules/dagster/dagster_tests/storage_tests/test_db_io_manager.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_instance.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_def_metadata.py
  python_modules/libraries/dagster-duckdb-pandas/dagster_duckdb_pandas_tests/test_type_handler.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-gcp-pandas/dagster_gcp_pandas_tests/bigquery/test_type_handler.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_information_schema.py
  python_modules/libraries/dagster-snowflake-pandas/dagster_snowflake_pandas_tests/test_snowflake_pandas_type_handler.py
  python_modules/libraries/dagster-snowflake-pyspark/dagster_snowflake_pyspark_tests/test_snowflake_pyspark_type_handler.py
Labels: area: docs

#24265 [Docs 493] Add k8s Cookbooks
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_job.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_pipes.py
Labels: area: docs

#25469 fixed language for backfills and updated screenshots
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
  docs/next/public/images/concepts/assets/asset-backfill-details-page.png
  docs/next/public/images/concepts/webserver/runs-page.png
Labels: area: docs

#25406 [dagster-aws] remove deprecated arguments from PipesGlueClient
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Labels: area: docs

#25420 [docs] replace `StepLauncher` with Pipes on Spark integration page
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes.mdx
  docs/content/integrations/spark.mdx
Labels: area: docs

#25422 [docs] add StepLauncher -> Pipes migration guide
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes.mdx
  docs/content/guides/migrations/from-step-launchers-to-pipes.mdx
  docs/content/integrations/spark.mdx
  docs/sphinx/sections/api/apidocs/internals.rst
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/downstream_asset.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/downstream_asset_script.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/new_code.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/old_code.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/ruff.toml
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/upstream_asset.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/upstream_asset_script.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/utils.py
Labels: area: docs

#25519 [dagster-powerbi][docs] Specifically mention pip installing `dagster-powerbi` package
  docs/content/integrations/powerbi.mdx
Labels: area: docs

#25432 [dagster-sigma] Standardize translator signature
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_with_translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Labels: area: docs

#25521 [dagster-tableau][docs] Specifically mention pip installing dagster-tableau package
  docs/content/integrations/tableau.mdx
Labels: area: docs

#25526 [dagster-looker][docs] Specifically mention pip installing dagster-looker package
  docs/content/integrations/looker.mdx
Labels: area: docs

#25527 [dagster-sigma][docs] Specifically mention pip installing dagster-sigma package
  docs/content/integrations/sigma.mdx
Labels: area: docs

#25531 fix Sigma pyright docs issue
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Labels: area: docs

#25516 [dagster-airbyte] remove deprecated load_assets_from_airbyte_project
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/airbyte.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/airbyte/airbyte.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/__init__.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_project.py
Labels: area: docs

#25512 [1.9] Remove multi_asset_sensor from docs, mark as deprecated
  docs/content/concepts/partitions-schedules-sensors/asset-sensors.mdx
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/multi-asset-sensor.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/asset_sensors.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/multi-asset-sensor.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/partitions_schedules_sensors_tests/test_asset_sensors.py
  python_modules/dagster/dagster/_core/definitions/decorators/sensor_decorator.py
Labels: area: docs

#25513 [1.9] Remove freshness_policy_sensor
  docs/content/concepts/partitions-schedules-sensors/asset-sensors.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-slack.rst
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/asset_sensors.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_sensors.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_sensors.py
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/definitions/freshness_policy_sensor_definition.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_pythonic_resources.py
  python_modules/dagster/dagster_tests/definitions_tests/test_freshness_policy_sensor.py
  python_modules/dagster/dagster_tests/definitions_tests/test_sensor_invocation.py
  python_modules/libraries/dagster-slack/dagster_slack/__init__.py
  python_modules/libraries/dagster-slack/dagster_slack/sensors.py
  python_modules/libraries/dagster-slack/dagster_slack_tests/test_sensors.py
Labels: area: docs

#25509 [1.9] Hide references to AutoMaterializePolicy / FreshenssPolicy from docs / type signatures
  docs/sphinx/sections/api/apidocs/assets.rst
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_telemetry.py
  python_modules/dagster/dagster_tests/general_tests/test_internal_init_implementations.py
Labels: area: docs

#25520 [1.9] Update references to AutoMaterializePolicy in docs
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  docs/content/concepts/assets/asset-observations.mdx
  docs/content/guides/dagster/managing-ml.mdx
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_after_all_parents.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_eager.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_lazy.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_lazy_transitive.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_max_materializations_per_minute.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_multiple.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_observable_source_asset.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_on_cron.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_sensor.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_time_partitions.py
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_with_missing_parents.py
  examples/docs_snippets/docs_snippets/guides/dagster/managing_ml/managing_ml_code.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/assets_tests/test_auto_materialize.py
Labels: area: docs

#25540 [dagster-ge] Drop support for old APIs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  examples/with_great_expectations/setup.py
  examples/with_great_expectations/with_great_expectations/ge_demo.py
  examples/with_great_expectations/with_great_expectations/great_expectations/expectations/.ge_store_backend_id
  examples/with_great_expectations/with_great_expectations/great_expectations/great_expectations.yml
  examples/with_great_expectations/with_great_expectations/great_expectations/notebooks/pandas/validation_playground.ipynb
  examples/with_great_expectations/with_great_expectations/great_expectations/notebooks/spark/validation_playground.ipynb
  examples/with_great_expectations/with_great_expectations/great_expectations/notebooks/sql/validation_playground.ipynb
  examples/with_great_expectations/with_great_expectations/gx/.gitignore
  examples/with_great_expectations/with_great_expectations/gx/expectations/.ge_store_backend_id
  examples/with_great_expectations/with_great_expectations/gx/expectations/basic/warning.json
  examples/with_great_expectations/with_great_expectations/gx/great_expectations.yml
  examples/with_great_expectations/with_great_expectations/gx/plugins/custom_data_docs/styles/data_docs_custom_styles.css
  examples/with_great_expectations/with_great_expectations_tests/test_ge_example.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-ge/dagster_ge/examples/fail.csv
  python_modules/libraries/dagster-ge/dagster_ge/examples/ge_demo.py
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/.gitignore
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/expectations/basic/warning.json
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/great_expectations.yml
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/notebooks/pandas/validation_playground.ipynb
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/notebooks/spark/validation_playground.ipynb
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/notebooks/sql/validation_playground.ipynb
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/plugins/custom_data_docs/styles/data_docs_custom_styles.css
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/uncommitted/config_variables.yml
  python_modules/libraries/dagster-ge/dagster_ge/examples/great_expectations/uncommitted/edit_basic.warning.ipynb
  python_modules/libraries/dagster-ge/dagster_ge/examples/succeed.csv
  python_modules/libraries/dagster-ge/dagster_ge/factory.py
  python_modules/libraries/dagster-ge/dagster_ge_tests/__snapshots__/test_resources.ambr
  python_modules/libraries/dagster-ge/dagster_ge_tests/__snapshots__/test_validation.ambr
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/expectations/.ge_store_backend_id
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/great_expectations.yml
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/notebooks/pandas/validation_playground.ipynb
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/notebooks/spark/validation_playground.ipynb
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/notebooks/sql/validation_playground.ipynb
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/uncommitted/config_variables.yml
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations/uncommitted/edit_basic.warning.ipynb
  python_modules/libraries/dagster-ge/dagster_ge_tests/great_expectations_v3/expectations/basic/warning.json
  python_modules/libraries/dagster-ge/dagster_ge_tests/gx/.gitignore
  python_modules/libraries/dagster-ge/dagster_ge_tests/gx/expectations/.ge_store_backend_id
  python_modules/libraries/dagster-ge/dagster_ge_tests/gx/expectations/basic/warning.json
  python_modules/libraries/dagster-ge/dagster_ge_tests/gx/great_expectations.yml
  python_modules/libraries/dagster-ge/dagster_ge_tests/gx/plugins/custom_data_docs/styles/data_docs_custom_styles.css
  python_modules/libraries/dagster-ge/dagster_ge_tests/test_basic_integ.py
  python_modules/libraries/dagster-ge/dagster_ge_tests/test_resources.py
  python_modules/libraries/dagster-ge/dagster_ge_tests/test_validation.py
  python_modules/libraries/dagster-ge/setup.py
  scripts/install_dev_python_modules.py
Labels: area: docs

#25448 [docs][1.9] Declarative Automation refresh
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
Labels: area: docs

#25507 Update dagster-helm to use pydantic 2
  helm/dagster/charts/dagster-user-deployments/values.schema.json
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema/charts/dagster/subschema/config.py
  helm/dagster/schema/schema/charts/dagster/subschema/daemon.py
  helm/dagster/schema/schema/charts/dagster/subschema/flower.py
  helm/dagster/schema/schema/charts/dagster/subschema/ingress.py
  helm/dagster/schema/schema/charts/dagster/subschema/postgresql.py
  helm/dagster/schema/schema/charts/dagster/subschema/python_logs.py
  helm/dagster/schema/schema/charts/dagster/subschema/rabbitmq.py
  helm/dagster/schema/schema/charts/dagster/subschema/redis.py
  helm/dagster/schema/schema/charts/dagster/subschema/retention.py
  helm/dagster/schema/schema/charts/dagster/subschema/run_launcher.py
  helm/dagster/schema/schema/charts/dagster/subschema/scheduler.py
  helm/dagster/schema/schema/charts/dagster/subschema/telemetry.py
  helm/dagster/schema/schema/charts/dagster/subschema/webserver.py
  helm/dagster/schema/schema/charts/dagster/values.py
  helm/dagster/schema/schema/charts/dagster_user_deployments/subschema/user_deployments.py
  helm/dagster/schema/schema/charts/utils/kubernetes.py
  helm/dagster/schema/schema/charts/utils/utils.py
  helm/dagster/schema/schema/utils/helm_template.py
  helm/dagster/schema/schema_tests/test_dagit.py
  helm/dagster/schema/schema_tests/test_dagster_daemon.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/schema/schema_tests/test_service_account.py
  helm/dagster/schema/schema_tests/test_user_deployments.py
  helm/dagster/schema/setup.py
  helm/dagster/schema/tox.ini
  helm/dagster/values.schema.json
  pyright/master/requirements-pinned.txt
  python_modules/dagster-graphql/dagster_graphql_tests/client_tests/sleepy.py
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster/_config/pythonic_config/typing_utils.py
  python_modules/dagster/dagster/_model/__init__.py
  python_modules/dagster/dagster/_model/pydantic_compat_layer.py
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_constraints.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Labels: area: docs

#25565 [docs] add `dagster-ray` to community integrations page
  docs/content/integrations.mdx
Labels: area: docs

#25584 [docs] update wording in backfill page
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
Labels: area: docs

#24760 [docs] Add dbt defer and Dagster branch deployments guide
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Labels: area: docs, docs-to-migrate

#25597 Unexperimentalize asset tag params
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Labels: area: docs

#25596 [docs] Pass on kind docs
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/content/concepts/metadata-tags/tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/kinds.svg
Labels: area: docs

#24296 [DOC-430] Add Managing Concurrency Guide
  docs/docs-beta/docs/guides/managing-concurrency.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-global.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-job-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-job-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-no-more-than-1-job.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-job-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-job-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/global_concurrency/dagster.yaml
Labels: area: docs

#25563 [docs-beta] Refresh Dagster+ Serverless guide
  docs/docs-beta/docs/dagster-plus/deployment/serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/dagster-ips.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/security.md
Labels: area: docs, docs-to-migrate

#25598 [dagster-sigma] Update Sigma documentation to showcase new API patterns
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
Labels: area: docs, docs-to-migrate

#25588 [dagster-tableau] Update Tableau documentation to showcase new API patterns
  docs/content/integrations/tableau.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-tableau.rst
  examples/docs_snippets/docs_snippets/integrations/tableau/add-tableau-data-quality-warning.py
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/refresh-and-materialize-tableau-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
Labels: area: docs, docs-to-migrate

#25595 add BI integrations to docs navigation
  docs/content/_navigation.json
Labels: area: docs

#25631 [docs] fix and extend instructions for adding Dagster Slack app to channels
  docs/content/dagster-plus/managing-deployments/alerts/slack.mdx
Labels: docs-to-migrate

#25601 [dagster-looker] Update Looker documentation to showcase new API patterns
  docs/content/integrations/looker.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Labels: area: docs, docs-to-migrate

#25639 [docs] Update docs for `dagster definitions validate` and `DAGSTER_IS_DEFS_VALIDATION_CLI`
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_cli/definitions.py
Labels: area: docs, docs-to-migrate

#25644 [dagster-sigma] Update Sigma documentation to showcase filtering
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/filtering-sigma-assets.py
Labels: area: docs, docs-to-migrate

#25646 [dagster-looker] Update Looker documentation to showcase filtering
  docs/content/integrations/looker.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  examples/docs_snippets/docs_snippets/integrations/looker/filtering-looker-assets.py
Labels: area: docs, docs-to-migrate

#25468 [dagster-powerbi] Update Power BI documentation to showcase new API patterns
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models-advanced.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Labels: area: docs

#25604 Hide compute_kind arg, unexperimentalize kinds
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
Labels: area: docs

#25675 [dagster-looker] Remove duplicated closing tag to fix Looker docs
  docs/content/integrations/looker.mdx
Labels: area: docs, docs-to-migrate
