Repository dagster-io/dagster, pull requests merged in 2024-04, with the labels that each got.

#20799 [docs] - Add Metadata & tags to Concepts (DOC-179)
  docs/content/_navigation.json
  docs/content/concepts.mdx
  docs/content/concepts/metadata-tags.mdx
  docs/content/concepts/metadata-tags/op-job-metadata.mdx
  docs/content/concepts/metadata-tags/tags.mdx
  docs/content/concepts/ops-jobs-graphs/jobs.mdx
  docs/content/concepts/ops-jobs-graphs/metadata-tags.mdx
  docs/content/concepts/ops-jobs-graphs/op-jobs.mdx
  docs/content/integrations/airflow.mdx
  docs/next/util/redirectUrls.json
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/tags.py
  examples/docs_snippets/docs_snippets/concepts/ops_jobs_graphs/metadata_tags.py
Labels: area: docs

#20819 [docs] - Blocking asset checks (DOC-163)
  docs/content/concepts/assets/asset-checks.mdx
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/blocking.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/assets_tests/test_asset_checks.py
Labels: area: docs

#20763 [dagster-embedded-elt][dlt] Documentation for dlt integration
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/embedded-elt.mdx
  docs/content/integrations/embedded-elt/dlt.mdx
  docs/content/integrations/embedded-elt/sling.mdx
  docs/next/public/objects.inv
  docs/sphinx/conf.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/s3_snowflake.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
Labels: area: docs

#20973 [docs] - Add user settings & new Asset Overview page (DOC-198)
  docs/content/_navigation.json
  docs/content/concepts/webserver/ui-user-settings.mdx
  docs/content/concepts/webserver/ui.mdx
  docs/next/public/images/concepts/webserver/asset-catalog-cloud-pro.png
  docs/next/public/images/concepts/webserver/asset-catalog.png
  docs/next/public/images/concepts/webserver/asset-details.png
  docs/next/public/images/concepts/webserver/global-asset-lineage.png
Labels: area: docs

#20957 [docs] add OpExecutionContext.run
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/execution/context/compute.py
Labels: area: docs

#20912 Auto-materialize sensor docs
  docs/content/concepts/assets/asset-auto-execution.mdx
  docs/content/dagster-cloud/managing-deployments/deployment-settings-reference.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/auto_materialize_sensor.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/assets_tests/test_auto_materialize.py
Labels: area: docs

#20679 DbtProject state artifacts handling
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resources_v2.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/jaffle_shop/profiles.yml
Labels: integration: dbt

#21004 [du-dbt] adding pre-reqs and detail to the deployment step (DEV-220)
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-1/0-about-this-course.md
  docs/dagster-university/pages/dagster-dbt/lesson-2/1-requirements.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
Labels: area: dagster-university

#21014 [docs] - Update deploy.yml & branch-deployments.yml to dagster-cloud-deploy.yml
  docs/content/dagster-cloud/deployment/serverless.mdx
  docs/content/dagster-cloud/getting-started.mdx
  docs/content/dagster-cloud/managing-deployments/branch-deployments/using-branch-deployments-with-github.mdx
Labels: area: docs

#21024 [easy] customzing => customizing
  docs/content/_navigation.json
Labels: area: docs

#21029 [docs] - Fix link formatting in Cloud GS guide
  docs/content/dagster-cloud/getting-started.mdx
Labels: area: docs

#20914 update dbt checks docs
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Labels: area: docs

#21057 [dagster-university] Refining environment variable descriptions for dbt DU
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Labels: area: dagster-university

#21059 [docs] - Add AssetObservation to API docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/assets.rst
Labels: area: docs

#21060 [docs] - Update Insights guides
  docs/content/_navigation.json
  docs/content/dagster-cloud/insights.mdx
  docs/content/dagster-cloud/insights/integrating-bigquery-and-dbt.mdx
  docs/content/dagster-cloud/insights/integrating-bigquery.mdx
  docs/content/dagster-cloud/insights/integrating-snowflake-and-dbt.mdx
  docs/content/dagster-cloud/insights/integrating-snowflake.mdx
Labels: area: docs

#20308 [du-dbt] adding starter project to quickstart templates (DEV-168)
  docs/dagster-university/pages/dagster-dbt/lesson-2/1-requirements.md
  docs/dagster-university/pages/dagster-dbt/lesson-2/2-set-up-the-dagster-project.md
  examples/project_du_dbt_starter/README.md
  examples/project_du_dbt_starter/setup.py
Labels: area: dagster-university

#21067 [docs] - Add structure to SDA API docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/assets.rst
Labels: area: docs

#21038 [insights][docs] add brief insights alert docs
  docs/content/dagster-cloud/managing-deployments/alerts.mdx
Labels: area: docs

#20997 [docs] - Asset metadata guide & updated Asset details page (DOC-160)
  docs/content/_navigation.json
  docs/content/concepts/assets/software-defined-assets.mdx
  docs/content/concepts/metadata-tags.mdx
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/content/concepts/webserver/ui.mdx
  docs/content/dagster-cloud/insights/asset-metadata.mdx
  docs/content/guides/dagster-pipes/subprocess/modify-external-code.mdx
  docs/content/integrations/dbt/reference.mdx
  docs/next/public/images/concepts/metadata-tags/metadata-asset-details.png
  docs/next/public/images/concepts/metadata-tags/metadata-asset-insights.png
  docs/next/public/images/concepts/metadata-tags/metadata-asset-lineage.png
  docs/next/public/images/concepts/metadata-tags/metadata-asset-plots.png
  docs/next/public/images/concepts/metadata-tags/metadata-new-asset-details.png
  docs/next/public/images/dagster-cloud/insights/insights-dialog.png
  docs/next/public/images/dagster-cloud/insights/insights-sidebar.jpeg
  docs/next/public/images/dagster-cloud/insights/insights-sidebar.png
  docs/next/util/redirectUrls.json
  examples/docs_snippets/docs_snippets/concepts/assets/asset_definition_metadata.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/assets_tests/test_asset_definition_metadata.py
  examples/quickstart_aws/README.md
  examples/quickstart_aws/quickstart_aws/assets/hackernews.py
  examples/quickstart_etl/README.md
  examples/quickstart_gcp/README.md
  examples/quickstart_gcp/quickstart_gcp/assets/hackernews.py
  examples/quickstart_snowflake/README.md
  examples/quickstart_snowflake/quickstart_snowflake/assets/hackernews.py
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetMaterializationGraphs.tsx
Labels: area: docs

#21084 fix: update contributing documentation
  docs/content/community/contributing.mdx
Labels: area: docs

#21095 [docs] - Fix link in I/O managers page
  docs/content/concepts/io-management/io-managers.mdx
Labels: area: docs

#21119 Add pagerduty docs to navigation
  docs/content/_navigation.json
  docs/content/dagster-cloud.mdx
  docs/content/dagster-cloud/managing-deployments.mdx
  docs/content/dagster-cloud/managing-deployments/alerts.mdx
Labels: area: docs

#21124 schema change check api doc
  docs/sphinx/sections/api/apidocs/asset-checks.rst
Labels: area: docs

#21163 [docs] - Add asset owners to docs (DOC-155)
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/content/dagster-plus/managing-deployments/alerts.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_owners.py
Labels: area: docs

#21169 feat(column-lineage): make `TableColumnLineage` a top-level import
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/ops.rst
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resources_v2.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/dbt_packages/test_columns_metadata.py
Labels: area: docs

#21170 docs: move `AssetKey` from `ops.rst` to `assets.rst`
  docs/sphinx/sections/api/apidocs/assets.rst
  docs/sphinx/sections/api/apidocs/ops.rst
Labels: area: docs

#21172 docs: create `metadata.rst`
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/metadata.rst
  docs/sphinx/sections/api/apidocs/ops.rst
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
Labels: area: docs

#20968 [docs] Change Tracking docs
  docs/content/_navigation.json
  docs/content/dagster-plus.mdx
  docs/content/dagster-plus/managing-deployments.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/change-tracking.mdx
  docs/next/public/images/dagster-cloud/managing-deployments/change-tracking-code-version.png
  docs/next/public/images/dagster-cloud/managing-deployments/change-tracking-dependencies.png
  docs/next/public/images/dagster-cloud/managing-deployments/change-tracking-new.png
  docs/next/public/images/dagster-cloud/managing-deployments/change-tracking-partitions.png
  examples/docs_snippets/docs_snippets/dagster_cloud/branch_deployments/change_tracking_code_version.py
  examples/docs_snippets/docs_snippets/dagster_cloud/branch_deployments/change_tracking_dependencies.py
  examples/docs_snippets/docs_snippets/dagster_cloud/branch_deployments/change_tracking_partitions_definition.py
Labels: area: docs

#21135 :recycle: rework how `UPathIOManager` works with partitions
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/storage/upath_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/test_upath_io_manager.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Labels: area: docs, area: io-manager

#21142 [docs] - Add update steps to Insights user-defined metrics steps (DOC-175)
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/content/dagster-plus/insights/asset-metadata.mdx
  docs/content/dagster-plus/insights/integrating-snowflake-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-snowflake.mdx
  docs/next/public/images/dagster-cloud/insights/insights-sidebar.png
  docs/next/public/images/dagster-cloud/insights/insights-snowflake.png
  docs/next/public/images/dagster-cloud/insights/insights-tab.png
Labels: area: docs

#21141 [docs] - Remove experimental label from Insights (DOC-204)
  docs/content/dagster-plus/insights.mdx
  docs/content/dagster-plus/insights/asset-metadata.mdx
  docs/content/dagster-plus/insights/exporting-insights-metrics.mdx
  docs/content/dagster-plus/insights/integrating-bigquery-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-bigquery.mdx
  docs/content/dagster-plus/insights/integrating-external-metrics.mdx
  docs/content/dagster-plus/insights/integrating-snowflake-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-snowflake.mdx
Labels: area: docs

#21218 [docs] tags and metadata change tracking docs
  docs/content/dagster-plus/managing-deployments/branch-deployments/change-tracking.mdx
  docs/next/public/images/dagster-cloud/managing-deployments/change-tracking-metadata.png
  docs/next/public/images/dagster-cloud/managing-deployments/change-tracking-tags.png
  examples/docs_snippets/docs_snippets/dagster_cloud/branch_deployments/change_tracking_metadata.py
  examples/docs_snippets/docs_snippets/dagster_cloud/branch_deployments/change_tracking_tags.py
Labels: area: docs

#21145 Docs/api reference css improvements
  docs/next/pages/[...page].tsx
  docs/next/styles/globals.css
Labels: area: docs

#21223 [docs] - Column-level lineage (DOC-157)
  docs/content/_navigation.json
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/content/concepts/metadata-tags/asset-metadata/column-level-lineage.mdx
  docs/content/integrations/dbt/reference.mdx
  docs/next/public/images/concepts/metadata-tags/column-level-lineage.png
  docs/next/public/images/concepts/metadata-tags/column-lineage-icon.png
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_column_lineage.py
Labels: area: docs

#21226 Update dbt tutorial with dbt command note
  docs/content/integrations/dbt/using-dbt-with-dagster/set-up-dbt-project.mdx
Labels: area: docs

#21236 the the purge
  CHANGES.md
  docs/content/concepts/assets/asset-observations.mdx
  docs/content/dagster-plus/deployment/serverless.mdx
  docs/content/integrations/airflow/from-airflow-to-dagster.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/definitions/asset_condition/asset_condition.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/dependency.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/definitions/schema_change_checks.py
  python_modules/dagster/dagster/_core/execution/plan/external_step.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/managed/generated/sources.py
  python_modules/libraries/dagster-aws/dagster_aws/emr/pyspark_step_launcher.py
  python_modules/libraries/dagster-deltalake/dagster_deltalake/io_manager.py
  python_modules/libraries/dagster-k8s/dagster_k8s/ops/k8s_job_op.py
  python_modules/libraries/dagster-wandb/dagster_wandb/launch/configs.py
Labels: area: docs

#21150 Refactor ADLS2 IOManager to allow custom lease duration
  python_modules/libraries/dagster-azure/dagster_azure/adls2/io_manager.py
Labels: integration: azure

#21228 [docs] - Add testing for asset checks
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  docs/content/concepts/testing.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/asset_checks/test_asset_check.py
Labels: area: docs

#21143 [docs] [insights] - Add retention period to Insights (DOC-209)
  docs/content/dagster-plus/insights.mdx
  docs/content/dagster-plus/insights/integrating-external-metrics.mdx
Labels: area: docs

#21197 [dbt] DbtProject apidoc
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-dbt.rst
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
Labels: area: docs

#21250 Change docs header copy
  docs/next/components/Header.tsx
Labels: area: docs

#21249 claire/reference-dagster-cloud-cli
  docs/content/dagster-plus/account/authentication/okta/saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-azure-ad-saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-google-workspace-saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-onelogin-saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-pingone-saml-sso.mdx
  docs/content/dagster-plus/deployment/agents/local.mdx
  docs/content/dagster-plus/deployment/serverless.mdx
  docs/content/dagster-plus/getting-started.mdx
  docs/content/dagster-plus/insights/integrating-bigquery-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-bigquery.mdx
  docs/content/dagster-plus/insights/integrating-external-metrics.mdx
  docs/content/dagster-plus/insights/integrating-snowflake-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-snowflake.mdx
  docs/content/dagster-plus/managing-deployments/alerts/email.mdx
  docs/content/dagster-plus/managing-deployments/alerts/managing-alerts-cli.mdx
  docs/content/dagster-plus/managing-deployments/alerts/managing-alerts-in-ui.mdx
  docs/content/dagster-plus/managing-deployments/alerts/microsoft-teams.mdx
  docs/content/dagster-plus/managing-deployments/alerts/pagerduty.mdx
  docs/content/dagster-plus/managing-deployments/alerts/slack.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments.mdx
  docs/content/dagster-plus/managing-deployments/code-locations.mdx
  docs/content/dagster-plus/managing-deployments/dagster-plus-cli.mdx
  docs/content/dagster-plus/managing-deployments/managing-deployments.mdx
Labels: area: docs

#21256 [docs] fix typo launchpaid -> launchpad
  docs/next/components/mdx/includes/EnvVarsBenefits.mdx
Labels: area: docs

#20808 [docs] [i/o] - Unconnected inputs (DOC-130)
  docs/content/concepts/io-management/unconnected-inputs.mdx
Labels: area: docs

#21244 Fix freshness docs typo
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
Labels: area: docs

#21262 Remove the erroneous URI
  docs/content/concepts/assets/external-assets.mdx
  docs/content/concepts/webserver/graphql-client.mdx
  docs/content/dagster-plus/account/authentication/okta/saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-azure-ad-saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-google-workspace-saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-onelogin-saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-pingone-saml-sso.mdx
  docs/content/dagster-plus/getting-started.mdx
  docs/content/dagster-plus/insights/exporting-insights-metrics.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments-with-gitlab.mdx
  docs/content/dagster-plus/managing-deployments/dagster-plus-cli.mdx
  docs/content/integrations/dbt.mdx
  docs/sphinx/sections/api/apidocs/external-assets.rst
  examples/docs_snippets/docs_snippets/concepts/webserver/graphql/client_example.py
Labels: area: docs

#21266 [docs] Revert more dagster-plus CLI references
  docs/content/concepts/assets/asset-auto-execution.mdx
  docs/content/dagster-plus.mdx
  docs/content/dagster-plus/account/authentication/setting-up-onelogin-saml-sso.mdx
  docs/content/dagster-plus/getting-started.mdx
  docs/content/dagster-plus/managing-deployments.mdx
  docs/content/dagster-plus/managing-deployments/alerts.mdx
  docs/content/dagster-plus/managing-deployments/alerts/email.mdx
  docs/content/dagster-plus/managing-deployments/alerts/managing-alerts-in-ui.mdx
  docs/content/dagster-plus/managing-deployments/alerts/microsoft-teams.mdx
  docs/content/dagster-plus/managing-deployments/alerts/pagerduty.mdx
  docs/content/dagster-plus/managing-deployments/alerts/slack.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments-with-github.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments-with-gitlab.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments.mdx
  docs/content/dagster-plus/managing-deployments/code-locations.mdx
  docs/content/dagster-plus/managing-deployments/deployment-settings-reference.mdx
  docs/content/dagster-plus/managing-deployments/managing-deployments.mdx
  docs/content/deployment/run-retries.mdx
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
  docs/content/guides/understanding-dagster-project-files.mdx
  docs/content/integrations/airflow/migrating-to-dagster.mdx
Labels: area: docs

#19644 [docs] [i/o] - Update Asset jobs to use deps (DOC-109)
  docs/content/concepts/assets/asset-jobs.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/build_job.py
  examples/docs_snippets/docs_snippets/concepts/assets/jobs_to_definitions.py
  examples/docs_snippets/docs_snippets/concepts/assets/non_argument_deps.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/assets_tests/test_build_job.py
Labels: area: docs

#21245 remove freshness policies from the dbt reference
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Labels: area: docs

#21283 [docs] - Fix redirect for agent docs
  docs/next/util/redirectUrls.json
Labels: area: docs

#21103 bigquery cost note
  docs/content/dagster-plus/insights/integrating-bigquery-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-bigquery.mdx
Labels: area: docs

#21174 add concurrency docs section on the concurrency run throttling
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
  examples/docs_snippets/docs_snippets/deploying/concurrency_limits/dagster.yaml
Labels: area: docs

#21313 fix(docs) support command-click of sidebar links
  docs/next/components/Sidebar.tsx
Labels: area: docs

#21316 take SourceAssets out of cons list in multiple projects doc
  docs/content/dagster-plus/best-practices/managing-multiple-projects-and-teams.mdx
Labels: area: docs

#21347 [ui] Upgrade TS to 5.4.5
  docs/next/package.json
  docs/next/yarn.lock
  js_modules/dagster-ui/packages/app-oss/package.json
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/yarn.lock
Labels: area: docs

#21315 [docs] Update header
  docs/next/components/Header.tsx
Labels: area: docs

#21369 Clarify code location resource limits in serverless docs
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: area: docs

#21375 [docs] - Fix tab formatting in Branch Deps guide
  docs/content/guides/dagster/branch_deployments.mdx
Labels: area: docs

#21203 Remove duplicate line
  docs/content/guides/dagster/ml-pipeline.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/ml_pipelines/ml_pipeline.py
Labels: area: docs

#21321 freshness guide touch-ups
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
Labels: area: docs

#21364 [ui] Update dependencies for our eslint-config
  docs/dagster-university/package.json
  docs/dagster-university/yarn.lock
  docs/next/package.json
  docs/next/util/codeBlockTransformer.ts
  docs/next/yarn.lock
  js_modules/dagster-ui/packages/app-oss/package.json
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/yarn.lock
Labels: area: dagster-university

#21367 [ui] Hide Overview tabs for nav flag
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
Labels: area: dagster-university

#21371 [ui] Show alert for users in experimental nav flag
  js_modules/dagster-ui/packages/ui-core/src/app/App.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/getVisibleFeatureFlagRows.tsx
Labels: area: dagster-university

#21388 limit max updated size
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
Labels: area: docs

#21413 Fix incorrect APIs in docs
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
Labels: area: docs

#21225 [docs] - Add external assets disclaimer to Insights docs (DOC-197)
  docs/content/dagster-plus/managing-deployments/alerts.mdx
Labels: area: docs

#21425 [daggy-u][dbt] remove strptime for incremental model
  docs/dagster-university/pages/dagster-dbt/lesson-6/3-creating-a-partitioned-dbt-asset.md
Labels: area: dagster-university

#21455 [daggy-u] [dbt] - Rename to Dagster+
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/lesson-1/4-project-preview.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/2-pushing-the-project-to-github.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/3-setting-up-dagster-cloud.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Labels: area: dagster-university

#21485 remove further reading section from sda concept page
  docs/content/concepts/assets/software-defined-assets.mdx
Labels: area: docs

#21441 bug fix for dagster-dbt's manifest creation stopped working for dbt's…
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_dbt_semantic_models/models/schema.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_dbt_semantic_models/models/semantic_model.yml
Labels: integration: dbt
