Repository dagster-io/dagster, pull requests merged in 2024-03, with the labels that each got.

#20184 Add op_tags to observable source asset decorator
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_source_asset_decorator.py
Labels: area: asset

#20023 [docs-only] Fix MultiPartitionMapping pluralization in docs
  python_modules/dagster/dagster/_core/definitions/partition_mapping.py
Labels: area: partitions

#20089 [dagster-databricks] Log databricks job run page url
  python_modules/libraries/dagster-databricks/dagster_databricks/databricks_pyspark_step_launcher.py
  python_modules/libraries/dagster-databricks/dagster_databricks_tests/test_pyspark.py
Labels: integration: databricks

#20019 [docs] Email asset owner alert notification policy
  docs/content/dagster-cloud/managing-deployments/setting-up-alerts.mdx
  docs/next/public/images/dagster-cloud/alerts/email-owners-alert-creation.png
Labels: area: docs

#20250 [daggy-u] [dbt] - Update DU copy in docs (DEV-68)
  docs/content/getting-started/what-why-dagster.mdx
Labels: area: docs

#20209 docs: correct spelling of Database in embedded-elt.mdx
  docs/content/integrations/embedded-elt.mdx
Labels: area: docs

#20259 fix: source assets `group_name` were not propagated
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Labels: area: asset

#20022 feat(dbt): add setting to allow duplicate source asset keys
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_decorator.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dagster_dbt_translator.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/conftest.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/__init__.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/models/sources.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/models/staging/stg_customers.sql
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/models/staging/stg_orders.sql
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/models/staging/stg_payments.sql
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/seeds/.gitkeep
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/seeds/raw_customers.csv
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/seeds/raw_orders.csv
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_duplicate_source_asset_key/seeds/raw_payments.csv
Labels: integration: dbt

#20301 [daggy-u] [dbt] - Last minute fixes
  docs/dagster-university/pages/dagster-dbt.md
  docs/dagster-university/pages/dagster-dbt/capstone.md
  docs/dagster-university/pages/dagster-dbt/lesson-1/4-project-preview.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/7-viewing-dbt-models-in-the-dagster-ui.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/3-debugging-failed-runs.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/coding-practice-grouping-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/2-creating-a-simple-incremental-model.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/3-creating-a-partitioned-dbt-asset.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/1-overview.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Labels: area: dagster-university

#20013 Add docs for dagster-openai integration
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations.mdx
  docs/content/integrations/openai.mdx
  docs/next/public/objects.inv
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-openai.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/openai/__init__.py
  examples/docs_snippets/docs_snippets/integrations/openai/assets.py
  examples/docs_snippets/docs_snippets/integrations/openai/ops.py
  examples/docs_snippets/docs_snippets/integrations/openai/resource.py
  python_modules/libraries/dagster-openai/README.md
  python_modules/libraries/dagster-openai/dagster_openai/resources.py
Labels: area: docs

#20307 [du-dbt] adding starter project to quickstart templates
  python_modules/dagster/dagster/_generate/download.py
Labels: area: dagster-university

#20346 [docs] - Add how-to guides for schedules (DEV-171)
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  docs/content/concepts/automation/schedules/automating-ops-schedules-jobs.mdx
  docs/content/concepts/partitions-schedules-sensors/schedules.mdx
  docs/next/public/images/concepts/partitions-schedules-sensors/schedules-tab-toggle.png
  docs/next/public/images/concepts/partitions-schedules-sensors/schedules/deployment-daemons-tab.png
  docs/next/public/images/concepts/partitions-schedules-sensors/schedules/schedules-tab-toggle.png
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_op_schedule.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/partitions_schedules_sensors_tests/test_schedules.py
Labels: area: docs

#20344 Rename reserved word column in snowflake quickstart
  examples/quickstart_snowflake/quickstart_snowflake/assets/hackernews.py
Labels: integration: snowflake

#20371 [daggy-u] [dbt] - Correct model in Lesson 6 (DEV-180)
  docs/dagster-university/pages/dagster-dbt/lesson-6/2-creating-a-simple-incremental-model.md
Labels: area: dagster-university

#20203 Fix alerts docs admin -> editor
  docs/content/dagster-cloud/managing-deployments/setting-up-alerts.mdx
Labels: area: docs

#20439 make Ask AI fab more prominent in the UI
  docs/next/pages/_document.js
Labels: area: docs

#20458 [docs] - Correct version for libraries in changelog
  CHANGES.md
Labels: area: docs

#20537 Fix Concepts documentation typo
  docs/content/concepts.mdx
Labels: area: docs

#20517 [docs] note that Ask AI is available within docs pages
  docs/content/getting-started/getting-help.mdx
Labels: area: docs

#20534 fix: Sling asset - reading AssetSpec from stream level
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/asset_decorator.py
Labels: integration: embedded-elt

#20527 fix `type: ignore` hint according to PEP-484 spec
  python_modules/dagster/dagster/_core/definitions/op_invocation.py
Labels: dependencies

#20512 Fix external asset with hyphens
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
Labels: area: external-assets

#20541 [docs] - Split up Cloud alert docs (DOC-177)
  docs/content/_navigation.json
  docs/content/concepts/assets/asset-checks.mdx
  docs/content/concepts/webserver/ui.mdx
  docs/content/dagster-cloud.mdx
  docs/content/dagster-cloud/account/managing-users/managing-user-roles-permissions.mdx
  docs/content/dagster-cloud/getting-started.mdx
  docs/content/dagster-cloud/managing-deployments.mdx
  docs/content/dagster-cloud/managing-deployments/alerts.mdx
  docs/content/dagster-cloud/managing-deployments/alerts/email.mdx
  docs/content/dagster-cloud/managing-deployments/alerts/managing-alerts-cli.mdx
  docs/content/dagster-cloud/managing-deployments/alerts/managing-alerts-in-ui.mdx
  docs/content/dagster-cloud/managing-deployments/alerts/microsoft-teams.mdx
  docs/content/dagster-cloud/managing-deployments/alerts/slack.mdx
  docs/content/dagster-cloud/managing-deployments/setting-up-alerts.mdx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/components/mdx/includes/dagster-cloud/ApplicableDagsterProduct.mdx
  docs/next/public/images/dagster-cloud/alerts/cloud-email-alert-creation.png
  docs/next/public/images/dagster-cloud/alerts/cloud-ms-teams-alert-creation.png
  docs/next/public/images/dagster-cloud/alerts/cloud-slack-alert-creation.png
  docs/next/public/images/dagster-cloud/alerts/edit-multiple-policies.png
  docs/next/public/images/dagster-cloud/alerts/more-actions-menu.png
  docs/next/util/redirectUrls.json
  examples/docs_snippets/docs_snippets/dagster_cloud/alerts/cli_commands.yaml
  examples/docs_snippets/docs_snippets/dagster_cloud/alerts/email_policy.yaml
  examples/docs_snippets/docs_snippets/dagster_cloud/alerts/microsoft_teams_policy.yaml
  examples/docs_snippets/docs_snippets/dagster_cloud/alerts/slack_policy.yaml
Labels: area: docs

#20593 [docs] - Add Cloud PagerDuty integration (DOC-161)
  docs/content/dagster-cloud/managing-deployments/alerts/pagerduty.mdx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/components/mdx/includes/dagster-cloud/ApplicableCloudPlan.mdx
  docs/next/public/images/dagster-cloud/alerts/pagerduty-integration-key.png
  examples/docs_snippets/docs_snippets/dagster_cloud/alerts/pagerduty_policy.yaml
Labels: area: docs

#20576 [docs] - Condense & clean up 'Getting help'
  docs/content/getting-started/getting-help.mdx
  docs/content/integrations/airbyte-cloud.mdx
  docs/content/integrations/airbyte.mdx
  docs/content/integrations/airflow.mdx
  docs/content/integrations/bigquery.mdx
  docs/content/integrations/dagstermill.mdx
  docs/content/integrations/databricks.mdx
  docs/content/integrations/dbt-cloud.mdx
  docs/content/integrations/dbt.mdx
  docs/content/integrations/deltalake.mdx
  docs/content/integrations/duckdb.mdx
  docs/content/integrations/fivetran.mdx
  docs/content/integrations/great-expectations.mdx
  docs/content/integrations/openai.mdx
  docs/content/integrations/pandas.mdx
  docs/content/integrations/pandera.mdx
  docs/content/integrations/snowflake.mdx
  docs/content/integrations/spark.mdx
  docs/content/integrations/template.mdx
Labels: area: docs

#20523 ScheduleDefinition: Unhelpful `DeprecatedWarning`
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
Labels: area: schedule

#20602 Add API methods to Datadog integration
  python_modules/libraries/dagster-datadog/dagster_datadog/resources.py
  python_modules/libraries/dagster-datadog/dagster_datadog_tests/test_resources.py
Labels: integration: datadog

#20667 [docs] - Fix dbt reference
  docs/content/integrations/dbt/reference.mdx
Labels: area: docs

#20648 [docs] - Clean up Asset Check docs (DOC-182)
  docs/content/_navigation.json
  docs/content/concepts/assets/asset-checks.mdx
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  docs/content/integrations/dbt/reference.mdx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/components/mdx/includes/ExperimentalCallout.mdx
Labels: area: docs

#20694 :bug: fix dagster-polars docs indentation
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
Labels: area: docs

#20692 [docs] Use normal font-feature-settings for AskAI bot
  docs/next/pages/_document.js
Labels: area: docs

#20690 feat(dbt): add `schedule_name` to `build_schedule_from_dbt_selection`
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_schedules.py
Labels: integration: dbt

#20640 feat(amp): use `non_secure_md5_hash_str` to compute unique id of asset condition snapshot
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_evaluation.py
Labels: area: auto-materialize

#20691 Allow custom job namespace for user code deployments
  helm/dagster/charts/dagster-user-deployments/templates/helpers/_helpers.tpl
Labels: deployment: k8s

#20724 [docs] - Add guide for freshness checks (DOC-168)
  docs/content/_navigation.json
  docs/content/concepts/assets/asset-checks.mdx
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
  docs/content/guides.mdx
  docs/content/guides/general.mdx
Labels: area: docs

#20604 [docs] - Asset owner alerts (DOC-156)
  docs/content/dagster-cloud/managing-deployments/alerts.mdx
Labels: area: docs

#20784 docs(university): remove `@classmethod` from `DagsterDbtTranslator` subclasses (DEV-215)
  docs/dagster-university/pages/dagster-dbt/lesson-5/2-connecting-dbt-models-to-dagster-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/coding-practice-grouping-models.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/3-creating-a-partitioned-dbt-asset.md
Labels: area: dagster-university

#19744 [docs] [i/o] - Update Snowflake docs
  docs/content/_navigation.json
  docs/content/integrations/snowflake.mdx
  docs/content/integrations/snowflake/reference.mdx
  docs/content/integrations/snowflake/using-snowflake-with-dagster-io-managers.mdx
  docs/content/integrations/snowflake/using-snowflake-with-dagster.mdx
  examples/docs_snippets/docs_snippets/integrations/snowflake/io_manager_tutorial/configuration.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/io_manager_tutorial/create_table.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/io_manager_tutorial/downstream.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/io_manager_tutorial/full_example.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/private_key_auth_file.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/private_key_auth_io_manager.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/private_key_auth_resource.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/resource.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/resource_tutorial/full_example.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/static_partition.py
Labels: area: docs

#19638 [docs] [i/o] - Updating Backfills page (DOC-113)
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/backfills/single_run_backfill_io_manager.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/partitions_schedules_sensors_tests/backfills_tests/test_single_run_backfill_io_manager.py
Labels: area: docs

#20824 Docs adjustment with supported Python version and Apple silicon chips
  docs/content/community/contributing.mdx
  docs/next/pages/getting-started/install.md
  python_modules/dagster/README.md
Labels: area: docs

#20897 fix(dagster-polars): ignore decimal in delta/parquet tests
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_deltalake.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_polars_parquet.py
  python_modules/libraries/dagster-polars/setup.py
Labels: area: integrations

#19636 [docs] [i/o] - Update Fivetran docs (DOC-124)
  docs/content/integrations/fivetran.mdx
Labels: area: docs
