Repository dagster-io/dagster, pull requests merged in 2024-06, with the labels that each got.

#21910 [docs][dagster-dbt] add docs for row count metadata
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/dbt/reference.mdx
  docs/next/public/objects.inv
  docs/node_modules/.yarn-integrity
  docs/sphinx/sections/api/apidocs/libraries/dagster-dbt.rst
  docs/yarn.lock
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Labels: area: docs

#22309 move blueprints code to blueprints pkg
  examples/experimental/dagster-blueprints/dagster_blueprints/__init__.py
  examples/experimental/dagster-blueprints/dagster_blueprints/blueprint.py
  examples/experimental/dagster-blueprints/dagster_blueprints/blueprint_assets_definition.py
  examples/experimental/dagster-blueprints/dagster_blueprints/databricks_blueprint.py
  examples/experimental/dagster-blueprints/dagster_blueprints/load_from_yaml.py
  examples/experimental/dagster-blueprints/dagster_blueprints/py.typed
  examples/experimental/dagster-blueprints/dagster_blueprints/shell_command_blueprint.py
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/__snapshots__/test_load_defs_from_yaml.ambr
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_databricks_blueprint.py
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_load_defs_from_yaml.py
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_shell_command_blueprint.py
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/dir_of_lists_of_blueprints/list_of_blueprints1.yaml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/dir_of_lists_of_blueprints/list_of_blueprints2.yaml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/dir_of_single_blueprints/single_blueprint1.yaml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/dir_of_single_blueprints/single_blueprint2.yaml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/dir_with_no_yaml_files/someotherfile
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/list_of_blueprints.yaml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/single_blueprint.yaml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/yaml_files/single_blueprint_with_type.yaml
  examples/experimental/dagster-blueprints/setup.py
  examples/experimental/dagster-blueprints/tox.ini
  python_modules/dagster/dagster_tests/core_tests/blueprint_tests/yaml_files/dir_with_no_yaml_files/someotherfile
Labels: area: docs

#22268 Add asset checks + alerts to next steps section of tutorial.
  docs/content/tutorial/next-steps.mdx
Labels: area: docs

#22269 Add data quality tooling to the "what and why" of dagster
  docs/content/getting-started/what-why-dagster.mdx
Labels: area: docs

#22284 Docs/extend image node
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Image.tsx
  docs/next/markdoc/nodes/image.markdoc.ts
  docs/next/markdoc/nodes/index.ts
  docs/next/markdoc/tags.js
  docs/next/util/getImageDimensions.ts
Labels: area: docs

#22326 [docs] Add `dbt parse` troubleshooting to dbt reference
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Labels: area: docs

#21229 Add dbt + Dagster+ guide
  docs/content/_navigation.json
  docs/content/integrations/dbt/using-dbt-with-dagster-plus.mdx
Labels: area: docs

#22328 [docs] add brief storage kind docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/metadata-tags/tags.mdx
  docs/next/public/images/concepts/metadata-tags/storage-kind-tag.png
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/tags.py
Labels: area: docs

#22291 [docs] Add table metadata docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  docs/next/public/images/concepts/metadata-tags/metadata-row-count.png
  docs/next/public/images/concepts/metadata-tags/metadata-table-schema.png
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_column_schema.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_row_count.py
Labels: area: docs

#22331 [docs] - Make new Schedules page public
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/concepts.mdx
  docs/content/concepts/assets/asset-auto-execution.mdx
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
  docs/content/concepts/assets/asset-checks/define-execute-asset-checks.mdx
  docs/content/concepts/assets/asset-jobs.mdx
  docs/content/concepts/automation.mdx
  docs/content/concepts/automation/schedules/customizing-executing-timezones.mdx
  docs/content/concepts/automation/schedules/examples.mdx
  docs/content/concepts/automation/schedules/partitioned-schedules.mdx
  docs/content/concepts/automation/schedules/testing.mdx
  docs/content/concepts/automation/schedules/troubleshooting.mdx
  docs/content/concepts/configuration/config-schema-legacy.mdx
  docs/content/concepts/configuration/config-schema.mdx
  docs/content/concepts/ops-jobs-graphs/job-execution.mdx
  docs/content/concepts/ops-jobs-graphs/jobs.mdx
  docs/content/concepts/ops-jobs-graphs/op-jobs.mdx
  docs/content/concepts/partitions-schedules-sensors/partitioning-ops.mdx
  docs/content/concepts/partitions-schedules-sensors/partitions.mdx
  docs/content/concepts/partitions-schedules-sensors/schedules.mdx
  docs/content/concepts/repositories-workspaces/repositories.mdx
  docs/content/concepts/resources.mdx
  docs/content/concepts/webserver/ui.mdx
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
  docs/content/deployment/dagster-daemon.mdx
  docs/content/deployment/guides/kubernetes/deploying-with-helm.mdx
  docs/content/deployment/guides/service.mdx
  docs/content/getting-started.mdx
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
  docs/content/guides/dagster/example_project.mdx
  docs/content/guides/dagster/managing-ml.mdx
  docs/content/integrations/airbyte-cloud.mdx
  docs/content/integrations/airbyte.mdx
  docs/content/integrations/airflow.mdx
  docs/content/integrations/databricks.mdx
  docs/content/integrations/dbt/reference.mdx
  docs/content/integrations/fivetran.mdx
  docs/next/util/redirectUrls.json
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
Labels: area: docs

#22367 Revert "[docs] add brief storage kind docs (#22328)"
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/metadata-tags/tags.mdx
  docs/next/public/images/concepts/metadata-tags/storage-kind-tag.png
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/tags.py
Labels: area: docs

#22365 fix typo on assets def concepts page
  docs/content/concepts/assets/software-defined-assets.mdx
Labels: area: docs

#22210 Add docs for budget and long-running run alerts
  docs/content/dagster-plus/managing-deployments/alerts.mdx
Labels: area: docs

#22270 Add freshness checks to example projects
  examples/assets_dbt_python/assets_dbt_python/__init__.py
  examples/assets_dbt_python/assets_dbt_python/assets/forecasting/__init__.py
  examples/assets_modern_data_stack/assets_modern_data_stack/__init__.py
  examples/assets_modern_data_stack/assets_modern_data_stack/assets/forecasting.py
Labels: area: docs

#22290 [RFC] DBT freshness check builder
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-dbt.rst
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/__init__.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/freshness_builder.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/conftest.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_freshness_checks.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/__init__.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_dbt_mixed_freshness/dbt_project.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_dbt_mixed_freshness/models/schema.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_last_update_freshness/dbt_project.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_last_update_freshness/models/schema.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_last_update_freshness_multiple_assets_defs/dbt_project.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_last_update_freshness_multiple_assets_defs/models/schema.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_time_partition_freshness/dbt_project.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_time_partition_freshness/models/schema.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_time_partition_freshness_multiple_assets_defs/dbt_project.yml
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_time_partition_freshness_multiple_assets_defs/models/schema.yml
Labels: area: docs

#22347 [1/n] Move all freeze_pendulum_time usage into a single helper function, part 1
  integration_tests/test_suites/daemon-test-suite/test_daemon.py
  integration_tests/test_suites/daemon-test-suite/test_dagster_daemon_health.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_schedules.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_sensors.py
  python_modules/dagster-graphql/dagster_graphql/schema/schedules/schedules.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_scheduler.py
  python_modules/dagster/dagster/_core/scheduler/scheduler.py
  python_modules/dagster/dagster/_core/test_utils.py
  python_modules/dagster/dagster/_scheduler/scheduler.py
  python_modules/dagster/dagster/_seven/__init__.py
  python_modules/dagster/dagster/_utils/test/schedule_storage.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_schedule_execution_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitions_subset.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_pythonic_resources.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_failure_recovery.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_timezones.py
Labels: area: docs

#22502 [docs] add example using EnvVar.int(str) to environment variables and secrets guide
  docs/content/guides/dagster/using-environment-variables-and-secrets.mdx
Labels: area: docs

#22478 [docs] restructure navigation for top level dagster+, open source deployment
  docs/content/_navigation.json
  docs/content/concepts/automation/schedules/troubleshooting.mdx
  docs/content/deployment.mdx
  docs/content/deployment/open-source.mdx
  docs/content/guides/running-dagster-locally.mdx
  docs/content/integrations/airflow/migrating-to-dagster.mdx
  docs/next/components/Icons.tsx
  docs/next/util/redirectUrls.json
Labels: area: docs

#22531 docs: fix broken link
  docs/content/concepts/assets/asset-jobs.mdx
Labels: area: docs

#22446 [docs] mv airflow migration strategy to "Migration Guides" section
  docs/content/_navigation.json
  docs/content/guides.mdx
  docs/content/guides/migrations.mdx
  docs/content/guides/migrations/migrating-airflow-to-dagster.mdx
  docs/content/integrations/airflow.mdx
  docs/next/components/Icons.tsx
  docs/next/util/redirectUrls.json
Labels: area: docs

#22539 in external check evaluation docs, mark check_name as required
  docs/content/apidocs/external-assets-rest.mdx
Labels: area: docs

#22547 Setup GTM correctly
  docs/next/package.json
  docs/next/pages/_document.js
  docs/next/yarn.lock
Labels: area: docs

#22544 Add serverless io manager appropriate usage for baa
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: area: docs

#22469 include OpExecutionContext in snippet
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/sensors.py
Labels: area: docs

#22582 correct docstring of DagsterInstance.fetch_materializations
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/instance/__init__.py
Labels: area: docs

#21651 :loud_sound: return the missing debub log message when loading partitions with PolarsDeltaIOManager
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
Labels: integration: polars

#22470 GCS IO manager - update example in doc string
  python_modules/libraries/dagster-gcp/dagster_gcp/gcs/io_manager.py
Labels: area: docs

#22574 [docs] - Add intro sentence back into Insights
  docs/content/dagster-plus/insights.mdx
Labels: area: docs

#22613 [docs] - Fix formatting in AWS agent guides
  docs/content/dagster-plus/deployment/agents/amazon-ecs/creating-ecs-agent-existing-vpc.mdx
  docs/content/dagster-plus/deployment/agents/amazon-ecs/creating-ecs-agent-new-vpc.mdx
Labels: area: docs

#22596 [docs] Clarify how to set main/base deployment for branch deployments
  docs/content/dagster-plus/managing-deployments/branch-deployments/change-tracking.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments.mdx
Labels: area: docs

#22571 [daggy-u] fix indentation of indented code snippets
  docs/dagster-university/pages/dagster-dbt/lesson-5/2-connecting-dbt-models-to-dagster-assets.md
Labels: area: dagster-university

#22675 [docs] make quickstart self contained in assets.py
  docs/content/getting-started/quickstart.mdx
  examples/docs_snippets/docs_snippets/getting-started/quickstart/assets.py
  examples/docs_snippets/docs_snippets/getting-started/quickstart/configurations.py
Labels: area: docs

#22615 Docs/syntax highlighting
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/FencedCodeBlock.tsx
  docs/next/markdoc/nodes/fence.markdoc.ts
  docs/next/markdoc/nodes/index.ts
  docs/next/pages/_app.tsx
Labels: area: docs

#22680 [docs] - Add type hint to Backfill example
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/backfills/single_run_backfill_asset.py
Labels: area: docs

#22695 [docs][daggy-u] fix typo lesson 4 part 6
  docs/dagster-university/pages/dagster-essentials/lesson-4/coding-practice-trips-by-week-asset.md
Labels: area: dagster-university

#22732 in dbt reference, "column-level lineage" -> "column-level metadata"
  docs/content/integrations/dbt/reference.mdx
Labels: area: docs

#22513 [DbtProject] Implement `prepare_if_dev`
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt/include/scaffold/project.py.jinja
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_project.py
Labels: area: docs

#22534 [DbtProject] RFC: Update API post dogfooding
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
Labels: area: docs

#22546 [dbt] Add DbtManifestPreparer and DagsterDbtManifestPreparer apidoc
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-dbt/dagster_dbt/__init__.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
Labels: area: docs

#22578 [DbtProject] Remove experimental marker from DbtProject and preparer classes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
Labels: area: docs

#22719 [docs] user deployment env config doc fix
  docs/content/deployment/guides/kubernetes/deploying-with-helm.mdx
  examples/docs_snippets/docs_snippets/deploying/kubernetes/user_code_deployment_config.yaml
Labels: area: docs

#22612 [docs] 1/n rm `airflow-dagster` reference in prep. for migration guides
  docs/content/_navigation.json
  docs/content/integrations/airflow.mdx
  docs/content/integrations/airflow/reference.mdx
  docs/next/util/redirectUrls.json
Labels: area: docs

#22614 [docs] 2/n add airflow migration strategies: TaskFlow, Kubernetes
  docs/content/guides/migrations/migrating-airflow-to-dagster.mdx
Labels: area: docs

#22637 [docs] 3/n move "Learning Dagster from Airflow" to Guides
  docs/content/_navigation.json
  docs/content/guides/migrations/migrating-airflow-to-dagster.mdx
  docs/content/integrations/airflow.mdx
  docs/content/integrations/airflow/from-airflow-to-dagster.mdx
Labels: area: docs
