Repository dagster-io/dagster, pull requests merged in 2024-08, with the labels that each got.

#23236 say more about the storage kind tag and how to use it
  docs/content/concepts/metadata-tags/tags.mdx
Labels: area: docs

#23114 [docs] document built-in asset checks
  docs/content/concepts/assets/asset-checks.mdx
Labels: area: docs

#23374 [1.8][external assets] enable passing `AssetSpec`s as graph inputs
  docs/content/concepts/ops-jobs-graphs/graphs.mdx
  docs/content/guides/dagster/how-assets-relate-to-ops-and-graphs.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/assets_ops_graphs/op_graph_asset_input.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/composition.py
  python_modules/dagster/dagster_tests/core_tests/graph_tests/test_graph_source_asset_input.py
Labels: area: docs

#23200 [1.8][external assets] remove `external_assets_from_specs` from concept docs
  docs/content/concepts/assets/external-assets.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/external_assets/external_asset_deps.py
  examples/docs_snippets/docs_snippets/concepts/assets/external_assets/external_asset_using_sensor.py
  examples/docs_snippets/docs_snippets/concepts/assets/external_assets/normal_asset_depending_on_external.py
  examples/docs_snippets/docs_snippets/concepts/assets/external_assets/single_declaration.py
  examples/docs_snippets/docs_snippets/concepts/assets/external_assets/update_external_asset_via_op.py
Labels: area: docs

#23318 docs(catalog): add documentation about catalog views
  docs/content/concepts/webserver/ui.mdx
  docs/next/public/images/concepts/webserver/catalog-views.png
Labels: area: docs

#23066 [docs] - Update Dagster+ OKTA SAML guide to reflect Okta UI changes (DOC-307)
  docs/content/dagster-plus/account/authentication/okta/saml-sso.mdx
  docs/content/dagster-plus/account/authentication/setting-up-onelogin-saml-sso.mdx
  docs/next/public/images/dagster-cloud/sso/okta/app_integration_catalog.png
  docs/next/public/images/dagster-cloud/sso/okta/browse_app_catalog.jpg
  docs/next/public/images/dagster-cloud/sso/okta/left_hand_menu.png
  docs/next/public/images/dagster-cloud/sso/okta/okta_login.png
  docs/next/public/images/dagster-cloud/sso/okta/save-xml-as-page.png
  docs/next/public/images/dagster-cloud/sso/okta/save_identity_provider_metadata.jpg
  docs/next/public/images/dagster-cloud/sso/okta/save_identity_provider_metadata.png
  docs/next/public/images/dagster-cloud/sso/okta/service_provider_login.png
  docs/next/public/images/dagster-cloud/sso/okta/subdomain_configuration.jpg
  docs/next/public/images/dagster-cloud/sso/okta/subdomain_configuration.png
Labels: area: docs

#23385 [docs] Add more explanation for FilePathMapping for code references
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/guides/dagster/code-references.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/metadata.rst
  examples/quickstart_etl/quickstart_etl/definitions.py
  python_modules/dagster/dagster/_core/definitions/metadata/source_code.py
Labels: area: docs

#23203 [docs][dagster-dbt] use new with_insights chain method
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/dagster-plus/insights/integrating-bigquery-and-dbt.mdx
  docs/content/dagster-plus/insights/integrating-snowflake-and-dbt.mdx
  docs/next/public/objects.inv
Labels: area: docs

#23157 Upgrade sphinx to 8
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/tox.ini
Labels: area: docs

#23098 [daggy-u][dbt] Update dbt course to use DbtProject
  docs/dagster-university/pages/dagster-dbt/lesson-3/3-defining-the-dbt-project-location-in-dagster.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/3-representing-the-dbt-project-in-dagster.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/4-creating-a-dbt-resource-in-dagster.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/5-loading-dbt-models-into-dagster-as-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-3/knowledge-check.md
  docs/dagster-university/pages/dagster-dbt/lesson-4/2-speeding-up-the-development-cycle.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/2-connecting-dbt-models-to-dagster-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-6/3-creating-a-partitioned-dbt-asset.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Labels: area: dagster-university

#23461 [sling] remove deprecations
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/asset_defs.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/conftest.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_assets.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_resource.py
Labels: area: docs

#23425 [docs] - Add Declarative Automation concept page (DOC-321)
  docs/content/_navigation.json
  docs/content/concepts.mdx
  docs/content/concepts/assets/asset-auto-execution.mdx
  docs/content/concepts/automation.mdx
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/webserver/ui.mdx
  docs/content/dagster-plus/managing-deployments/deployment-settings-reference.mdx
  docs/content/deployment/dagster-instance.mdx
  docs/content/guides/dagster/managing-ml.mdx
  docs/content/integrations/airflow.mdx
  docs/content/integrations/airflow/from-airflow-to-dagster.mdx
  docs/next/public/images/concepts/automation/declarative-automation/default-automation-sensor.png
  docs/next/public/images/concepts/automation/declarative-automation/evaluations-asset-details.png
  docs/next/util/redirectUrls.json
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
Labels: area: docs

#23463 [dagster-airflow] remove API doc references as we de-emphasize the use of this library
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations.mdx
  docs/next/public/objects.inv
  docs/next/util/redirectUrls.json
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-airflow.rst
Labels: area: docs

#23442 [docs] - Add custom automation conditions guide (DOC-322)
  docs/content/_navigation.json
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  docs/next/public/images/concepts/automation/declarative-automation/condition-label-expanded.png
  docs/next/public/images/concepts/automation/declarative-automation/condition-label.png
Labels: area: docs

#23474 [daggy-u] - Add prepare_if_dev() explanation to Lesson 4
  docs/dagster-university/pages/dagster-dbt/lesson-4/2-speeding-up-the-development-cycle.md
Labels: area: dagster-university

#23403 [du] remove fastparquet dependency [DEV-414]
  docs/dagster-university/pages/dagster-dbt/lesson-2/2-set-up-the-dagster-project.md
Labels: area: dagster-university

#23353 [dagster-aws] add Pipes cloudwatch message reader
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Labels: area: docs

#23354 [dagster-aws] Pipes AWS Glue Dagster run interruption handler
  python_modules/libraries/dagster-aws/dagster_aws/pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Labels: area: docs

#23524 [easy] drop experimental mentions from pipes page
  docs/content/concepts/dagster-pipes.mdx
Labels: area: docs

#23525 take experimental marker off of external assets in docs
  docs/content/_navigation.json
  docs/content/concepts.mdx
  docs/content/concepts/assets/external-assets.mdx
Labels: area: docs

#23523 fix: typo in Snowflake-dbt insights integration
  docs/content/dagster-plus/insights/integrating-snowflake-and-dbt.mdx
Labels: area: docs

#23556 Guide users toward paginated runs queries
  docs/content/concepts/webserver/graphql.mdx
Labels: area: docs

#23582 [docs] [revamp] - Add sections to Guides category
  docs/docs-next/docs/guides/automation.md
  docs/docs-next/docs/guides/data-assets.md
  docs/docs-next/docs/guides/deployment.md
  docs/docs-next/docs/guides/external-systems.md
  docs/docs-next/docs/guides/monitoring.md
  docs/docs-next/docs/guides/testing.md
  docs/docs-next/docs/guides/transformation.md
  docs/docs-next/docs/how-to/data-movement-transformation.md
  docs/docs-next/sidebars.ts
Labels: area: docs

#23600 update dagster docs next project
  .github/workflows/build-docs-revamp.yml
Labels: area: docs

#23601 [docs] [revamp] - Seed /guides pages
  docs/docs-next/docs/guides/automation/creating-dynamic-pipelines-based-on-external-data.md
  docs/docs-next/docs/guides/automation/running-pipelines-on-a-schedule.md
  docs/docs-next/docs/guides/automation/triggering-pipeline-runs-using-events.md
  docs/docs-next/docs/guides/data-assets/adding-metadata-to-assets.md
  docs/docs-next/docs/guides/data-assets/creating-asset-factories.md
  docs/docs-next/docs/guides/data-assets/creating-data-assets.md
  docs/docs-next/docs/guides/data-assets/creating-dependencies-between-assets.md
  docs/docs-next/docs/guides/data-assets/passing-data-between-assets.md
  docs/docs-next/docs/guides/data-assets/selecting-subsets-of-assets.md
  docs/docs-next/docs/guides/deployment/aws.md
  docs/docs-next/docs/guides/deployment/azure.md
  docs/docs-next/docs/guides/deployment/building-a-data-mesh.md
  docs/docs-next/docs/guides/deployment/dagster-plus.md
  docs/docs-next/docs/guides/deployment/gcp.md
  docs/docs-next/docs/guides/deployment/managing-code-locations.md
  docs/docs-next/docs/guides/deployment/self-hosted-to-dagster-plus.md
  docs/docs-next/docs/guides/external-systems/adding-python-libraries.md
  docs/docs-next/docs/guides/external-systems/connecting-databases.md
  docs/docs-next/docs/guides/external-systems/using-api-connections.md
  docs/docs-next/docs/guides/monitoring/custom-logging.md
  docs/docs-next/docs/guides/monitoring/custom-metrics.md
  docs/docs-next/docs/guides/monitoring/failed-run-alerts.md
  docs/docs-next/docs/guides/testing/detecting-schema-changes.md
  docs/docs-next/docs/guides/testing/integration-tests.md
  docs/docs-next/docs/guides/testing/stopping-runs.md
  docs/docs-next/docs/guides/testing/testing-assets-with-asset-checks.md
  docs/docs-next/docs/guides/testing/testing-for-data-freshness.md
  docs/docs-next/docs/guides/testing/unit-tests-for-assets-and-ops.md
  docs/docs-next/docs/guides/transformation/pushing-operations-to-data-warehouses.md
  docs/docs-next/docs/guides/transformation/working-with-different-data-formats.md
  docs/docs-next/docs/guides/transformation/working-with-large-datasets.md
  docs/docs-next/sidebars.ts
Labels: area: docs

#23316 [docs] Update recommended structure to remove Dagster code from `__init__.py`
  docs/content/concepts/code-locations.mdx
  docs/content/concepts/code-locations/workspace-files.mdx
  docs/content/concepts/configuration/configured.mdx
  docs/content/guides/dagster/branch_deployments.mdx
  docs/content/guides/dagster/recommended-project-structure.mdx
  docs/content/guides/dagster/software-defined-assets.mdx
  docs/content/guides/dagster/transitioning-data-pipelines-from-development-to-production.mdx
  docs/content/guides/dagster/using-environment-variables-and-secrets.mdx
  docs/content/guides/understanding-dagster-project-files.mdx
  docs/content/tutorial/connecting-to-external-services.mdx
  docs/next/components/mdx/includes/dagster/DagsterDevTabs.mdx
  examples/assets_pandas_pyspark/assets_pandas_pyspark/definitions.py
  examples/docs_snippets/docs_snippets/concepts/repositories_workspaces/workspace_python_module.yaml
  examples/docs_snippets/docs_snippets/guides/dagster/development_to_production/branch_deployments/repository_v1.py
  examples/docs_snippets/docs_snippets/guides/dagster/development_to_production/repository/repository_v1.py
  examples/docs_snippets/docs_snippets/guides/dagster/development_to_production/repository/repository_v2.py
  examples/docs_snippets/docs_snippets/guides/dagster/development_to_production/repository/repository_v3.py
  examples/docs_snippets/docs_snippets/guides/dagster/using_environment_variables_and_secrets/repository.py
  examples/docs_snippets/docs_snippets/guides/dagster/using_environment_variables_and_secrets/repository_v2.py
  examples/docs_snippets/docs_snippets/tutorial/connecting/connecting_with_envvar.py
Labels: area: docs

#23430 [docs] clarify steps exempt for Serverless deployment in CLI branch deployment
  docs/content/dagster-plus/managing-deployments/branch-deployments/using-branch-deployments.mdx
Labels: area: docs

#23350 [docs] Update URL to Definitions for project-fully-featured
  docs/content/guides/dagster/recommended-project-structure.mdx
Labels: area: docs

#23347 [docs] Update tutorials to remove Dagster code from `__init__.py` (docs)
  docs/content/integrations/dagstermill/using-notebooks-with-dagster.mdx
  docs/content/tutorial/connecting-to-external-services.mdx
  docs/content/tutorial/scheduling-your-pipeline.mdx
Labels: area: docs

#23389 [dagster-dbt][DA] Add get_automation_condition method to DagsterDbtTranslator
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud/asset_defs.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dagster_dbt_translator.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
Labels: area: docs

#23626 [docs] Bump axios for dependabot
  docs/next/package.json
  docs/next/yarn.lock
Labels: area: docs

#23451 [dagster-airbyte] Support `client_id` and `client_secret` in AirbyteCloudResource
  docs/content/integrations/airbyte-cloud.mdx
  examples/docs_snippets/docs_snippets/integrations/airbyte/airbyte.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_cloud_resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_instance.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_ops.py
Labels: area: docs

#23598 Add Passing Data Between Assets Guide
  .github/workflows/build-docs-revamp.yml
  docs/.gitignore
  docs/docs-next/docs/concepts/io-managers.md
  docs/docs-next/docs/concepts/understanding-assets.md
  docs/docs-next/docs/guides/data-assets.md
  docs/docs-next/docs/guides/data-assets/adding-metadata-to-assets.md
  docs/docs-next/docs/guides/data-assets/creating-asset-factories.md
  docs/docs-next/docs/guides/data-assets/creating-data-assets.md
  docs/docs-next/docs/guides/data-assets/creating-dependencies-between-assets.md
  docs/docs-next/docs/guides/data-assets/passing-data-assets/passing-data-avoid.py
  docs/docs-next/docs/guides/data-assets/passing-data-assets/passing-data-explicit.py
  docs/docs-next/docs/guides/data-assets/passing-data-assets/passing-data-io-manager.py
  docs/docs-next/docs/guides/data-assets/passing-data-assets/passing-data-rewrite-assets.py
  docs/docs-next/docs/guides/data-assets/passing-data-between-assets.md
  docs/docs-next/docs/guides/data-assets/selecting-subsets-of-assets.md
  docs/docs-next/src/components/CodeExample.tsx
  docs/docs-next/src/styles/custom.scss
  docs/docs-next/src/theme/MDXComponents.tsx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  pyright/master/exclude.txt
Labels: area: docs

#23635 Add better docblock for target
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/decorators/schedule_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/sensor_decorator.py
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
Labels: area: docs

#23655 [docs] fix typo dbt_profiles.yml -> dbt_project.yml
  docs/content/integrations/dbt/using-dbt-with-dagster-plus.mdx
Labels: area: docs

#23663 docs(deltalake): correct typos
  docs/content/integrations/deltalake/reference.mdx
Labels: area: docs

#23675 [docs] Update CI/CD example dbt & Dagster+ guide to use DbtProject
  docs/content/integrations/dbt/using-dbt-with-dagster-plus.mdx
Labels: area: docs

#23691 Docs Revamp – Set up baseline themes
  docs/docs-next/docusaurus.config.ts
  docs/docs-next/src/styles/colors.scss
  docs/docs-next/src/styles/custom.scss
  docs/docs-next/src/styles/theme-dark.scss
  docs/docs-next/src/styles/theme-globals.scss
  docs/docs-next/src/styles/theme-light.scss
  docs/docs-next/static/img/dagster-docs-logo-dark.svg
  docs/docs-next/static/img/dagster-docs-logo.svg
  docs/docs-next/static/img/favicon-old.ico
  docs/docs-next/static/img/favicon.ico
Labels: area: docs

#23659 Add Automation Page
  .github/workflows/build-docs-revamp.yml
  docs/docs-next/docs/concepts/sensors.md
  docs/docs-next/docs/guides/automation.md
  docs/docs-next/docs/guides/automation/asset-sensors.md
  docs/docs-next/docs/guides/automation/creating-dynamic-pipelines-based-on-external-data.md
  docs/docs-next/docs/guides/automation/running-pipelines-on-a-schedule.md
  docs/docs-next/docs/guides/automation/schedules.md
  docs/docs-next/docs/guides/automation/sensors.md
  docs/docs-next/docs/guides/automation/simple-asset-sensor-example.py
  docs/docs-next/docs/guides/automation/simple-schedule-example.py
  docs/docs-next/docs/guides/automation/simple-sensor-example.py
  docs/docs-next/docs/guides/automation/triggering-pipeline-runs-using-events.md
  docs/vale/styles/Dagster/section-heading-sentence-case.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#23440 [dagster-aws, docs] cloudwatch message reader docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/glue_script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes.py
Labels: area: docs

#23111 [docs] on multi-asset concept page, use AssetSpec, not AssetOut
  docs/content/concepts/assets/multi-assets.mdx
  examples/docs_snippets/docs_snippets/concepts/assets/multi_asset_conditional_materialization.py
  examples/docs_snippets/docs_snippets/concepts/assets/multi_assets.py
Labels: area: docs

#23713 Docs Revamp – more theme work
  docs/docs-next/docusaurus.config.ts
  docs/docs-next/src/styles/custom.scss
  docs/docs-next/src/styles/infima.scss
  docs/docs-next/src/styles/theme-dark.scss
  docs/docs-next/src/styles/theme-light.scss
  docs/docs-next/static/icons/arrow_drop_down.svg
  docs/docs-next/static/icons/chevron.svg
Labels: area: docs

#21459 [deprecate-source-assets] storage integration docs
  docs/content/integrations/bigquery/reference.mdx
  docs/content/integrations/bigquery/using-bigquery-with-dagster.mdx
  docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
  docs/content/integrations/duckdb/reference.mdx
  docs/content/integrations/duckdb/using-duckdb-with-dagster.mdx
  docs/content/integrations/snowflake/reference.mdx
  docs/content/integrations/snowflake/using-snowflake-with-dagster-io-managers.mdx
  docs/content/integrations/snowflake/using-snowflake-with-dagster.mdx
  examples/docs_snippets/docs_snippets/integrations/bigquery/reference/dataset.py
  examples/docs_snippets/docs_snippets/integrations/bigquery/tutorial/io_manager/full_example.py
  examples/docs_snippets/docs_snippets/integrations/bigquery/tutorial/io_manager/source_asset.py
  examples/docs_snippets/docs_snippets/integrations/bigquery/tutorial/resource/full_example.py
  examples/docs_snippets/docs_snippets/integrations/bigquery/tutorial/resource/source_asset.py
  examples/docs_snippets/docs_snippets/integrations/deltalake/full_example.py
  examples/docs_snippets/docs_snippets/integrations/deltalake/schema.py
  examples/docs_snippets/docs_snippets/integrations/deltalake/source_asset.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/reference/schema.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/tutorial/io_manager/full_example.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/tutorial/io_manager/source_asset.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/tutorial/resource/full_example.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/io_manager_tutorial/full_example.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/schema.py
  examples/docs_snippets/docs_snippets/integrations/snowflake/source_asset.py
Labels: area: docs

#23392 [docs] add example using EnvVar.get_value() method
  docs/content/guides/dagster/using-environment-variables-and-secrets.mdx
Labels: area: docs

#23553 [daggy-u] [dbt] - Correct S3 env var key
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Labels: area: dagster-university

#23790 [docs-beta] value -> vale
  docs/docs-beta/README.md
Labels: area: docs

#23649 [DA] Add doc block to AutomationCondition, mark static constructors public
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
Labels: area: docs

#23718 [deprecate-source-assets] remove SourceAsset from assorted docs
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
  docs/content/guides/dagster/software-defined-assets.mdx
  docs/content/integrations/embedded-elt/dlt.mdx
  examples/assets_pandas_pyspark/assets_pandas_pyspark/assets/table_assets.py
  examples/assets_pandas_pyspark/assets_pandas_pyspark_tests/test_assets.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/backfills/single_run_backfill_io_manager.py
  examples/docs_snippets/docs_snippets/guides/dagster/enriching_with_software_defined_assets/sda_io_manager.py
  examples/docs_snippets/docs_snippets/guides/dagster/enriching_with_software_defined_assets/sda_nothing.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_source_assets.py
Labels: area: docs

#23818 Update docs-beta README
  docs/docs-beta/README.md
Labels: area: docs

#23825 [docs-beta] Remove install-state
  docs/docs-beta/.yarn/install-state.gz
Labels: area: docs

#23531 merge captured log manager / compute log manager
  docs/sphinx/sections/api/apidocs/internals.rst
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/__init__.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_logs.py
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql/schema/logs/compute_logs.py
  python_modules/dagster-graphql/dagster_graphql/schema/util.py
  python_modules/dagster-webserver/dagster_webserver/webserver.py
  python_modules/dagster/dagster/_core/definitions/instigation_logger.py
  python_modules/dagster/dagster/_core/events/__init__.py
  python_modules/dagster/dagster/_core/execution/plan/execute_plan.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/captured_log_manager.py
  python_modules/dagster/dagster/_core/storage/cloud_storage_compute_log_manager.py
  python_modules/dagster/dagster/_core/storage/compute_log_manager.py
  python_modules/dagster/dagster/_core/storage/local_compute_log_manager.py
  python_modules/dagster/dagster/_core/storage/noop_compute_log_manager.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_run_status_sensors.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_sensor_run.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_multiprocessing.py
  python_modules/dagster/dagster_tests/logging_tests/test_stdout.py
  python_modules/dagster/dagster_tests/storage_tests/test_captured_log_manager.py
  python_modules/dagster/dagster_tests/storage_tests/test_compute_log_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/compute_log_manager.py
  python_modules/libraries/dagster-airflow/dagster_airflow_tests/test_dagster_pipeline_factory/test_tags.py
  python_modules/libraries/dagster-aws/dagster_aws/s3/compute_log_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-gcp/dagster_gcp/gcs/compute_log_manager.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/gcs_tests/test_compute_log_manager.py
Labels: area: docs

#23834 [docs-beta] Remove install-state
  docs/docs-beta/.yarn/install-state.gz
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Labels: area: docs

#23836 [docs-beta] Add testable code snippets
  docs/docs-beta/README.md
  docs/docs-beta/src/components/CodeExample.tsx
  examples/docs_beta_snippets/README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/asset-sensor-custom-eval.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/asset-sensor-with-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/multi-asset-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-asset-sensor-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-schedule-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-sensor-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-avoid.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-explicit.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-io-manager.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-rewrite-assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/__init__.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_beta_snippets/pyproject.toml
  examples/docs_beta_snippets/setup.py
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/asset-sensor-custom-eval.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/asset-sensor-with-config.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/multi-asset-sensor.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/schedule-with-partition.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-asset-sensor-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-schedule-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-sensor-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-avoid.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-explicit.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-io-manager.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-rewrite-assets.py
Labels: area: docs

#23841 [docs-beta] Update GH Action
  .github/workflows/build-docs-revamp.yml
  docs/docs-beta/README.md
Labels: area: docs

#23847 [docs-beta] Update GH Action
  .github/workflows/build-docs-revamp.yml
Labels: area: docs

#23831 [docs-revamp] Metadata docs
  docs/docs-beta/.gitignore
  docs/docs-beta/README.md
  docs/docs-beta/docs/guides/data-modeling/adding-metadata-to-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/todo.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/custom-local-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/definition-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/oss-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/owners.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/plus-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/python-local-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/runtime-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/table-column-lineage-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/table-schema-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/tags.py
  pyright/master/exclude.txt
Labels: area: docs

#22903 [docs][guide] approaches to writing integrations
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Labels: area: docs

#22910 [docs][guide] writing a multi-asset backed integration
  docs/content/_navigation.json
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Labels: area: docs

#23858 [docs-beta] README change regarding lint:fix
  docs/docs-beta/.eslintrc.js
  docs/docs-beta/README.md
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Labels: area: docs

#23867 [docs-beta] add spaces to user defined state in mermaid diagram
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Labels: area: docs

#23857 [docs-beta] clean up unused sidebar items
  docs/docs-beta/docs/guides/data-modeling/asset-factories.md
  docs/docs-beta/docs/guides/data-modeling/creating-dependencies-between-assets.md
  docs/docs-beta/docs/guides/data-modeling/data-assets.md
  docs/docs-beta/docs/guides/data-modeling/passing-data-between-assets.md
  docs/docs-beta/docs/guides/data-modeling/selection-syntax.md
  docs/docs-beta/docs/guides/deployment/amazon-web-services.md
  docs/docs-beta/docs/guides/deployment/building-a-data-mesh.md
  docs/docs-beta/docs/guides/deployment/code-locations.md
  docs/docs-beta/docs/guides/deployment/docker.md
  docs/docs-beta/docs/guides/deployment/google-cloud-platform.md
  docs/docs-beta/docs/guides/deployment/microsoft-azure.md
  docs/docs-beta/docs/guides/etl/incremental-loading.md
  docs/docs-beta/docs/guides/etl/transform-dbt.md
  docs/docs-beta/docs/guides/etl/transform-python.md
  docs/docs-beta/docs/guides/external-systems/adding-python-libraries.md
  docs/docs-beta/docs/guides/external-systems/authentication.md
  docs/docs-beta/docs/guides/external-systems/cloud-services.md
  docs/docs-beta/docs/guides/external-systems/connecting-databases.md
  docs/docs-beta/docs/guides/external-systems/io-managers.md
  docs/docs-beta/docs/guides/external-systems/resources.md
  docs/docs-beta/docs/guides/external-systems/using-api-connections.md
  docs/docs-beta/docs/guides/ingestion.md
  docs/docs-beta/docs/guides/ingestion/ingesting-data.md
  docs/docs-beta/docs/guides/monitor-alert.md
  docs/docs-beta/docs/guides/monitor-alert/alerting.md
  docs/docs-beta/docs/guides/monitor-alert/custom-logging.md
  docs/docs-beta/docs/guides/monitor-alert/custom-metrics-logs.md
  docs/docs-beta/docs/guides/monitoring/failed-run-alerts.md
  docs/docs-beta/docs/guides/quality-testing/asset-checks.md
  docs/docs-beta/docs/guides/quality-testing/data-freshness-testing.md
  docs/docs-beta/docs/guides/quality-testing/integration-tests.md
  docs/docs-beta/docs/guides/quality-testing/unit-tests-assets-and-ops.md
  docs/docs-beta/docs/guides/testing.md
  docs/docs-beta/docs/guides/testing/detecting-schema-changes.md
  docs/docs-beta/docs/guides/testing/integration-tests.md
  docs/docs-beta/docs/guides/testing/stopping-runs.md
  docs/docs-beta/docs/guides/testing/testing-assets-with-asset-checks.md
  docs/docs-beta/docs/guides/testing/testing-for-data-freshness.md
  docs/docs-beta/docs/guides/testing/unit-tests-for-assets-and-ops.md
  docs/docs-beta/docs/guides/transformation.md
  docs/docs-beta/docs/guides/transformation/pushing-operations-to-data-warehouses.md
  docs/docs-beta/docs/guides/transformation/working-with-different-data-formats.md
  docs/docs-beta/docs/guides/transformation/working-with-large-datasets.md
  docs/docs-beta/docs/tutorial/installation.md
  docs/docs-beta/sidebars.ts
Labels: area: docs

#23893 [docathon] External assets guide
  .github/styles
  .github/workflows/vale.yml
  docs/docs-beta/docs/guides/data-modeling/external-assets.md
  docs/vale/styles/Dagster/headings-gerund.yml
  docs/vale/styles/Google/Periods.yml
  docs/vale/styles/Google/Spacing.yml
  docs/vale/styles/Terms/dagster.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/external-assets/creating-external-assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/external-assets/dag-of-external-assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/external-assets/pulling-with-sensors.py
Labels: area: docs

#23896 [docs-revamp] - Add about section and pages
  docs/docs-beta/docs/about/community.md
  docs/docs-beta/docs/about/contributing.md
  docs/docs-beta/docs/about/releases.md
  docs/docs-beta/sidebars.ts
Labels: area: docs

#23897 [docs-revamp] - More Vale updates
  docs/vale/styles/Dagster/acronyms.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#23898 [docs-revamp] - More stub pages
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/testing.md
  docs/docs-beta/docs/guides/deployment/google-cloud-platform.md
  docs/docs-beta/docs/guides/deployment/kubernetes.md
Labels: area: docs

#23911 [docs] fix 404ing URL
  docs/content/dagster-plus/deployment/agents/amazon-ecs.mdx
Labels: area: docs

#23914 [docs-revamp] - Add more Vale examples to readme
  docs/docs-beta/README.md
Labels: area: docs

#23908 [docs-revamp] - Add resource stub pages
  docs/docs-beta/docs/guides/external-systems/authentication.md
  docs/docs-beta/docs/guides/external-systems/build-your-own.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
Labels: area: docs

#23938 [DOC-381] make titles optional in CodeExamples
  docs/docs-beta/src/components/CodeExample.tsx
Labels: area: docs

#23926 [DOC-348] Docs for asset and op unit testing
  docs/docs-beta/docs/guides/quality-testing/unit-tests-assets-and-ops.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-combo.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-dependency.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-no-argument.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-combo.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-dependency.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-no-argument.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-resource.py
  examples/docs_beta_snippets/setup.py
Labels: area: docs, docathon

#23915 [docathon] Clean up metadata docs (DOC-382)
  docs/docs-beta/docs/guides/data-modeling/metadata.md
Labels: area: docs, docathon

#23924 [docathon] Configuring assets guide
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/src/components/CodeExample.tsx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/config-schema.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/run_config.yaml
Labels: area: docs, docathon

#23969 [docs-beta] tweaks to configuring assets page
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
Labels: area: docs

#23970 [docathon] include http header x-robots-tag noindex for production de…
  docs/docs-beta/vercel.json
Labels: area: docs

#23976 [docathon] set noindex in docusaurus config
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/vercel.json
Labels: area: docs

#23683 [docs] Add dbt & Dagster+ guide for Hybrid deployments
  docs/content/_navigation.json
  docs/content/integrations/dbt/using-dbt-with-dagster-plus.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
Labels: area: docs

#23988 Even More Docs Style Updates
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/infima.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
  node_modules/.yarn-integrity
Labels: area: docs

#23963 [DOC-353] Alerts in Dagster+
  docs/docs-beta/docs/dagster-plus/deployment/alerts.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/generate_alerts_doc.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-slack.yaml
  examples/docs_beta_snippets/setup.py
Labels: area: docs

#24003 [docathon] placeholder images
  docs/docs-beta/docs/intro.md
  docs/docs-beta/static/img/placeholder.svg
Labels: area: docs

#24008 [ui] Clean up dependabot alerts
  docs/dagster-university/yarn.lock
  docs/docs-beta/package-lock.json
  docs/docs-beta/yarn.lock
  docs/next/yarn.lock
  js_modules/dagster-ui/yarn.lock
Labels: area: dagster-university, docathon

#24001 Fix pip upgrades in dbt examples
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
  examples/assets_dbt_python/.github/workflows/examples/branch_deployments.yml
  examples/assets_dbt_python/.github/workflows/examples/deploy.yml
Labels: area: dagster-university

#23568 [dagster-aws] add Pipes ECS client
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  examples/experimental/dagster-airlift/examples/mwaa-example/scripts/setup_mwaa.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/context_injectors.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-aws/dagster_aws/secretsmanager/resources.py
  python_modules/libraries/dagster-aws/dagster_aws/ssm/resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_file_manager.py
  python_modules/libraries/dagster-aws/setup.py
  scripts/auto_ignore_pyright_errors.py
Labels: area: docs

#23569 [dagster-aws] [docs] add documentation for ECS Pipes
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dev.Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/task.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
Labels: area: docs

#23993 [airlift] Add migration state tests to Airlift tutorial
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migration_state.py
Labels: area: dagster-university, docathon

#23937 [docs] Data freshness guide
  docs/docs-beta/docs/guides/quality-testing/data-freshness-testing.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/anomaly-detection.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/external-asset-freshness-check.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/materializable-asset-freshness-check.py
  examples/docs_beta_snippets/setup.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
Labels: area: docs, docathon

#24054 [bk] tweak docs beta snippets tox
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/generate_alerts_doc.py
  examples/docs_beta_snippets/setup.py
  examples/docs_beta_snippets/tox.ini
  scripts/generate_changelog.py
Labels: docathon

#23931 [DOC-366] Add Dagster Plus audit log guide
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/access/rbac/audit-logs.graphql
Labels: area: docs, docathon

#24053 [typo] asset selection syntax upstream->downstream
  docs/content/concepts/assets/asset-selection-syntax.mdx
Labels: area: docs

#24041 [docathon] Port run isolation docs
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24012 Guide for setting environment variables in Dagster+ UI
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/components/CodeExample.tsx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24040 [DOC-368] local dagster dev
  docs/docs-beta/docs/guides/tbd.md
  docs/docs-beta/docs/guides/tbd/running-local-ui-development.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/dagster.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/definitions.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/pyproject.toml
Labels: area: docs, docathon

#24065 Update CodeExample.tsx
  docs/docs-beta/src/components/CodeExample.tsx
Labels: area: docs, docathon

#24002 [DOC-373] Code location history
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/sidebars.ts
Labels: area: docs, docathon

#24066 Update CodeExample.tsx
  docs/docs-beta/src/components/CodeExample.tsx
Labels: area: docs, docathon

#24020 reference for built-in env vars
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/built-in.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
Labels: area: docs, docathon

#24063 [docs-beta] Selection syntax reference
  docs/docs-beta/docs/guides/TBD.md
  docs/docs-beta/docs/guides/data-modeling/selection-syntax.md
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
  docs/docs-beta/sidebars.ts
Labels: area: docs, docathon

#24056 [docathon] Port the code requirements page and clean it up
  docs/docs-beta/docs/dagster-plus/getting-started/code-requirements.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#23967 [DOC 364] lopp/doc-364-write-creating-dagster-code-locations
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
Labels: area: docs, docathon

#24045 DOC-421 DOC-422 BigQuery Insights
  docs/docs-beta/docs/dagster-plus/insights/google-bigquery-dbt.md
  docs/docs-beta/docs/dagster-plus/insights/google-bigquery.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/bigquery-dbt-asset-insights.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/bigquery-dbt-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/bigquery-resource-insights.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/bigquery-resource.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/constants.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/dbt_project.yml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/dbt_project_insights.yml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/manifest.json
  examples/docs_beta_snippets/tox.ini
Labels: area: docs, docathon

#24047 DOC-424 DOC-425 Snowflake Insights Guide
  docs/docs-beta/docs/dagster-plus/insights/snowflake-dbt.md
  docs/docs-beta/docs/dagster-plus/insights/snowflake.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/google-bigquery/constants.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/dbt_project.yml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/dbt_project_insights.yml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/manifest.json
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/snowflake-dbt-asset-insights.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/snowflake-dbt-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/snowflake-resource-insights.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/insights/snowflake/snowflake-resource.py
Labels: area: docs, docathon

#23920 Guide for connecting to APIs
  docs/docs-beta/docs/guides/external-systems/apis.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/env_var_configuration.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_minimal_resource_in_asset.py
Labels: area: docs, docathon

#24034 [docathon] swizzle basic 404
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/theme/NotFound/Content/index.tsx
  docs/docs-beta/src/theme/NotFound/index.tsx
  docs/docs-beta/static/img/dagster-cowboy.png
Labels: area: docs, docathon

#24078 Docathon – New footer
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/static/icons/github.svg
  docs/docs-beta/static/icons/slack.svg
  docs/docs-beta/static/icons/twitter.svg
  docs/docs-beta/static/icons/youtube.svg
  docs/docs-beta/static/img/dagster_labs-primary-horizontal.svg
  docs/docs-beta/static/img/dagster_labs-reversed-horizontal.svg
Labels: area: docs, docathon

#23968 basic example of using assets with io managers (DOC-347)
  docs/docs-beta/docs/guides/external-systems/io-managers.md
  docs/next/public/assets/raw_sales_data.csv
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-with-io-managers.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-with-snowflake-io-manager.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-without-io-managers.py
  examples/docs_beta_snippets/tox.ini
Labels: area: docs, docathon

#24055 transitioning serverless to hybrid guide
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/local_dagster.yaml
Labels: area: docs, docathon

#24062 Guide for 'Connecting to databases'
  docs/docs-beta/docs/guides/external-systems/databases.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/resource-duckdb-envvar-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/resource-duckdb-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/resource-snowflake-example.py
Labels: area: docs, docathon

#24090 [docathon] Knock out all the SSO docs migrations DOC-390 DOC-391 DOC-392 DOC-393
  docs/docs-beta/docs/dagster-plus/access/authentication/azure-ad-sso.md
  docs/docs-beta/docs/dagster-plus/access/authentication/google-workspace-sso.md
  docs/docs-beta/docs/dagster-plus/access/authentication/okta-scim.md
  docs/docs-beta/docs/dagster-plus/access/authentication/okta-sso.md
  docs/docs-beta/docs/dagster-plus/access/authentication/onelogin-sso.md
  docs/docs-beta/docs/dagster-plus/access/authentication/pingone-sso.md
  docs/docs-beta/docs/partials/_TestSSO.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24099 [docs] - Fix link in Schedule API docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
Labels: area: docs

#24035 [docs] Asset checks guide
  docs/docs-beta/docs/guides/quality-testing/asset-checks.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/asset-checks-factory.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/asset-checks-with-schedule-and-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/block-downstream-with-asset-checks.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/multiple-asset-checks.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/single-asset-check.py
Labels: area: docs, docathon

#24097 [docathon] cherry-pick UI changes by braunjj
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/infima.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
  docs/docs-beta/static/icons/github.svg
  docs/docs-beta/static/icons/slack.svg
  docs/docs-beta/static/icons/twitter.svg
  docs/docs-beta/static/icons/youtube.svg
  docs/docs-beta/static/img/dagster_labs-primary-horizontal.svg
  docs/docs-beta/static/img/dagster_labs-reversed-horizontal.svg
  node_modules/.yarn-integrity
Labels: area: docs, docathon

#23930 [docs-beta] ingesting data with dagster
  docs/docs-beta/docs/guides/etl/ingesting-data.md
  docs/docs-beta/docs/guides/ingestion-transformation.md
  docs/docs-beta/docs/guides/ingestion-transformation/backfill.md
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/Dagster/acronyms.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-ingestion/custom-data-ingestion.py
Labels: area: docs, docathon

#24103 [docathon] fix broken anchor ref in google sso
  docs/docs-beta/docs/dagster-plus/access/authentication/google-workspace-sso.md
Labels: area: docs, docathon

#24027 [docathon] Asset metadata in Insights
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
Labels: area: docs, docathon

#23741 [docs-beta] project structure guide
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/sidebars.ts
Labels: area: docs, docathon

#24095 DOC-385 Fix odd breadcrumb rendering
  docs/docs-beta/src/styles/custom.scss
Labels: area: docs, docathon

#24109 [docs] Team Management in Dagster+ guide
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
Labels: area: docs, docathon

#24114 Docathon -- Add Search Styles
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
Labels: area: docs, docathon

#24073 DOC-407 DOC-411 DOC-412 Setting up Branch Deployments Guide
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/github.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/gitlab.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/dagster.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/dagster_cloud.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/helm.yaml
Labels: area: docs, docathon

#24030 Refresh Dagster+ K8s agent install guide
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
Labels: area: docs, docathon

#23964 [docs-beta] docker compose deployment guide
  docs/docs-beta/docs/guides/deployment/docker.md
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs, docathon

#24110 [docs] User Management in Dagster + guide
  docs/docs-beta/docs/dagster-plus/access/authentication.md
  docs/docs-beta/docs/dagster-plus/access/authentication/scim-provisioning.md
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
Labels: area: docs, docathon

#23943 [DOC-372] Saved views guide
  docs/docs-beta/docs/dagster-plus/saved-views.md
  docs/docs-beta/sidebars.ts
Labels: area: docs, docathon

#24014 Basic dbt integration guide
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/.prettierignore
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/.gitignore
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/dbt_project.yml
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/_source.yml
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/customers.sql
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/my_first_dbt_model.sql
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/my_second_dbt_model.sql
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/schema.yml
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/profiles.yml
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/target/manifest.json
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions_with_downstream.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions_with_schedule.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions_with_upstream.py
  examples/docs_beta_snippets/tox.ini
  pyproject.toml
Labels: area: docs, docathon

#24112 guide for runtime env customization on serverless
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/data_files_setup.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/example_setup.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_base_image.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_disable_pex.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_no_pex_custom_base_image.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_python_version.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_base_image.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_disable_pex.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_python_version.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_template.yaml
Labels: area: docs, docathon

#24119 [docs-beta] add content for releases & compatibility page
  docs/docs-beta/docs/about/releases.md
Labels: area: docs, docathon

#24122 [docs-revap] - Fix links
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
Labels: area: docs, docathon

#24118 [docs-beta] add content for combined community & code of conduct page
  docs/docs-beta/docs/about/community.md
  docs/docs-beta/sidebars.ts
Labels: area: docs, docathon

#24085 docs guide to set up a basic pipes invocation (DOC-379)
  docs/docs-beta/docs/guides/external-systems/pipes.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/pipes/asset_wrapper.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/pipes/external_code_data_passing.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/pipes/external_code_opaque.py
Labels: area: docs, docathon

#24120 [docathon] write running non python languages with dagster
  docs/docs-beta/docs/guides/external-systems/non-python.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-asset-with-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-contrived-javascript.js
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-full-featured-javascript.js
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-javascript-utility.js
Labels: area: docs, docathon

#24107 [docathon] Insights home doc
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/sidebars.ts
Labels: area: docs, docathon

#24123 fix docs-beta-tests
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
Labels: docathon

#24088 Add doc for asset factory with deps
  docs/docs-beta/docs/guides/data-modeling/asset-factories-with-deps.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories-with-deps/asset-factory-with-deps.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories-with-deps/asset_downstream_of_factory_assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories-with-deps/table_definitions.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
Labels: area: docs, docathon

#23978 deploying to kubernetes guide
  docs/docs-beta/docs/guides/deployment/kubernetes.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/deploy_k8s_beta/README.md
  examples/deploy_k8s_beta/iris_analysis/definitions.py
  examples/deploy_k8s_beta/pyproject.toml
  examples/deploy_k8s_beta/setup.cfg
  examples/deploy_k8s_beta/setup.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/deployment/kubernetes/Dockerfile
  examples/docs_beta_snippets/docs_beta_snippets/guides/deployment/kubernetes/minimal_values.yaml
Labels: area: docs, docathon

#24132 fix broken links in beta docs
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/docs/guides/data-modeling/asset-factories-with-deps.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories-with-deps/asset-factory-with-deps.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories-with-deps/asset_downstream_of_factory_assets.py
Labels: area: docs, docathon

#24134 [docathon] Port hybrid architecture doc
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/tokens.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24124 DOC-376 partitioning assets 1/ Define partitioned assets
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/dynamic_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/static_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/time_based_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/two_dimensional_partitioning.py
Labels: area: docs, docathon
