Repository dagster-io/dagster, pull requests merged in 2024-09, with the labels that each got.

#24064 [docathon] WRITE - Creating data assets guide
  docs/docs-beta/docs/guides/data-modeling/data-assets.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/data-assets/asset_decorator.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/data-assets/graph_asset_decorator.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/data-assets/multi_asset_decorator.py
Labels: area: docs, docathon

#24177 fix(ruff) replace unused methods with context.log
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/data-assets/asset_decorator.py
Labels: docathon

#24158 Fix typo dagster-pandera
  docs/content/integrations/pandera.mdx
Labels: area: docs

#24180 [docathon] vale clean-up pass #1
  docs/.vale.ini
  docs/docs-beta/docs/about/community.md
  docs/docs-beta/docs/dagster-plus/access/authentication/azure-ad-sso.md
  docs/docs-beta/docs/dagster-plus/access/authentication/pingone-sso.md
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/getting-started/code-requirements.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/data-modeling/asset-dependencies.md
  docs/docs-beta/docs/guides/data-modeling/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/data-modeling/data-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/guides/deployment/docker.md
  docs/docs-beta/docs/guides/deployment/kubernetes.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
  docs/docs-beta/docs/guides/external-systems/pipes.md
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
  docs/vale/styles/Dagster/acronyms.yml
  docs/vale/styles/Dagster/headings-casing.yml
  docs/vale/styles/Terms/engineering.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24211 small tweak to selection syntax reference
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
Labels: area: docs, docathon

#24204 [Docs] Fix automating-assets-schedules-jobs
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
Labels: area: docs

#24215 [docs-beta] re-introduce missing ingestion example
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
Labels: area: docs, docathon

#24227 Fixup docs snippets
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
Labels: area: docs

#23912 [docs] indicate Run Monitoring enabled by default in Dagster+
  docs/content/deployment/run-monitoring.mdx
Labels: area: docs

#24213 [docs] update mentions of ".cron()" to ".on_cron()"
  docs/content/concepts/automation/declarative-automation.mdx
Labels: area: docs

#24189 Update hybrid architecture diagram
  docs/next/public/images/dagster-cloud/deployment/hybrid-architecture.png
Labels: area: docs, docathon

#23779 Introduce `kinds` backed by asset spec tags
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/utils.py
  python_modules/dagster/dagster/_core/storage/tags.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_utils.py
Labels: area: docs

#24128 [docs] User Roles & Permissions in Dagster+ guide
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/deployment/tokens.md
Labels: area: docs, docathon

#24239 [sphinx] fix: check_public_method_has_docstring bug with mappingproxy type
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
Labels: area: docs

#24007 Refresh "What's Dagster+"
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
  docs/docs-beta/docs/dagster-plus/deployment-types.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
  docs/docs-beta/docs/dagster-plus/deployment/code-requirements.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/dagster-plus/getting-started/features.md
  docs/docs-beta/docs/dagster-plus/getting-started/whats-dagster-plus.md
  docs/docs-beta/docs/dagster-plus/whats-dagster-plus.md
  docs/docs-beta/docs/guides/deployment/dagster-plus.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24210 Add docs on version compatibility within a deployment
  docs/content/about/releases.mdx
Labels: area: docs, area:docs-revamp

#24242 [sphinx] Add additional node types to the MDX writer
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/conf.py
Labels: area: docs

#24251 [docs] - Add link to Migration guides page
  docs/content/guides/migrations.mdx
  docs/content/guides/migrations/observe-your-airflow-pipelines-with-dagster.mdx
Labels: area: docs

#24272 [docs-beta] Make all MDX files render in Docusaurus
  docs/sphinx/Makefile
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
Labels: area: docs

#24273 [docs-beta] Temporarily hard-code links to docs.dagster.io in RST files
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types.md
  docs/sphinx/sections/api/apidocs/assets.rst
  docs/sphinx/sections/api/apidocs/config.rst
  docs/sphinx/sections/api/apidocs/external-assets.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-dbt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-openai.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pandera.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
  docs/sphinx/sections/api/apidocs/metadata.rst
  docs/sphinx/sections/api/apidocs/pipes.rst
  docs/sphinx/sections/api/apidocs/resources.rst
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
  python_modules/dagster/dagster/_core/definitions/decorators/schedule_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/definitions/partitioned_schedule.py
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
Labels: area: docs

#24284 [docs] Fix remaining Vale errors
  .github/workflows/vale.yml
  docs/docs-beta/content-templates/concept.md
  docs/docs-beta/content-templates/example-reference.md
  docs/docs-beta/docs/dagster-plus/access/authentication/pingone-sso.md
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/docs/dagster-plus/whats-dagster-plus.md
  docs/vale/styles/Dagster/todos.yml
  docs/vale/styles/Terms/words.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#24290 [docs] automate adding python modules to sphinx
  docs/sphinx/conf.py
Labels: area: docs

#23193 docs: update automation.mdx
  docs/content/concepts/automation.mdx
Labels: area: docs

#24304 [docs-beta] Update intro page with getting started/community links
  .github/workflows/build-docs-revamp.yml
  docs/docs-beta/docs/intro.md
  docs/docs-beta/package.json
  docs/docs-beta/src/components/Cards.tsx
  docs/docs-beta/src/components/CodeExample.tsx
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/yarn.lock
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24267 [docs-revamp] - Clean up Getting Started section (DOC-504)
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/getting-started/installation.md
  docs/docs-beta/docs/getting-started/quickstart.md
  docs/docs-beta/docs/guides/data-modeling/asset-factories.md
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/docs/guides/data-modeling/data-assets.md
  docs/docs-beta/docs/guides/data-modeling/external-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/intro.md
  docs/docs-beta/docs/tutorial/installation.md
  docs/docs-beta/docs/tutorial/quick-start.md
  docs/docs-beta/docs/tutorial/tutorial-etl.md
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/theme/NotFound/Content/index.tsx
  docs/docs-beta/static/images/getting-started/materialize-asset-in-ui.gif
  docs/docs-beta/static/images/getting-started/quickstart/dagster-ui-start.png
  docs/docs-beta/static/images/getting-started/quickstart/github-codespace-create.png
  docs/docs-beta/static/images/getting-started/quickstart/github-codespace-open-in-browser.png
  docs/docs-beta/static/images/getting-started/quickstart/hn-preview.png
  docs/docs-beta/static/images/getting-started/quickstart/quickstart-unmaterialized.png
  docs/docs-beta/static/images/getting-started/quickstart/quickstart.png
  docs/docs-beta/static/images/getting-started/ui-def.png
  docs/docs-beta/static/images/getting-started/ui-run.png
  examples/docs_beta_snippets/docs_beta_snippets/getting-started/quickstart.py
Labels: area: docs

#24320 fix bk
  examples/docs_beta_snippets/docs_beta_snippets/getting-started/quickstart.py
  python_modules/libraries/dagster-duckdb/dagster_duckdb_tests/test_resource.py
Labels: docathon

#24131 DOC-376 partitioning assets 2.1/ Dependencies between different time-based partitions
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docusaurus.config.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/.gitignore
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/dynamic_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/static_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/time_based_partition_dependencies.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/time_based_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/two_dimensional_partitioning.py
Labels: area: docs, docathon

#24326 fix beta docs build
  docs/docs-beta/README.md
  docs/docs-beta/docs/intro.md
  docs/docs-beta/src/components/Cards.tsx
  docs/docs-beta/src/components/CodeExample.tsx
Labels: area: docs, docathon

#24327 [sphinx-mdx-build] install editible version locally with Makefile directive
  docs/sphinx/Makefile
Labels: area: docs

#24328 [sphinx-mdx-builder] support inline flags
  docs/docs-beta/src/styles/custom.scss
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Labels: area: docs, docathon

#24353 [docs-revamp] - Fix links
  docs/docs-beta/docs/getting-started/installation.md
  docs/docs-beta/docs/guides/external-assets.md
  docs/docs-beta/docs/tutorial/installation.md
  docs/docs-beta/sidebars.ts
Labels: area: docs

#24352 [beta-docs] autogenerate index of api docs
  docs/docs-beta/docs/api.md
  docs/docs-beta/docs/api/index.mdx
  docs/docs-beta/docs/api/placeholder.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/styles/custom.scss
  docs/sphinx/Makefile
Labels: area: docs

#24100 [docs] MaterializationResult should be MaterializeResult
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/content/concepts/dagster-pipes/databricks.mdx
  docs/dagster-university/pages/dagster-essentials/extra-credit/materialization-metadata.md
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/session_lifecycle_external.py
Labels: area: dagster-university

#24362 [beta-docs] vercel build and sync api docs
  docs/Makefile
  docs/docs-beta/README.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/package.json
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
  docs/sphinx/Makefile
  docs/sphinx/requirements.txt
  docs/tox.ini
Labels: area: docs

#24307 [docs-beta] add Create a pipeline guide
  docs/docs-beta/docs/guides/pipelines.md
  docs/docs-beta/sidebars.ts
Labels: area: docs

#24308 [docs-beta] Update Define data assets
  docs/docs-beta/docs/guides/data-assets.md
  docs/docs-beta/docs/guides/external-assets.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/data-assets/asset_decorator.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/data-assets/graph_asset_decorator.py
Labels: area: docs

#24406 [docs-beta] re-introduce anchor validation
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs

#24407 [docs-beta] fix broken links in pipelines guide
  docs/docs-beta/docs/guides/pipelines.md
Labels: area: docs

#24330 integration docs beta 1/ replicate all integration pages from mkt site to beta docs
  docs/docs-beta/docs/getting-started/installation.md
  docs/docs-beta/docs/guides/asset-dependencies.md
  docs/docs-beta/docs/integrations.md
  docs/docs-beta/docs/integrations/airbyte.md
  docs/docs-beta/docs/integrations/aws-athena.md
  docs/docs-beta/docs/integrations/aws-cloudwatch.md
  docs/docs-beta/docs/integrations/aws-ecr.md
  docs/docs-beta/docs/integrations/aws-emr.md
  docs/docs-beta/docs/integrations/aws-glue.md
  docs/docs-beta/docs/integrations/aws-lambda.md
  docs/docs-beta/docs/integrations/aws-redshift.md
  docs/docs-beta/docs/integrations/aws-s3.md
  docs/docs-beta/docs/integrations/aws-secretsmanager.md
  docs/docs-beta/docs/integrations/aws-ssm.md
  docs/docs-beta/docs/integrations/azure-adls2.md
  docs/docs-beta/docs/integrations/census.md
  docs/docs-beta/docs/integrations/cube.md
  docs/docs-beta/docs/integrations/databricks.md
  docs/docs-beta/docs/integrations/datadog.md
  docs/docs-beta/docs/integrations/dbt-cloud.md
  docs/docs-beta/docs/integrations/dbt.md
  docs/docs-beta/docs/integrations/deltalake.md
  docs/docs-beta/docs/integrations/dlt.md
  docs/docs-beta/docs/integrations/docker.md
  docs/docs-beta/docs/integrations/duckdb.md
  docs/docs-beta/docs/integrations/fivetran.md
  docs/docs-beta/docs/integrations/gcp-bigquery.md
  docs/docs-beta/docs/integrations/gcp-dataproc.md
  docs/docs-beta/docs/integrations/gcp-gcs.md
  docs/docs-beta/docs/integrations/github.md
  docs/docs-beta/docs/integrations/hashicorp.md
  docs/docs-beta/docs/integrations/hightouch.md
  docs/docs-beta/docs/integrations/jupyter.md
  docs/docs-beta/docs/integrations/kubernetes.md
  docs/docs-beta/docs/integrations/lakefs.md
  docs/docs-beta/docs/integrations/looker.md
  docs/docs-beta/docs/integrations/meltano.md
  docs/docs-beta/docs/integrations/microsoft-teams.md
  docs/docs-beta/docs/integrations/open-metadata.md
  docs/docs-beta/docs/integrations/openai.md
  docs/docs-beta/docs/integrations/pagerduty.md
  docs/docs-beta/docs/integrations/pandas.md
  docs/docs-beta/docs/integrations/pandera.md
  docs/docs-beta/docs/integrations/prometheus.md
  docs/docs-beta/docs/integrations/sdf.md
  docs/docs-beta/docs/integrations/secoda.md
  docs/docs-beta/docs/integrations/shell.md
  docs/docs-beta/docs/integrations/slack.md
  docs/docs-beta/docs/integrations/sling.md
  docs/docs-beta/docs/integrations/snowflake.md
  docs/docs-beta/docs/integrations/spark.md
  docs/docs-beta/docs/integrations/ssh-sftp.md
  docs/docs-beta/docs/integrations/twilio.md
  docs/docs-beta/docs/integrations/wandb.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs, docathon

#24402 [docs-revamp] - Clean up External assets guide
  docs/docs-beta/docs/guides/external-assets.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/external-assets/creating-external-assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/external-assets/dag-of-external-assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/external-assets/pulling-with-sensors.py
Labels: area: docs

#24399 [doc-revamp] - Clean up partitioning guide
  docs/docs-beta/docs/guides/partition-dependencies.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/static_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/time_based_partitioning.py
Labels: area: docs

#24415 [docs-beta] rm "what you'll learn" from dagster+ guides
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
Labels: area: docs

#24414 [docs-beta] rm "what you'll learn" from guides
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/asset-factories.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/configuring-assets.md
  docs/docs-beta/docs/guides/custom-logging.md
  docs/docs-beta/docs/guides/databases.md
  docs/docs-beta/docs/guides/docker.md
  docs/docs-beta/docs/guides/ingesting-data.md
  docs/docs-beta/docs/guides/kubernetes.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/docs/guides/pipelines.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/transform-dbt.md
Labels: area: docs

#24413 [docs-beta] rm "what you'll learn" from content templates
  docs/docs-beta/content-templates/guide-no-steps.md
  docs/docs-beta/content-templates/guide-with-steps.md
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/asset-factories.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/configuring-assets.md
  docs/docs-beta/docs/guides/custom-logging.md
  docs/docs-beta/docs/guides/databases.md
  docs/docs-beta/docs/guides/docker.md
  docs/docs-beta/docs/guides/ingesting-data.md
  docs/docs-beta/docs/guides/kubernetes.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/docs/guides/pipelines.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/transform-dbt.md
Labels: area: docs

#24421 [docs] Add subheads to 'Limiting op/asset concurrency across runs' section
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Labels: area: docs

#24373 [dagster-polars] deprecate storage-level metadata
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/utils.py
Labels: area: docs

#24408 [docs-revamp] - Clean up API connections guide
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/partition-dependencies.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/env_var_configuration.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_minimal_resource_in_asset.py
Labels: area: docs

#23765 simplify `prepare_if_dev` explanation in dbt tutorial
  docs/content/integrations/dbt/using-dbt-with-dagster/load-dbt-models.mdx
Labels: area: docs

#24318 [dagster-aws] add `PipesEMRServerlessClient`
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/ruff.toml
  python_modules/libraries/dagster-aws/setup.py
Labels: area: docs

#22327 Add: Support for loading multiple modules
  docs/next/components/mdx/includes/dagster/DagsterDevTabs.mdx
  python_modules/dagster/dagster/_core/workspace/load_target.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/toml_tests/invalid_empty_modules.toml
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/toml_tests/invalid_modules_dict.toml
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/toml_tests/mixed_modules_and_module_name.toml
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/toml_tests/multiple_modules.toml
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/toml_tests/test_toml_loading.py
Labels: area: docs

#24206 [Docs] Fix AWS Deployment Guide EcsRunLauncher Config Run Resources
  docs/content/deployment/guides/aws.mdx
Labels: area: docs

#24459 [docs-revamp] - Clean up Asset Sensors guide
  docs/docs-beta/docs/guides/asset-sensors.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/asset-sensor-with-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/multi-asset-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-asset-sensor-example.py
Labels: area: docs

#24505 fix typo on releases page
  docs/content/about/releases.mdx
Labels: area: docs

#24524 legacy docs: update integration landing page
  docs/content/_navigation.json
  docs/content/guides/dagster/airbyte-ingestion-as-code.mdx
  docs/content/integrations.mdx
  docs/content/integrations/databricks.mdx
  docs/content/integrations/great-expectations.mdx
  docs/next/util/redirectUrls.json
Labels: area: docs

#24509 [ui] Fix dependabot alerts related to express
  docs/docs-beta/yarn.lock
  docs/next/yarn.lock
  js_modules/dagster-ui/yarn.lock
Labels: area: docs

#24442 [docs-revamp] - Clean up Ingesting data guide
  docs/docs-beta/docs/guides/ingesting-data.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-ingestion/custom-data-ingestion.py
Labels: area: docs

#24528 [docs] fix typo
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
Labels: area: docs

#24550 jb/docs/getting started revamp
  docs/docs-beta/docs/intro.md
  docs/docs-beta/src/components/Cards.tsx
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/static/img/favicon-old.ico
  docs/docs-beta/static/img/favicon.ico
  docs/docs-beta/static/img/getting-started/icon-assets.svg
  docs/docs-beta/static/img/getting-started/icon-github.svg
  docs/docs-beta/static/img/getting-started/icon-plus.svg
  docs/docs-beta/static/img/getting-started/icon-slack.svg
  docs/docs-beta/static/img/getting-started/icon-start.svg
  docs/docs-beta/static/img/getting-started/icon-youtube.svg
  docs/docs-beta/static/img/getting-started/lineage-dark.jpg
  docs/docs-beta/static/img/getting-started/lineage-light.jpg
Labels: area: docs

#24561 [ui] Bump next in docs and daggy u
  docs/dagster-university/package.json
  docs/dagster-university/yarn.lock
  docs/next/package.json
  docs/next/yarn.lock
Labels: area: dagster-university

#24400 [docs-revamp] - Clean up metadata guide
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/partials/_Experimental.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/oss-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/plus-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/python-local-references.py
Labels: area: docs

#24514 [docs-revamp] - Clean up Unit testing guide
  docs/docs-beta/docs/guides/unit-tests-assets-and-ops.md
Labels: area: docs

#24453 [docs-revamp] - Clean up Schedules guide
  docs/docs-beta/docs/guides/schedules.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition-ops.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition.py
Labels: area: docs

#24393 integration docs beta 3/ integration sidebar and landing page [DS-479]
  docs/docs-beta/docs/integrations.md
  docs/docs-beta/docs/integrations/aws/athena.md
  docs/docs-beta/docs/integrations/aws/cloudwatch.md
  docs/docs-beta/docs/integrations/aws/ecr.md
  docs/docs-beta/docs/integrations/aws/emr.md
  docs/docs-beta/docs/integrations/aws/glue.md
  docs/docs-beta/docs/integrations/aws/index.md
  docs/docs-beta/docs/integrations/aws/lambda.md
  docs/docs-beta/docs/integrations/aws/redshift.md
  docs/docs-beta/docs/integrations/aws/s3.md
  docs/docs-beta/docs/integrations/aws/secretsmanager.md
  docs/docs-beta/docs/integrations/aws/ssm.md
  docs/docs-beta/docs/integrations/gcp/bigquery.md
  docs/docs-beta/docs/integrations/gcp/dataproc.md
  docs/docs-beta/docs/integrations/gcp/gcs.md
  docs/docs-beta/docs/integrations/gcp/index.md
  docs/docs-beta/docs/integrations/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Labels: area: docs

#24513 [docs-revamp] - Clean up Data freshness guide
  docs/docs-beta/docs/guides/data-freshness-testing.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/external-asset-freshness-check.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/materializable-asset-freshness-check.py
Labels: area: docs

#24506 [docs-revamp] - Clean up Databases guide
  docs/docs-beta/docs/guides/databases.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/databases/snowflake-resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/databases/use-envvars.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/databases/use-in-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/resource-duckdb-envvar-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/resource-duckdb-example.py
Labels: area: docs

#23456 [docs] - Add note about asset jobs + backfill policies to Backfill docs
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
Labels: area: docs

#24450 [docs-revamp] - Clean up Pipes guide
  docs/docs-beta/docs/guides/non-python.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-full-featured-javascript.js
Labels: area: docs

#24423 [docs-revamp] - Clean up asset configuration guide
  docs/docs-beta/docs/guides/configuring-assets.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/config-schema.py
Labels: area: docs

#24462 [docs-revamp] - Clean up Sensors guide
  docs/docs-beta/docs/guides/sensors.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/sensor-cursor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-sensor-example.py
Labels: area: docs

#24586 [docs-revamp] fix vale
  docs/docs-beta/docs/guides/external-assets.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Labels: area: docs

#24507 [docs-revamp] - Clean up I/O managers guide
  docs/docs-beta/docs/guides/io-managers.md
  docs/vale/styles/Dagster/headings-casing.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-with-io-managers.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-with-snowflake-io-manager.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-without-io-managers.py
Labels: area: docs

#24483 [docs-revamp] - Clean up Asset Checks guide
  docs/docs-beta/docs/guides/asset-checks.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/asset-checks-with-schedule-and-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/block-downstream-with-asset-checks.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/multiple-asset-checks.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/asset-checks/single-asset-check.py
Labels: area: docs

#24587 [docs-revamp] fix build by replacing missing images with placeholder.svg
  docs/docs-beta/docs/guides/configuring-assets.md
Labels: area: docs

#24241 [refactor] Remove CachingStaleStatusResolver from AssetGraphView
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_daemon_context.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
Labels: area: docs

#24592 refactor(looker): rename `DagsterLookerTranslator` to `DagsterLookerLkmlTranslator`
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_asset_specs.py
Labels: area: docs

#24596 [docs-revamp] introduce announcement bar
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
Labels: area: docs

#24605 [docs] Clarify that monitor_all_code_locations is scoped to a deployment
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/sensors.py
  python_modules/dagster/dagster/_core/definitions/run_status_sensor_definition.py
  python_modules/dagster/dagster/_utils/alert.py
  python_modules/libraries/dagster-msteams/dagster_msteams/sensors.py
  python_modules/libraries/dagster-slack/dagster_slack/sensors.py
Labels: area: docs

#21484 [docs] - Move Dagster+ reserved env vars to dedicated reference
  docs/content/_navigation.json
  docs/content/dagster-plus.mdx
  docs/content/dagster-plus/managing-deployments.mdx
  docs/content/dagster-plus/managing-deployments/branch-deployments.mdx
  docs/content/dagster-plus/managing-deployments/environment-variables-and-secrets.mdx
  docs/content/dagster-plus/managing-deployments/reserved-environment-variables.mdx
  docs/content/guides/dagster/branch_deployments.mdx
  docs/content/guides/dagster/using-environment-variables-and-secrets.mdx
Labels: area: docs

#23929 [docathon] - Managing users in Dagster+
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/guides/kubernetes.md
  docs/docs-beta/docs/guides/transform-dbt.md
Labels: area: docs

#24614 [docs] Fix cross-reference in users.md
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
Labels: area: docs

#24553 [dagster-sigma][docs] Add basic dagster-sigma docs
  docs/content/integrations/sigma.mdx
  docs/next/next-env.d.ts
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Labels: area: docs

#24588 [docs-revamp] add sitemap.xml generation for use with Algolia
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs

#24660 [docs-beta] temporarily remove `lastmod` for sitemap as `.git/` is not present on Vercel
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs

#24659 [docs-beta] fix announcement bar colors for dark theme
  docs/docs-beta/src/styles/custom.scss
Labels: area: docs

#24656 [docs-beta] Set resolution for path-to-regexp
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Labels: area: docs

#24658 [docs, dagster-pipes] fix inconsistencies in k8s example
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/kubernetes.mdx
  docs/next/public/objects.inv
Labels: area: docs

#24269 [dagster-powerbi] Add basic docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/public/objects.inv
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
  examples/docs_snippets/tox.ini
  scripts/build_and_publish.sh
Labels: area: docs, area:docs-revamp

#24668 [docs-beta] add algolia search when deployed
  docs/docs-beta/README.md
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs

#24667 Fix `dagster-cloud serverless deploy-python-executable` references in docs
  docs/content/dagster-plus/deployment/serverless.mdx
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
Labels: area: docs

#24526 [dagster-databricks] Support existing clusters in Pipes
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-databricks/dagster_databricks_tests/test_pipes.py
Labels: area: docs

#24653 Expose a global 'max_runtime_seconds' field on run monitoring
  docs/content/dagster-plus/managing-deployments/deployment-settings-reference.mdx
  docs/content/deployment/run-monitoring.mdx
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
  python_modules/dagster/dagster_tests/daemon_tests/test_monitoring_daemon.py
Labels: area: docs

#24688 [docs-beta] fix mobile view of announcement bar
  docs/docs-beta/src/styles/custom.scss
Labels: area: docs

#24609 [dagster-tableau] Add basic docs
  docs/content/integrations/tableau.mdx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
  examples/docs_snippets/tox.ini
Labels: area: docs, area:docs-revamp

#24672 Update docs for Declarative Automation
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
Labels: area: docs

#24711 [docs-beta] add feedback link to github discussion
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
Labels: area: docs

#24713 [docs-beta] Update GitHub edit URL
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs

#24669 [dagster-sigma] Extract defs loading context implicitly
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo.py
Labels: area: docs

#24731 [docs-beta] RFC: expand top-level sidebar by default
  docs/docs-beta/sidebars.ts
Labels: area: docs

#24684 [docs, dagster-databricks] add docs for using Pipes with existing clusters
  .github/workflows/build-docs.yml
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/databricks.mdx
Labels: area: docs, docs-to-migrate

#24716 concept docs and docstring for `with_io_manager_key`
  docs/content/concepts/io-management/io-managers.mdx
  examples/docs_snippets/docs_snippets/concepts/io_management/source_asset.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Labels: area: docs, docs-to-migrate

#24757 minor code fixes for dagster uni dbt course
  docs/dagster-university/pages/dagster-dbt/lesson-4/3-debugging-failed-runs.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/2-connecting-dbt-models-to-dagster-assets.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
Labels: area: dagster-university

#24761 [docs] add section about GitHub repo permissions in Serverless doc
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: docs-to-migrate

#24735 [docs-beta] add id attribute to api sig elements to allow anchor linking [DOC-527]
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/theme/MDXComponents.tsx
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/builders/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/conf.py
  docs/sphinx/conf.py
Labels: area: docs

#24798 [docs] Enable parallel read and add looker_sdk to conf.py
  .github/workflows/build-docs-revamp.yml
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/conf.py
Labels: area: docs

#24692 docs(looker): add API docs for using `dagster-looker` with the Looker API
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Labels: area: docs, docs-to-migrate

#24694 docs(looker): add guide to setup `dagster-looker` with the Looker API
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Labels: area: docs, docs-to-migrate

#24733 [lazy-defs] @definitions -> @lazy_definitions (test utility)
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_execute_command.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_with_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/lazy_definitions.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_defs_global_context.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
  python_modules/dagster/dagster_tests/definitions_tests/test_reconstructable.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/repos/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Labels: area: docs

#24734 [lazy-defs] Rename definitions_loader.py -> definitions_load_context.py
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Labels: area: docs

#24736 [lazy-defs] Move StateBackedDefinitionsLoader from airlift to core
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
Labels: area: docs

#24743 [lazy-defs] [dagster-powerbi] Refactor dagster-powerbi to use the StateBackedDefinitionsLoader
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Labels: area: docs

#24746 [lazy-defs] [dagster-sigma] Refactor dagster-sigma to use the StateBackedDefinitionsLoader
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Labels: area: docs

#24797 [docs, dagster-pipes] fix old PipesResult import in docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/session_lifecycle_orchestration.py
  python_modules/dagster/dagster/__init__.py
Labels: area: docs, docs-to-migrate

#24806 [docs] Update Makefile and Vercel sync script for mdx generation
  docs/Makefile
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
  docs/tox.ini
Labels: area: docs

#24817 [docs-beta] Update feedback link in announcement bar and footer
  docs/docs-beta/docusaurus.config.ts
Labels: area: docs

#24749 [docs] update 'Getting started with Serverless' manual deployment guide
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: area: docs, docs-to-migrate

#24818 [docs-beta] add dagster+ back to sidebar
  docs/docs-beta/docs/dagster-plus.md
Labels: area: docs

#24523 [backcompat-tests] Add list_repo test
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  integration_tests/test_suites/backcompat-test-suite/tests/test_backcompat.py
  integration_tests/test_suites/backcompat-test-suite/webserver_service/defs_for_earliest_tested_release.py
  integration_tests/test_suites/backcompat-test-suite/webserver_service/defs_for_latest_release.py
  integration_tests/test_suites/backcompat-test-suite/webserver_service/pins.txt
  integration_tests/test_suites/backcompat-test-suite/webserver_service/repo.py
Labels: area: docs

#24747 [lazy-defs] Restrict reconstruction metadata to string values
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_value.py
  python_modules/dagster/dagster_tests/core_tests/test_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
Labels: area: docs

#24847 Fix a typo in dlt.mdx
  docs/content/integrations/embedded-elt/dlt.mdx
Labels: area: docs

#22522 Correct Python module vs package reference in code locations docs
  docs/content/concepts/code-locations.mdx
Labels: area: docs
