Repository dagster-io/dagster, pull requests merged in 2024-11, with the labels that each got.

#25739 Update running-dagster-locally.mdx
  docs/content/guides/running-dagster-locally.mdx
Labels: docs-to-migrate

#25806 removed yield from link, site is now spam redirect
  docs/dagster-university/pages/dagster-dbt/lesson-3/5-loading-dbt-models-into-dagster-as-assets.md
Labels: area: dagster-university

#24342 [dagster-pipes] arbitrary metadata for PipesClientCompletedInvocation
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/metadata-tags/kind-tags.mdx
  python_modules/dagster/dagster/_core/pipes/client.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/in_process_client.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_in_process_client.py
Labels: area: docs

#25816 [dagster-airlift] Scaffold tutorial breaking up
  docs/content/_navigation.json
  docs/content/integrations/airlift/tutorial/overview.mdx
  docs/content/integrations/airlift/tutorial/setup.mdx
  docs/next/public/images/integrations/airlift/rebuild_customers_dag.png
Labels: docs-to-migrate

#25819 [dagster-airlift] peering stage docs
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/reference.mdx
  docs/content/integrations/airlift/tutorial/overview.mdx
  docs/content/integrations/airlift/tutorial/peer.mdx
  docs/content/integrations/airlift/tutorial/setup.mdx
Labels: docs-to-migrate

#25820 [dagster-airlift] Observe stage
  docs/content/_navigation.json
  docs/content/integrations/airlift/tutorial/observe.mdx
  docs/content/integrations/airlift/tutorial/overview.mdx
  docs/content/integrations/airlift/tutorial/peer.mdx
Labels: docs-to-migrate

#25821 [dagster-airlift] Partitioned migration steps
  docs/content/integrations/airlift/tutorial.mdx
  docs/content/integrations/airlift/tutorial/observe.mdx
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/standalone.py
Labels: docs-to-migrate

#25822 [dagster-airlift] Migration
  docs/content/_navigation.json
  docs/content/integrations/airlift/tutorial/migrate.mdx
  docs/content/integrations/airlift/tutorial/observe.mdx
  docs/content/integrations/airlift/tutorial/overview.mdx
Labels: docs-to-migrate

#25823 [dagster-airlift] decomission section
  docs/content/_navigation.json
  docs/content/integrations/airlift/tutorial/decomission.mdx
  docs/content/integrations/airlift/tutorial/migrate.mdx
  docs/content/integrations/airlift/tutorial/overview.mdx
Labels: docs-to-migrate

#25827 [dagster-airlift] Add section to peering on asset checks
  docs/content/integrations/airlift/tutorial/peer.mdx
  docs/next/public/images/integrations/airlift/asset_check_peered_dag.png
  docs/next/public/images/integrations/airlift/peer_check_success.png
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
Labels: docs-to-migrate

#25829 [dagster-airlift] Dag level tutorial
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/full_dag.mdx
Labels: docs-to-migrate

#25830 [dagster-airlift] Customizing dag proxying operator reference
  docs/content/integrations/airlift/reference.mdx
  docs/content/integrations/airlift/tutorial.mdx
Labels: docs-to-migrate

#25836 [dagster-airlift][moves] Move mwaa example
  examples/airlift-mwaa-example/.gitignore
  examples/airlift-mwaa-example/Makefile
  examples/airlift-mwaa-example/conftest.py
  examples/airlift-mwaa-example/dags/requirements.txt
  examples/airlift-mwaa-example/dags/simple_dag.py
  examples/airlift-mwaa-example/mwaa_example/__init__.py
  examples/airlift-mwaa-example/mwaa_example/definitions.py
  examples/airlift-mwaa-example/scripts/setup_mwaa.py
  examples/airlift-mwaa-example/setup.py
  examples/airlift-mwaa-example/tox.ini
Labels: docs-to-migrate

#25861 [dagster-airlift][federation-tutorial] Add initial stage to add specs to federation tutorial
  examples/airlift-federation-tutorial/Makefile
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/with_specs.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_specs_stage.py
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
Labels: docs-to-migrate

#25879 [dagster-airlift][federation-tutorial] Add executable stage to federation tutorial
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_executable_stage.py
Labels: docs-to-migrate

#25882 [dagster-airlift][federation-tutorial] Scaffold federation tutorial docs
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
Labels: docs-to-migrate

#25883 [dagster-airlift][federation-tutorial] Federation tutorial overview and setup
  docs/content/_navigation.json
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  docs/next/public/images/integrations/airlift/customer_metrics.png
  docs/next/public/images/integrations/airlift/load_customers.png
  examples/airlift-federation-tutorial/Makefile
Labels: docs-to-migrate

#25885 [dagster-airlift][federation-tutorial] Implement dags
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  examples/airlift-federation-tutorial/.gitignore
  examples/airlift-federation-tutorial/Makefile
  examples/airlift-federation-tutorial/airlift_federation_tutorial/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/constants.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/with_specs.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/downstream_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/metrics_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/upstream_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/warehouse_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_executable_stage.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_instances.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_load.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_specs_stage.py
  examples/airlift-federation-tutorial/raw_customers.csv
Labels: docs-to-migrate

#25380 Docs for Custom RBAC
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Labels: area: docs

#25862 [dagster-airlift][federation-apis] Standalone sensor def creation fxn
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/sensor_builder.py
Labels: docs-to-migrate

#25859 [dagster-airlift][federation-apis] Airflow instance methods
  docs/sphinx/sections/api/apidocs/libraries/dagster-airlift.rst
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
Labels: docs-to-migrate

#25857 [dagster-airlift][federation-apis] federation APIs accumulator
  docs/sphinx/sections/api/apidocs/libraries/dagster-airlift.rst
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/sensor_builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Labels: docs-to-migrate

#25953 Update default python version language in docs
  docs/content/dagster-plus/deployment/serverless.mdx
Labels: docs-to-migrate

#25860 [dagster-airlift][federation-tutorial] full federation tutorial
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/federation-tutorial/federated-execution.mdx
  docs/content/integrations/airlift/federation-tutorial/observe.mdx
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  docs/next/public/images/integrations/airlift/customer_metrics.png
  docs/next/public/images/integrations/airlift/dag_lineage.png
  docs/next/public/images/integrations/airlift/load_customers.png
  docs/next/public/images/integrations/airlift/load_customers_mat.png
  docs/next/public/images/integrations/airlift/observe_warehouse.png
  docs/next/public/images/integrations/airlift/only_load_customers.png
  examples/airlift-federation-tutorial/.gitignore
  examples/airlift-federation-tutorial/Makefile
  examples/airlift-federation-tutorial/README.md
  examples/airlift-federation-tutorial/airlift_federation_tutorial/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/constants.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/definitions.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/observe_complete.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/observe_with_deps.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/metrics_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/warehouse_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_executable_stage.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_instances.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_load.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_stage.py
  examples/airlift-federation-tutorial/conftest.py
  examples/airlift-federation-tutorial/pyproject.toml
  examples/airlift-federation-tutorial/raw_customers.csv
  examples/airlift-federation-tutorial/scripts/airflow_setup.sh
  examples/airlift-federation-tutorial/setup.py
  examples/airlift-federation-tutorial/snippets/federated_execution.py
  examples/airlift-federation-tutorial/snippets/observe.py
  examples/airlift-federation-tutorial/tox.ini
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
Labels: docs-to-migrate

#26022 [dagster-airlift][cleanup] compliant setup.py
  python_modules/libraries/dagster-airlift/setup.py
Labels: docs-to-migrate

#26023 [dagster-airlift][cleanup] Switch airlift examples to use normal scaffolding
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  docs/content/integrations/airlift/tutorial/setup.mdx
  examples/airlift-federation-tutorial/README.md
  python_modules/dagster/dagster/_generate/download.py
  python_modules/libraries/dagster-airlift/dagster_airlift/__init__.py
Labels: docs-to-migrate

#26024 [dagster-airlift][cleanup] Remove airlift cruft
  python_modules/libraries/dagster-airlift/CHANGES.md
  python_modules/libraries/dagster-airlift/Makefile
  python_modules/libraries/dagster-airlift/scripts/build_and_publish.sh
  python_modules/libraries/dagster-airlift/scripts/extract_pypi_version.sh
  python_modules/libraries/dagster-airlift/scripts/find_airlift_commits.sh
  python_modules/libraries/dagster-airlift/scripts/increment_pypi_version.sh
  python_modules/libraries/dagster-airlift/scripts/mirror_federation_tutorial.sh
  python_modules/libraries/dagster-airlift/scripts/mirror_tutorial.sh
  python_modules/libraries/dagster-airlift/scripts/update_readme_snippets.py
Labels: docs-to-migrate

#25356 [docs-beta] Add API Lifecycle Stages reference guide
  docs/docs-beta/docs/reference/api-lifecycle.md
  docs/docs-beta/docs/reference/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Labels: area: docs

#26029 [dagster-tableau] Update custom translator example in Tableau docs
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Labels: docs-to-migrate

#26030 [dagster-powerbi] Default-on admin scan APIs
  docs/content/integrations/powerbi.mdx
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Labels: docs-to-migrate

#26167 [dagster-powerbi][docs] Add setup env section in Power BI docs
  docs/content/integrations/powerbi.mdx
Labels: docs-to-migrate
