Repository dagster-io/dagster, pull requests merged in 2025-01, with the labels that each got.

#26602 add deployment settings pointer for concurrency docs
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Labels: docs-to-migrate

#26735 [dagster-powerbi] Update Power BI docs/examples to use translator instance and PowerBITranslatorData
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
Labels: docs-to-migrate

#26800 [dagster-sigma] Update Sigma docs to use translator instance and container data classes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
Labels: docs-to-migrate

#26782 [ui] Add Teradata icon for `kind` tags
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-teradata-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-teradata-color.svg
Labels: docs-to-migrate

#26726 Document bare check result in op behavior
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_op.py
Labels: docs-to-migrate

#26795 CE 602/rag project implementation
  examples/project_ask_ai_dagster/.env.example
  examples/project_ask_ai_dagster/.gitignore
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/dagster.yaml
  examples/project_ask_ai_dagster/lineage.svg
  examples/project_ask_ai_dagster/project_ask_ai_dagster/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/retrieval.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/definitions.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github_gql_queries.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/pinecone.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/scraper.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster_tests/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster_tests/test_assets.py
  examples/project_ask_ai_dagster/pyproject.toml
  examples/project_ask_ai_dagster/requirements.txt
Labels: area: docs

#26835 Small Typo (Complimentary → Complementary)
  docs/content/concepts/types.mdx
Labels: docs-to-migrate

#26944 Fix 404ing Fivetran page
  docs/content/_navigation.json
  docs/content/integrations/fivetran.mdx
  docs/content/integrations/fivetran/fivetran.mdx
Labels: type: bug, area: docs

#26949 Make load_definitions_from_module public
  docs/sphinx/sections/api/apidocs/definitions.rst
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Labels: docs-to-migrate

#26857 [dagster-airlift] remove old airflow docs entirely
  docs/content/_navigation.json
  docs/content/integrations/airflow.mdx
  docs/content/integrations/airflow/from-airflow-to-dagster.mdx
  docs/next/util/redirectUrls.json
Labels: docs-to-migrate

#27002 DOC-680 Update rst files with missing classes and update PyObjects in docs
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/sphinx/sections/api/apidocs/libraries/dagster-databricks.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
Labels: area:docs-revamp

#27001 DOC-620 Migrate asset catalog doc to new docs
  docs/docs-beta/docs/dagster-plus/features/alerts/index.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/index.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/index.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/index.md
  docs/docs-beta/docs/dagster-plus/features/data-catalog.md
  docs/docs-beta/docs/dagster-plus/features/insights/index.md
  docs/docs-beta/docs/dagster-plus/index.md
  docs/docs-beta/static/images/dagster-plus/asset-catalog/asset-catalog-cloud-pro.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/asset-catalog.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/catalog-views.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/new-catalog-view.png
Labels: area:docs-revamp

#27039 Fix new Dagster+ docs formatting issues
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
  docs/docs-beta/docs/dagster-plus/deployment/management/environment-variables/agent-config.md
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-multiple-projects-and-teams.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/deployment-settings.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/ci-cd-file-reference.md
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs-beta/docs/tags.yml
Labels: area:docs-revamp

#27058 DOC-606 Move multi-tenant deployment doc
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/multi-tenancy.md
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-multiple-projects-and-teams.md
Labels: area:docs-revamp

#27073 [docs] Move Sling docs out of embedded-elt docs
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations.mdx
  docs/content/integrations/dlt.mdx
  docs/content/integrations/embedded-elt.mdx
  docs/content/integrations/sling.mdx
  docs/docs-beta/docs/integrations/libraries/sling.md
  docs/next/public/objects.inv
  docs/next/util/redirectUrls.json
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-sling.rst
  examples/docs_beta_snippets/docs_beta_snippets/integrations/sling.py
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/integrations/sling/__init__.py
  examples/docs_snippets/docs_snippets/integrations/sling/postgres_snowflake.py
  examples/docs_snippets/docs_snippets/integrations/sling/replication_config.py
  examples/docs_snippets/docs_snippets/integrations/sling/s3_snowflake.py
  examples/docs_snippets/docs_snippets/integrations/sling/sling_connection_resources.py
  examples/docs_snippets/docs_snippets/integrations/sling/sling_dagster_translator.py
  examples/docs_snippets/docs_snippets_tests/integrations_tests/test_embedded_elt.py
  examples/docs_snippets/setup.py
  examples/experimental/sling_decorator/sling_decorator/definitions.py
  examples/use_case_repository/setup.py
  examples/use_case_repository/tox.ini
  examples/use_case_repository/use_case_repository/guides/sling_replicate_csv_files_to_snowflake.md
  examples/use_case_repository/use_case_repository/guides/sling_replicate_csv_files_to_snowflake.py
  examples/use_case_repository/use_case_repository/guides/snowflake_to_s3_sling.md
  examples/use_case_repository/use_case_repository/guides/snowflake_to_s3_sling.py
  examples/use_case_repository/use_case_repository_tests/test_use_cases.py
  python_modules/libraries/dagster-embedded-elt/README.md
Labels: docs-to-migrate

#27057 [ui] Correct `minstral` typo and update Mistral logo for asset `kinds` tag
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-minstral-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-mistral-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-minstral-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-mistral-color.svg
Labels: docs-to-migrate

#27166 DOC-714-add code references for dependant assets
  docs/docs-beta/docs/guides/build/assets/defining-assets-with-asset-dependencies.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-dependencies/asset-dependencies.py
Labels: area: docs, area:docs-revamp

#26899 [pipes] PySpark tutorial
  docs/content/_navigation.json
  docs/content/concepts/dagster-pipes/pyspark.mdx
  docs/next/next-env.d.ts
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/script.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/pyspark/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/pyspark/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/pyspark/docker-compose.yml
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/pyspark/script.py
Labels: docs-to-migrate

#27147 Add `.allow()` and `.ignore()` for bool conditions
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/ignore_dependencies_cron.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
Labels: docs-to-migrate

#27066 Section on schema change
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
Labels: docs-to-migrate

#27065 Improve docstring on schema change checks
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Labels: docs-to-migrate

#26998 [dagster-pipes] rich metadata docs
  .gitignore
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/content/concepts/dagster-pipes/subprocess/reference.mdx
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/json_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/markdown_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/notebook_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/path_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_column_lineage.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_schema_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/timestamp_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/url_metadata.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Labels: docs-to-migrate

#27086 Airlift migration guide -> New docs site
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission-the-airflow-dag.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/index.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer-to-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/set-up-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/setup.md
  docs/docs-beta/static/images/guides/migrate/airlift/after_dag_override.png
  docs/docs-beta/static/images/guides/migrate/airlift/asset_check_peered_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/before_dag_override.png
  docs/docs-beta/static/images/guides/migrate/airlift/customer_metrics.png
  docs/docs-beta/static/images/guides/migrate/airlift/dag_lineage.png
  docs/docs-beta/static/images/guides/migrate/airlift/load_customers.png
  docs/docs-beta/static/images/guides/migrate/airlift/load_customers_mat.png
  docs/docs-beta/static/images/guides/migrate/airlift/observe.svg
  docs/docs-beta/static/images/guides/migrate/airlift/observe_warehouse.png
  docs/docs-beta/static/images/guides/migrate/airlift/only_load_customers.png
  docs/docs-beta/static/images/guides/migrate/airlift/partitioned_mat.png
  docs/docs-beta/static/images/guides/migrate/airlift/peer.svg
  docs/docs-beta/static/images/guides/migrate/airlift/peer_check_success.png
  docs/docs-beta/static/images/guides/migrate/airlift/peer_materialize.svg
  docs/docs-beta/static/images/guides/migrate/airlift/proxied_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/rebuild_customers_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/state_in_airflow.png
Labels: docs-to-migrate

#27159 [docs] add docs for PipesEMRContainersClient
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes.mdx
  docs/content/concepts/dagster-pipes/aws-emr-containers.mdx
  docs/content/integrations/spark.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_containers.py
Labels: docs-to-migrate

#27257 Fix API docs link in new docs
  docs/docs-beta/docs/integrations/libraries/looker.md
Labels: area: docs

#27143 DOC-564 Add redirects from old to new docs paths
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Labels: area:docs-revamp

#27278 Move remaining integrations docs
  docs/docs-beta/docs/integrations/libraries/deltalake/index.md
  docs/docs-beta/docs/integrations/libraries/deltalake/reference.md
  docs/docs-beta/docs/integrations/libraries/deltalake/using-deltalake-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/dlt/index.md
  docs/docs-beta/docs/integrations/libraries/dlt/using-dlt-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/duckdb/index.md
  docs/docs-beta/docs/integrations/libraries/duckdb/reference.md
  docs/docs-beta/docs/integrations/libraries/duckdb/using-duckdb-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/index.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/reference.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/using-bigquery-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/jupyter/index.md
  docs/docs-beta/docs/integrations/libraries/jupyter/reference.md
  docs/docs-beta/docs/integrations/libraries/jupyter/using-notebooks-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/looker/index.md
  docs/docs-beta/docs/integrations/libraries/looker/using-looker-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/mssql-bulk-copy-tool.md
  docs/docs-beta/docs/integrations/libraries/openai/index.md
  docs/docs-beta/docs/integrations/libraries/openai/using-openai-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/pandas/index.md
  docs/docs-beta/docs/integrations/libraries/pandas/using-pandas-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/pandera/index.md
  docs/docs-beta/docs/integrations/libraries/pandera/using-pandera-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/powerbi/index.md
  docs/docs-beta/docs/integrations/libraries/powerbi/using-powerbi-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/sigma/index.md
  docs/docs-beta/docs/integrations/libraries/sigma/using-sigma-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/snowflake/index.md
  docs/docs-beta/docs/integrations/libraries/snowflake/reference.md
  docs/docs-beta/docs/integrations/libraries/snowflake/using-snowflake-with-dagster-io-managers.md
  docs/docs-beta/docs/integrations/libraries/snowflake/using-snowflake-with-dagster.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/static/images/integrations/jupyter/descriptive-plots.png
  docs/docs-beta/static/images/integrations/jupyter/jupyter-tags.png
  docs/docs-beta/static/images/integrations/jupyter/jupyter-view-menu.png
  docs/docs-beta/static/images/integrations/jupyter/kmeans-plots.png
  docs/docs-beta/static/images/integrations/jupyter/ui-one.png
  docs/docs-beta/static/images/integrations/jupyter/ui-three.png
  docs/docs-beta/static/images/integrations/jupyter/ui-two.png
  docs/docs-beta/static/images/integrations/jupyter/view-executed-notebook.png
  docs/docs-beta/static/images/integrations/jupyter/view-source-notebook.png
  docs/docs-beta/static/images/integrations/mssql.png
  docs/docs-beta/static/images/integrations/pandas/tutorial1.png
  docs/docs-beta/static/images/integrations/pandas/tutorial2.png
  docs/docs-beta/static/images/integrations/pandera/error-report.png
  docs/docs-beta/static/images/integrations/pandera/schema.png
  docs/docs-beta/static/images/integrations/snowflake/snowflake-account.png
Labels: area:docs-revamp

#27296 Re-add tutorials section to top nav
  docs/docs-beta/docusaurus.config.ts
Labels: area:docs-revamp

#27319 Add missing redirects
  docs/docs-beta/vercel.json
Labels: area:docs-revamp

#27348 DOC-redirects-and-404
  docs/docs-beta/static/robots.txt
  docs/docs-beta/vercel.json
Labels: area: docs
