Repository dagster-io/dagster, pull requests merged in 2025-03, with the labels that each got.

#28205 [DOC-923] Change most temporay redirects to permanent
  docs/vercel.json
Labels: area: docs

#28211 [DOCS] Add redirects for 404ing paths with traffic
  docs/vercel.json
Labels: area: docs

#28329 [DOC-920] Add 1.10.3 docs to version dropdown and bump current version to 1.10.4
  docs/dagsterVersions.json
  docs/docusaurus.config.ts
Labels: area: docs

#28105 [DOC-915] Reorganize and clean up Airlift docs
  docs/docs/guides/migrate/airflow-to-dagster/airflow-operator-migration/bash-operator-dbt.md
  docs/docs/guides/migrate/airflow-to-dagster/airflow-operator-migration/bash-operator-general.md
  docs/docs/guides/migrate/airflow-to-dagster/airflow-operator-migration/index.md
  docs/docs/guides/migrate/airflow-to-dagster/airflow-operator-migration/kubernetes-pod-operator.md
  docs/docs/guides/migrate/airflow-to-dagster/airflow-operator-migration/python-operator.md
  docs/docs/guides/migrate/airflow-to-dagster/dag-level-migration/index.md
  docs/docs/guides/migrate/airflow-to-dagster/dag-level-migration/migrate.md
  docs/docs/guides/migrate/airflow-to-dagster/dag-level-migration/observe.md
  docs/docs/guides/migrate/airflow-to-dagster/dag-level-migration/peer.md
  docs/docs/guides/migrate/airflow-to-dagster/dag-level-migration/setup.md
  docs/docs/guides/migrate/airflow-to-dagster/federation/federate-execution.md
  docs/docs/guides/migrate/airflow-to-dagster/federation/index.md
  docs/docs/guides/migrate/airflow-to-dagster/federation/observe.md
  docs/docs/guides/migrate/airflow-to-dagster/federation/setup.md
  docs/docs/guides/migrate/airflow-to-dagster/index.md
  docs/docs/guides/migrate/airflow-to-dagster/migration-reference.md
  docs/docs/guides/migrate/airflow-to-dagster/task-level-migration/decommission.md
  docs/docs/guides/migrate/airflow-to-dagster/task-level-migration/index.md
  docs/docs/guides/migrate/airflow-to-dagster/task-level-migration/migrate.md
  docs/docs/guides/migrate/airflow-to-dagster/task-level-migration/observe.md
  docs/docs/guides/migrate/airflow-to-dagster/task-level-migration/peer.md
  docs/docs/guides/migrate/airflow-to-dagster/task-level-migration/setup.md
  docs/docs/guides/migrate/index.md
  docs/docs/guides/migrate/version-migration.md
  docs/docs/integrations/libraries/airlift.md
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/decomission.md
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/index.md
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/migrate-a-full-dag.md
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/migrate.md
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/observe.md
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/peer.md
  docs/docs/integrations/libraries/airlift/federation-tutorial/federated-execution.md
  docs/docs/integrations/libraries/airlift/federation-tutorial/index.md
  docs/docs/integrations/libraries/airlift/federation-tutorial/observe.md
  docs/sidebars.ts
  docs/vercel.json
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/observe_check_on_asset.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/observe_with_partitions.py
Labels: area: docs

#28387 [DOCS] Fix broken link to Hybrid architecture diagram
  docs/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
  docs/static/images/dagster-plus/deployment/hybrid-architecture.png
Labels: area: docs

#28385 DOC-945 [dg] Add dg section outline
  docs/docs/guides/labs/components/index.md
  docs/docs/guides/labs/dg/autoloading-definitions.md
  docs/docs/guides/labs/dg/dagster-definitions.md
  docs/docs/guides/labs/dg/dg-reference.md
  docs/docs/guides/labs/dg/index.md
  docs/docs/guides/labs/dg/multiple-code-locations.md
  docs/docs/guides/labs/dg/scaffolding-a-project.md
  docs/docs/guides/labs/dg/uv-integration.md
  docs/docs/partials/_InstallDg.md
  docs/docs/partials/_InstallUv.md
  docs/docs/partials/_Preview.md
Labels: area: docs

#27535 [dagster-airlift] dg-ify observe, highlighting
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/observe.md
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/definitions.py
  examples/airlift-federation-tutorial/snippets/federated_execution.py
  examples/airlift-federation-tutorial/snippets/observe.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/migrate.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/migrate_dag_level.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/migrate_with_check.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/observe.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/observe_check_on_asset.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/observe_with_partitions.py
  examples/airlift-migration-tutorial/tutorial_example/dagster_defs/stages/standalone.py
  examples/airlift-migration-tutorial/tutorial_example_tests/integration_tests/test_migrate_with_check_e2e.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/k8s_eks_fake_example.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/pyop_asset_shared.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/pyop_multi_asset_complete.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_dbt_assets.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_k8s_pipes.py
  examples/docs_snippets/docs_snippets/integrations/airlift/operator_migration/using_pipes_subprocess.py
Labels: docs-to-migrate

#28420 [DOCS] Fix broken build
  docs/docs/integrations/libraries/airlift/airflow-to-dagster/observe.md
Labels: area: docs

#28400 DOC-811 Move ops and jobs content from legacy docs
  docs/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/setup.md
  docs/docs/dagster-plus/features/authentication-and-access-control/rbac/user-roles-permissions.md
  docs/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs/guides/automate/asset-sensors.md
  docs/docs/guides/automate/index.md
  docs/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs/guides/automate/schedules/customizing-execution-timezone.md
  docs/docs/guides/automate/schedules/defining-schedules.md
  docs/docs/guides/automate/schedules/index.md
  docs/docs/guides/automate/sensors/index.md
  docs/docs/guides/build/assets/index.md
  docs/docs/guides/build/external-resources/index.md
  docs/docs/guides/build/graphs.md
  docs/docs/guides/build/jobs.md
  docs/docs/guides/build/jobs/asset-jobs.md
  docs/docs/guides/build/jobs/index.md
  docs/docs/guides/build/jobs/job-execution.md
  docs/docs/guides/build/jobs/op-jobs.md
  docs/docs/guides/build/jobs/unconnected-inputs.md
  docs/docs/guides/build/ops.md
  docs/docs/guides/build/ops/dynamic-graphs.md
  docs/docs/guides/build/ops/graphs.md
  docs/docs/guides/build/ops/index.md
  docs/docs/guides/build/ops/nesting-graphs.md
  docs/docs/guides/build/ops/op-events.md
  docs/docs/guides/build/ops/op-hooks.md
  docs/docs/guides/build/ops/op-retries.md
  docs/docs/guides/build/partitions-and-backfills/partitioning-ops.md
  docs/docs/guides/deploy/execution/run-retries.md
  docs/docs/guides/operate/managing-concurrency.md
  docs/docs/guides/operate/webserver.md
  docs/docs/integrations/libraries/jupyter/reference.md
  docs/docs/integrations/libraries/openai/using-openai-with-dagster.md
  docs/docs/integrations/libraries/pandera/using-pandera-with-dagster.md
  docs/docs/partials/_OpsNote.md
  docs/static/images/guides/build/ops/conditional.png
  docs/static/images/guides/build/ops/fixed-fan-in.png
  docs/static/images/guides/build/ops/linear.png
  docs/static/images/guides/build/ops/multi-inputs.png
  docs/static/images/guides/build/ops/pipeline-def.png
  docs/static/images/guides/build/ops/pipeline-run.png
  docs/static/images/guides/build/ops/solid-selection.png
  docs/static/images/guides/build/partitions-and-backfills/launchpad.png
  docs/static/images/guides/build/partitions-and-backfills/partitioned-job.png
  docs/vercel.json
Labels: area: docs

#27672 DOC-655 Docs for updated asset selection syntax
  docs/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs/guides/automate/index.md
  docs/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs/guides/build/assets/asset-selection-syntax.md
  docs/docs/guides/build/assets/asset-selection-syntax/examples.md
  docs/docs/guides/build/assets/asset-selection-syntax/index.md
  docs/docs/guides/build/assets/asset-selection-syntax/reference.md
  docs/docs/guides/build/assets/asset-versioning-and-caching.md
  docs/docs/guides/build/assets/configuring-assets.md
  docs/docs/guides/build/assets/creating-asset-factories.md
  docs/docs/guides/build/assets/defining-dependencies-with-asset-factories.md
  docs/docs/guides/build/assets/external-assets.md
  docs/docs/guides/build/assets/metadata-and-tags/asset-observations.md
  docs/docs/guides/build/assets/metadata-and-tags/column-level-lineage.md
  docs/docs/guides/build/assets/metadata-and-tags/index.md
  docs/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs/guides/build/assets/metadata-and-tags/table-metadata.md
  docs/docs/guides/build/assets/metadata-and-tags/tags.md
  docs/docs/guides/build/jobs/asset-jobs.md
  docs/static/images/dagster-plus/features/asset-catalog/catalog-views.png
  docs/static/images/dagster-plus/features/asset-catalog/edit-catalog-view.png
  docs/static/images/dagster-plus/features/asset-catalog/new-catalog-view-from-asset-list-page.png
  docs/static/images/dagster-plus/features/asset-catalog/new-catalog-view-from-asset-page.png
  docs/static/images/dagster-plus/features/asset-catalog/new-catalog-view.png
  docs/static/images/guides/build/assets/asset-selection-syntax/asset-selection-syntax-dag.png
  docs/static/images/guides/build/assets/asset-selection-syntax/exampleco-global-asset-lineage.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-all-public-data-group.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-between-sets-by-tag.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-between-two-assets.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-between-two-groups.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-between-two-sets-of-assets.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-multiple-key-components.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-not-in-parentheses-group-with-wildcard.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-owner-not-tag.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-assets-through-middle-asset.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-disjointed-lineages.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-downstream-assets-with-filter.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-downstream-dependencies.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-entire-lineage.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-multiple-assets-with-or.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-multiple-components.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-parentheses-group-or-named-group.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-roots-of-public-data-group.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-roots-within-public-data-group.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-single-asset.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-sinks-of-public-data-group.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-sinks-within-public-data-group.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-two-downstream-layers.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-two-upstream-layers.png
  docs/static/images/guides/build/assets/asset-selection-syntax/select-upstream-dependencies.png
  docs/static/images/guides/build/assets/metadata-tags/label-ui.png
Labels: area: docs

#28434 DOC-947 Add missing Airlift docs redirects
  docs/vercel.json
Labels: area: docs

#28447 Fix links in asset selection syntax docs
  docs/docs/guides/build/assets/asset-selection-syntax/examples.md
  docs/docs/guides/build/assets/asset-selection-syntax/index.md
  docs/docs/guides/build/assets/asset-selection-syntax/reference.md
Labels: area: docs

#28478 [DOCS] Fix build
  docs/docs/guides/labs/components/building-pipelines-with-components/adding-components-python.md
  docs/docs/guides/labs/components/building-pipelines-with-components/adding-components.md
  docs/docs/guides/labs/dg/incrementally-adopting-dg/migrating-definitions.md
  docs/docs/guides/labs/dg/incrementally-adopting-dg/migrating-project.md
Labels: area: docs

#28487 DOC-941 Update versioned docs for 1.10.5 release
  docs/dagsterVersions.json
  docs/docusaurus.config.ts
Labels: area: docs

#28382 [docs] Specify vercel.json trailing slash behavior
  docs/vercel.json
Labels: area: docs, area: docs-infra

#28443 DOC-867 Add redirects for /_modules/ pages
  docs/vercel.json
Labels: area: docs

#28733 DOC-975 Apply changes from #26444 and update relative links in schedules and sensors docs
  docs/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs/guides/automate/schedules/customizing-execution-timezone.md
  docs/docs/guides/automate/schedules/defining-schedules.md
  docs/docs/guides/automate/schedules/index.md
  docs/docs/guides/automate/schedules/testing-schedules.md
  docs/docs/guides/automate/schedules/using-resources-in-schedules.md
  docs/docs/guides/automate/sensors/monitoring-sensors-in-the-dagster-ui.md
  docs/docs/guides/automate/sensors/testing-sensors.md
  docs/docs/guides/automate/sensors/using-resources-in-sensors.md
  docs/docs/guides/operate/webserver.md
  docs/static/images/guides/automate/schedules/testing-actions-page.png
  docs/static/images/guides/automate/schedules/testing-launched-runs-page.png
  docs/static/images/guides/automate/schedules/testing-result-page.png
  docs/static/images/guides/automate/schedules/testing-select-timestamp-page.png
  docs/static/images/guides/automate/sensors/actions-page.png
  docs/static/images/guides/automate/sensors/eval-result-page.png
  docs/static/images/guides/automate/sensors/launch-all-page.png
  docs/static/images/guides/automate/sensors/provide-cursor-page.png
  docs/static/images/guides/automate/sensors/test-sensor-button.png
Labels: area: docs

#28745 DOC-956 Add @multi_asset_sensor to API docs
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
Labels: area: api-docs

#28744 DOC-965 Add link to 1.10.6 docs to version dropdown (WAIT TO MERGE)
  docs/dagsterVersions.json
  docs/docusaurus.config.ts
Labels: area: docs

#28777 [Docs] Fixes for a handful of Linear tix
  docs/content-templates/concept.md
  docs/content-templates/example-reference.md
  docs/content-templates/guide-no-steps.md
  docs/content-templates/guide-with-steps.md
  docs/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/setup.md
  docs/docs/dagster-plus/features/insights/index.md
Labels: area: docs

#28814 [Docs] Fixes for DOC-899 and DOC-918
  docs/docs/dagster-plus/features/authentication-and-access-control/rbac/audit-logs.md
  docs/docs/dagster-plus/features/authentication-and-access-control/rbac/teams.md
  docs/docs/dagster-plus/features/authentication-and-access-control/rbac/user-roles-permissions.md
  docs/docs/dagster-plus/features/authentication-and-access-control/rbac/users.md
  docs/docs/guides/build/external-pipelines/javascript-pipeline.md
Labels: area: docs

#28710 DOC-567 Create OSS to Plus migration guide
  docs/docs/dagster-plus/getting-started.md
  docs/docs/guides/migrate/oss-to-dagster-plus.md
  examples/oss-metadata-to-plus/LICENSE
  examples/oss-metadata-to-plus/README.md
  examples/oss-metadata-to-plus/metadata_to_plus/__init__.py
  examples/oss-metadata-to-plus/metadata_to_plus/definitions.py
  examples/oss-metadata-to-plus/metadata_to_plus/existing_definitions.py
  examples/oss-metadata-to-plus/metadata_to_plus/migrate_metadata_job.py
  examples/oss-metadata-to-plus/metadata_to_plus_tests/__init__.py
  examples/oss-metadata-to-plus/metadata_to_plus_tests/test_assets.py
  examples/oss-metadata-to-plus/pyproject.toml
  examples/oss-metadata-to-plus/setup.cfg
  examples/oss-metadata-to-plus/setup.py
Labels: area: docs

#28885 Fix pyright errors in OSS -> Plus example
  examples/oss-metadata-to-plus/metadata_to_plus/migrate_metadata_job.py
Labels: area: docs
