Repository dagster-io/dagster, pull requests merged in 2025-02, with the labels that each got.

#26872 [integrations-api][beta] dagster-tableau
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Labels: integration: tableau

#27603 DOC-831 Update docs.dagster.cloud links
  examples/project_dagster_university_start/README.md
  examples/project_du_dbt_starter/README.md
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/README.md.jinja
Labels: area: docs

#27525 DOC-593 Make Vale less noisy
  docs/vale/styles/Dagster/heading-content.yml
  docs/vale/styles/Dagster/sentence-length-variety.yml
  docs/vale/styles/Dagster/spelling.yml
  docs/vale/styles/Dagster/wordiness.yml
  docs/vale/styles/config/ignore/ignore.txt
Labels: area: docs

#27629 DOC-775 Address feedback from new docs rollout
  docs/docs/guides/build/external-pipelines/aws/aws-ecs-pipeline.md
  docs/docs/guides/build/external-pipelines/aws/aws-emr-containers-pipeline.md
  docs/docs/guides/build/external-pipelines/aws/aws-emr-pipeline.md
  docs/docs/guides/build/external-pipelines/aws/aws-emr-serverless-pipeline.md
  docs/docs/guides/build/external-pipelines/aws/aws-glue-pipeline.md
  docs/docs/guides/build/external-pipelines/aws/aws-lambda-pipeline.md
  docs/docs/guides/build/external-pipelines/aws/index.md
  docs/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs/guides/build/external-pipelines/gcp-dataproc-pipeline.md
  docs/docs/guides/build/external-pipelines/index.md
  docs/docs/guides/build/external-pipelines/javascript-pipeline.md
  docs/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/docs/guides/build/external-pipelines/migrating-from-step-launchers-to-pipes.md
  docs/docs/guides/build/external-pipelines/pyspark-pipeline.md
  docs/docs/guides/deploy/code-locations/workspace-yaml.md
  docs/docs/integrations/libraries/spark.md
  docs/vercel.json
Labels: area: docs

#27784 Update Vale and docs build GH actions
  .github/workflows/build-docs.yml
  .github/workflows/vale.yml
Labels: area: docs

#27794 [docs] Standardize mermaid diagrams palette
  docs/CONTRIBUTING.md
  docs/docs/getting-started/concepts.md
  docs/docs/guides/automate/asset-sensors.md
  docs/docs/guides/build/assets/defining-assets.md
Labels: area: docs

#27813 Fix airlift links
  docs/docs/integrations/libraries/airlift/index.md
Labels: area: docs

#27831 Fix code snippets in Fivetran integration docs
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/customize_fivetran_asset_defs.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/fetch_column_metadata_fivetran_assets.py
Labels: area: docs

#27842 Move "Adding a component to a project without yaml" to /guides/labs/components
  docs/docs/guides/labs/components/snippet-graveyard.md
  docs/docs/guides/labs/components/using-a-component-python.md
Labels: area: docs

#27782 New versioned docs
  docs/dagsterVersions.json
  docs/docusaurus.config.ts
Labels: area: docs

#27912 [docs] update script to regen kinds tags into Docusaurus partial
  docs/README.md
  docs/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs/partials/_KindsTags.md
  docs/package.json
  docs/scripts/rebuild-kinds-tags.py
  docs/static/images/guides/build/assets/metadata-tags/kinds/icons/tool-googledrive-color.svg
  docs/static/images/guides/build/assets/metadata-tags/kinds/icons/tool-icechunk-color.svg
  docs/static/images/guides/build/assets/metadata-tags/kinds/icons/tool-mistral-color.svg
  docs/static/images/guides/build/assets/metadata-tags/kinds/icons/tool-r2-color.svg
Labels: area: docs

#27917 Temporarily turn off Vale
  .github/workflows/vale.yml
  docs/docs/guides/test/asset-checks.md
  docs/docs/intro.md
Labels: area: docs

#27848 DOC-878 Reorganize and clean up Components docs
  docs/docs-beta/src/code-examples-content.js
  docs/docs/guides/labs/components/building-pipelines-with-components/adding-components-python.md
  docs/docs/guides/labs/components/building-pipelines-with-components/adding-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/creating-a-code-location-with-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/customizing-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/index.md
  docs/docs/guides/labs/components/building-pipelines-with-components/troubleshooting-components.md
  docs/docs/guides/labs/components/components-etl-pipeline-tutorial.md
  docs/docs/guides/labs/components/creating-new-component-types/creating-a-library-of-components.md
  docs/docs/guides/labs/components/creating-new-component-types/creating-and-registering-a-component-type.md
  docs/docs/guides/labs/components/creating-new-component-types/index.md
  docs/docs/guides/labs/components/creating-new-component-types/testing-your-component-type.md
  docs/docs/guides/labs/components/incrementally-adopting-components/existing-code-location.md
  docs/docs/guides/labs/components/incrementally-adopting-components/existing-definitions.md
  docs/docs/guides/labs/components/incrementally-adopting-components/index.md
  docs/docs/guides/labs/components/index.md
  docs/docs/guides/labs/components/managing-multiple-code-locations.md
  docs/docs/guides/labs/components/using-a-component-python.md
  docs/docs/guides/labs/components/using-a-component.md
  docs/vercel.json
Labels: area: docs

#27946 Rename vale file
  .github/workflows/vale.yml.bak
  docs/docs/guides/build/io-managers/defining-a-custom-io-manager.md
Labels: area: docs

#27919 [docs] update docs_beta_snippets to use `import dagster as dg`
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/2-shell-command-empty.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/empty.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/asset-job-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/ops-job-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/multi-asset-integration/integration.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_component_docs_existing_code_location/my-existing-project/my_existing_project/assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs_migrating_definitions/my-existing-project/my_existing_project/analytics/assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs_migrating_definitions/my-existing-project/my_existing_project/elt/assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
Labels: area: docs

#28001 Do not parallelize local API docs build
  docs/docs/guides/deploy/execution/run-coordinators.md
  docs/scripts/build-api-docs.sh
  docs/sphinx/Makefile
  docs/tox.ini
Labels: area: docs

#27999 DOC-892 move pyproject.toml info to separate reference file
  docs/docs/guides/labs/components/building-pipelines-with-components/creating-a-project-with-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/pyproject-toml.md
  docs/docs/guides/labs/components/building-pipelines-with-components/troubleshooting-components.md
  docs/docs/guides/labs/components/components-etl-pipeline-tutorial.md
  docs/src/code-examples-content.js
  docs/vercel.json
Labels: area: docs, area: dagster-components

#28022 [Components] Switch `dagster dev` to `dg dev`
  docs/docs/guides/labs/components/components-etl-pipeline-tutorial.md
Labels: area: docs, area: dagster-components

#28043 DOC-906 [Docs] Add 1.10.0, 1.101. and 1.10.2 entries to version dropdown
  docs/dagsterVersions.json
  docs/docusaurus.config.ts
Labels: area: docs

#28070 [Docs] Clarify steps for running local build to check for errors
  .github/workflows/build-docs.yml
  docs/README.md
Labels: area: docs

#28072 [DOCS] Correctly exclude README, CONTRIBUTING, and content-templates paths from triggering docs build
  .github/workflows/build-docs.yml
Labels: area: docs

#28089 [Docs] Temporarily remove blank OSS -> Dagster+ migration guide
  docs/docs/dagster-plus/deployment/migration/self-hosted-to-dagster-plus.md
  docs/docs/dagster-plus/index.md
  docs/docs/guides/deploy/index.md
Labels: area: docs

#28143 [DOC-911] Add 1.10.2 versioned docs and set latest to 1.10.3
  docs/dagsterVersions.json
  docs/docusaurus.config.ts
Labels: area: docs
